<header role="banner" >
    <nav 
        class="mainNav" 
        role="navigation">
        <ul>
            <li  
                class="navLink"
                ng-repeat="item in menu">
                <a 
                    href="" 
                    ng-click="showTemplate(item.template)" 
                    alt="{{item.description}} {{item.template}}">

                    <i class="{{item.icon}}"></i>
                    {{item.description}}
                    
                </a>
            </li>

            <li 
                class="navLink"
                ng-class="{'active': set}"
                ng-click="setToggle()">
                <i class="fa fa-wrench"></i>
            </li>

            <li 
                class="navLink" 
                ng-class="{'active': showSubItems}" 
                ng-click="viewToggle()">
                
                <i class="fa fa-eye"></i>
                <ul 
                    class="submenu" 
                    ng-show="showSubItems">
            
                    <li 
                        class="{{subItem.template}}" 
                        ng-repeat="subItem in view">
                        <a 
                            ng-click="showTemplate(subItem.template)" 
                            alt="{{subItem.template}}">
                            <div class="subIcon">
                                <i class="{{subItem.icon1}}"></i>
                                <i class="{{subItem.icon2}}"></i>
                            </div>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</header>

