<header role="banner" >
    <nav 
        class="nav" 
        role="navigation">
        <ul>
            <li  
                class="navItem"
                ng-repeat="item in menu">
                <a 
                    href="javascript:void(0)" 
                    ng-click="showSection(item.template)" 
                    alt="{{item.description}} {{item.template}}">

                    <span><i class="{{item.icon}}"></i></span>
                    <span>{{item.description}}</span>
                    
                </a>
            </li>
          
            <li 
                class="navItem"
                ng-class="{'active': set}"
                ng-click="setToggle()">
                <span><i class="fa fa-wrench"></i></span>
            </li>

            <li 
                class="navItem" 
                ng-class="{'active': showSubItems}" 
                ng-click="viewToggle()">
                
                <span><i class="fa fa-eye"></i></span>
                
            </li>
        </ul>
        <ul 
            class="submenu" 
            ng-show="showSubItems">
    
            <li 
                class="{{subItem.template}}" 
                ng-repeat="subItem in view">
                <a 
                    href="javascript:void(0)"
                    ng-click="showMode(subItem.template)"
                    alt="{{subItem.template}}">

                    <span><i class="{{subItem.icon1}}"></i></span>
                    <span><i class="{{subItem.icon2}}"></i></span>
                    
                </a>
            </li>
        </ul>
    </nav>
</header>


