
<section 
    class="template tempDvb"
    ng-if="view.currentView === 'dvb'" >
                        
    <p>
        When the transcription of the Vercelli Book manuscript (Codex CXVII, Archivio e Biblioteca Capitolare di Vercelli) passed the 50% landmark, 
        researchers working on the project started to think about the best way to visualize the edition.
        Thanks to the openness and support of the Biblioteca Capitolare, it was decided to abandon the original plan of a CD/DVD publication,
        largely inspired by digital editions such as the Electronic Beowulf, in favor of a web-based publication.
        While this decision was critical in that it allowed us to select the most supported and widely-used medium, we soon discovered that it did not make choices any simpler. <br>
        Since it was originally born as part of the Digital Vercelli Book project, EVT (Edition Visualization Technology) was developed to deal with the XML encoding of texts which had been prepared for that project, namely making use of the XML TEI P5
        parallel transcription method. When using this method, information about the scan and possibly the coordinates
        of sensible areas are separated from the transcription and aligned with it thanks to linking attributes.
    </p>
    <ul 
        class="dvbList"
        ng-repeat="item in dvb">
        <li>
            <a 
                href="{{item.url}}"
                target="_blank"
                title="{{item.title}}">

                <span> {{item.description}} <i class="fa fa-external-link"></i> </span>

            </a>
        </li>               
    </ul>


</section>


<section 
    class="template tempThumbnails"
    ng-if="view.currentView === 'thumbnails'" >

    
        {{view.currentView}}
    

</section>


<section 
    class="template tempSearch"
    ng-if="view.currentView === 'search'" >

    
        {{view.currentView}}
    

</section>

 
<section 
    class="template tempImage"
    ng-if="view.currentView === 'image'" >

    <ng-include src="'singleImage'"></ng-include>
    <ng-include src="'singlePrevNext'"></ng-include>

</section>


<section 
    class="template tempText"
    ng-if="view.currentView === 'text'" >

   
    <ng-include src="'diplomatic'"></ng-include>
    <ng-include src="'singlePrevNext'"></ng-include>


</section>


<section 
    class="template tempImageImage"
    ng-if="view.currentView === 'imageimage'" >

    <ng-include src="'doubleImage'"></ng-include>
    <ng-include src="'doublePrevNext'"></ng-include>

</section>


<section 
    class="template tempImageText"
    ng-if="view.currentView === 'imagetext'" >
 
    <ng-include src="'singleImage'"></ng-include>
    <ng-include src="'diplomatic'"></ng-include>
    <ng-include src="'singlePrevNext'"></ng-include>

</section>


<section 
    class="template tempTextText"
    ng-if="view.currentView === 'texttext'" >

    <ng-include src="'diplomatic'"></ng-include>
    <ng-include src="'diplomatic'"></ng-include>
    <ng-include src="'singlePrevNext'"></ng-include>

</section>



<script
    type="text/ng-template"
    id="singleImage"
    ng-if="view.currentView === 'image' || view.currentView === 'imagetext' || view.currentView === 'imageimage'">

    <!-- include data_input: single folio-->
    <figure>
        <img 
            class="slide"
            ng-repeat="img in single_data"
            ng-swipe-right="singlePrev()"
            ng-swipe-left="singleNext()"
            ng-show="isActive($index)"
            ng-src="{{img.src}}"
            alt="{{img.title}} {{img.page}}" />
    </figure>
</script>

<script
    type="text/ng-template"
    id="diplomatic"
    ng-if="view.currentView === 'text' || view.currentView === 'imagetext' || view.currentView === 'texttext'">

    <!-- include data_output: diplomatic edition -->

    <div
        class="slide"
        ng-repeat="text in single_data">

            <!-- page information -->
            <ul 
                class="information"
                ng-show="isActive($index)">

                <li>{{text.page}}</li>
                <li>{{text.title}}</li>

            </ul>

        <div
            ng-swipe-right="singlePrev()"
            ng-swipe-left="singleNext()"
            ng-show="isActive($index)"
            ng-include src="text.d_url">
        </div>

</script>

<script
    type="text/ng-template"
    id="interpretative"
    ng-if="view.currentView === 'text' || view.currentView === 'imagetext' || view.currentView === 'texttext'">

    <!-- include data_output: interpretative edition -->

    <div
        class="slide"
        ng-repeat="text in single_data">

            <!-- page information -->
            <ul 
                class="information"
                ng-show="isActive($index)">

                <li>{{text.page}}</li>
                <li>{{text.title}}</li>

            </ul>

        <div
            ng-swipe-right="singlePrev()"
            ng-swipe-left="singleNext()"
            ng-show="isActive($index)"
            ng-include src="text.i_url">
        </div>

</script>


<script type="text/ng-template" id="doubleImage" ng-if="view.currentView === 'imageimage'">

    <!-- include data_input: double image-->
    <figure>
        <img 
            class="slide"
            ng-repeat="img in double_data"
            ng-swipe-right="doublePrev()"
            ng-swipe-left="doubleNext()"
            ng-show="isActive($index)"
            ng-src="{{img.src}}"
            alt="{{img.title}} {{img.page}}" />
    </figure>
</script>



<script type="text/ng-template" id="singlePrevNext">
     <!-- prev / next controls -->
    <a 
        class="arrow prev"
        href=""
        ng-click="singlePrev()">
    </a>
    <a 
        class="arrow next"
        href=""
        ng-click="singleNext()">
    </a>
</script>

<script type="text/ng-template" id="doublePrevNext">
     <!-- prev / next controls -->
    <a 
        class="arrow prev"
        href=""
        ng-click="doublePrev()">
    </a>
    <a 
        class="arrow next"
        href=""
        ng-click="doubleNext()">
    </a>
</script>



