<section class="settings">
    <section 
        class="leftSettings"
        ng-if="view.currentView === 'text' || view.currentView === 'texttext'">

        <div class="contentSettings">
            <div 
                class ="leftSetOptions"
                ng-show="leftTextOptions">
                
                <ul class="optionText">
                    <li>
                        <span> Diplomatic </span>
                    </li>
                    <li>
                        <span> Interpretative </span>
                    </li>
                </ul>

            </div>
            <div
                class="leftButtonSettings"
                ng-class="{'active': leftTextOptions}"
                ng-click="leftTextSettings()">

                <span>
                    <i class="fa fa-cogs"></i>
                </span>

            </div>
            
        </div>

    </section>

    <section 
        class="leftSettings"
        ng-if="view.currentView === 'imagetext'">

        <div class="contentSettings">
            <div 
                class ="leftSetOptions"
                ng-show="imageOptions">
                
                <ul class="optionText">
                    <li>
                        <span> Hotspot </span>
                    </li>
                    <li>
                        <span> TextLink </span>
                    </li>
                </ul>

            </div>
            <div
                class="leftButtonSettings"
                ng-class="{'active': textOptions}"
                ng-click="showImageSettings()">

                <span>
                    <i class="fa fa-cogs"></i>
                </span>

            </div>
            
        </div>

    </section>


    <section 
        class="rightSettings"
        ng-if="view.currentView === 'imagetext' || view.currentView === 'texttext'">

        <div class="contentSettings">
            <div 
                class ="rightSetOptions"
                ng-show="rightTextOptions">
                
                <ul class="optionText">
                    <li>
                        <span> Diplomatic </span>
                    </li>
                    <li>
                        <span> Interpretative </span>
                    </li>
                </ul>

            </div>
            <div
                class="rightButtonSettings"
                ng-class="{'active': righTextOptions}"
                ng-click="rightTextSettings()">

                <span>
                    <i class="fa fa-cogs"></i>
                </span>

            </div>
            
        </div>

    </section>


</section>
