<div class="evt-bibliography">
	<div class="bibliography">
		<label for="biblStyleSelect">Select your style </label>
		<select id="biblStyleSelect"
			ng-model="selectedStyle"
			ng-options="x for x in styles"/>
		
		
		<label for="biblSortingSelect">How to sort entries? </label>
		<select id="biblSortingSelect"
			ng-model="selectedSorting"
			ng-options="x for x in sortBy"/>

			
		<label for="biblSortOrder">Sort order </label>
		<select id="biblSortOrder"
			ng-model="selectedSortOrder"
			ng-options="x for x in sortOrder"/>			
			
		<div class="biblRef"
			ng-repeat="bibl in bibliographicRefsCollection | orderBy: myComparator: selectedSortOrder === sortOrder[0]? false : true"
			compile="getFormattedBibl(bibl)"
			ng-attr-highlight="{{ isEntryHighlighted(bibl) }}"
			evt-scroll-if="{{ isEntryHighlighted(bibl) }}"
			ng-attr-pubblicationType="{{ pubblicationType(bibl) ? pubblicationType(bibl) : 'unknown' }}">
			<!-- ng-attr-biblID="{{bibl.id ? bibl.id : 'unknown'}}"> -->
		</div>
	</div>
</div>