<div class="evt-bibliography">
	<div class="evt-bibliography__header"
		ng-if="::vm.biblSortStyleSelectVisibility || vm.biblSortSelectVisibility || vm.biblSortOrderSelectVisibility">
	
		<div
			ng-if="::vm.biblSortStyleSelectVisibility"> 
			<label for="biblStyleSelect"> {{ 'BIBLIOGRAPHY.STYLE' | translate }} </label>
			<select id="biblStyleSelect"
				ng-model="vm.initialSelectedStyle"
				ng-options="value as (value.label | translate) for (key, value) in vm.styles"/>
		</div>
	
		<div
			ng-if="::vm.biblSortSelectVisibility"> 
			<label for="biblSortingSelect">{{ 'BIBLIOGRAPHY.SORT_BY' | translate }}  </label>
			<select id="biblSortingSelect"
				ng-model="vm.selectedSorting"
				ng-options="value as (value | translate) for (key , value) in vm.sortBy"/>
		</div>
		
		<div
			ng-if="::vm.biblSortOrderSelectVisibility"> 
			<label for="biblSortOrder">{{ 'BIBLIOGRAPHY.ORDER' | translate }}  </label>
			<select id="biblSortOrder"
				ng-model="vm.selectedSortOrder"
				ng-options="value as (value | translate) for (key , value) in vm.sortOrder"/>
		</div>
		
	</div>
	<div class="evt-bibliography__content"
		ng-class="{'noSorter': !vm.biblSortStyleSelectVisibility && !vm.biblSortSelectVisibility }">
		<div class="biblRef"
			id="{{ ::bibl }}"
			ng-repeat="bibl in vm.biblRefsCollection._indexes | orderBy: vm.getBibliographicRefById : vm.selectedSortOrder === vm.sortOrder.DESC : vm.myComparator"
			compile="vm.getFormattedBibl(bibl)"
			ng-attr-highlight="{{ vm.isEntryHighlighted(bibl) }}"
			evt-scroll-if="{{ vm.isEntryHighlighted(bibl) }}"
			ng-attr-pubblicationType="{{ ::vm.pubblicationType(bibl) }}">
		</div>
	</div>
</div>