<div class="evt-bibliography">
	<div class="bibliography">
		<label for="biblStyleSelect">Select your style </label>
		<select id="biblStyleSelect"
			ng-model="initialSelectedStyle"
			ng-options="value as value for (key , value) in styles"/>
		
		
		<label for="biblSortingSelect">How to sort entries? </label>
		<select id="biblSortingSelect"
			ng-model="selectedSorting"
			ng-options="value as value for (key , value) in sortBy"/>

			
		<label for="biblSortOrder">Sort order </label>
		<select id="biblSortOrder"
			ng-model="selectedSortOrder"
			ng-options="value as value for (key , value) in sortOrder"/>			
			
		<div class="biblRef"
			id="{{bibl}}"
			ng-repeat="bibl in biblRefsCollection._indexes | orderBy: myComparator: selectedSortOrder === sortOrder.DESC"
			compile="getFormattedBibl(bibl)"
			ng-attr-highlight="{{ isEntryHighlighted(bibl) }}"
			evt-scroll-if="{{ isEntryHighlighted(bibl) }}"
			ng-attr-pubblicationType="{{ pubblicationType(bibl) }}">
		</div>
	</div>
</div>