$analogues-apparatus-entry-background-color : $base-color-light;
$analogues-apparatus-entry-background-color-darker : rgb(225, 225, 225);
$analogues-apparatus-entry-border-color : rgb(125, 125, 125);

.analogues-apparatus-entry {
    margin:0;
    margin-bottom: 10px;
    position: relative;
    z-index:0;
    background: $sources-apparatus-entry-background-color;
    color: $base-color-dark;
    font-size: 90%;
    border-left: 1px solid $sources-apparatus-entry-border-color;
    border-right: 1px solid $sources-apparatus-entry-border-color;
    
    cursor: text !important;

    span:not(.app_lemma), span:not(.app_lemma_content) {
        background: transparent;
        display: inline-block;
    }

    &.active {
        display: block;
    }
    &.blurred {
        border: none;
        color: transparent !important;
        text-shadow: 0 0 5px #000;
    }
    &.hidden {
        opacity:0;
        background: transparent !important;
    }

    &_tools{
        padding: 0;
        float: right;
        display: block;
        position: relative;
        bottom: 6px;
        right: -2px;
        background: transparent;
        text-align: center;
        button-switch{
            margin-right: 0;
            font-size: 70%;
            .buttonSwitch {
                box-shadow: none;
                border: 1px solid $sources-apparatus-entry-background-color;
            }
            &.active, &:hover {
                .buttonSwitch {
                    @include set(box-shadow, inset 0 1px 2px 0 rgba(0,0,0,.1));
                    background-color: $sources-apparatus-entry-background-color-darker;
                    border: 1px solid $sources-apparatus-entry-border-color;
                }
            }
        }
    }
    &_main-content{
        padding: 5px;
        // width:90%;
        font-size:105%;
        border-top: 1px solid $sources-apparatus-entry-border-color;

        &_header {
            .textNode {
                margin-right: 0.2em;
            }
        }

        &_list {
            border-top: 1px solid $sources-apparatus-entry-border-color;
            ul {
                display: block;
                list-style-type: disc;
                    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
                li {
                    display: block;
                }
            }
        }
    }
    &_other-content{
        border-top: 3px double $sources-apparatus-entry-border-color;
        border-bottom: 1px solid $sources-apparatus-entry-border-color;
        // width:90%;
        p {
            padding: 0 10px;
        }

        &_headers {
            &:not(.closed){
                @include set(box-shadow, 0px 9px 5px -4px $sources-apparatus-entry-background-color-darker);
            }
            z-index: 2;
            position: relative;
            span {
                padding: 5px;
                display: inline-block;
                font-size: 90%;
                cursor: pointer;
                border-left: 1px solid $sources-apparatus-entry-background-color-darker;
                &:first-child {
                    border-left: none;
                }
                &:hover {
                    text-shadow: 0px 0px 1px rgba(0,0,0,.7);
                }
                &.active{
                    @include set(box-shadow, inset 0 2px 2px -1px $sources-apparatus-entry-border-color);
                    background-color: $sources-apparatus-entry-background-color-darker;
                    border-right: 1px solid $sources-apparatus-entry-background-color-darker;
                    &:not(:first-child) {
                        border-left: 1px solid $sources-apparatus-entry-background-color-darker;
                    }
                    + span {
                        border-left: none;
                    }
                }
            }
        }

        &_panels{
            &:not(.closed){
                padding: 10px 15px;
            }
            max-height: 150px;
            overflow-x: hidden;
            overflow-y: auto;
            background-color: $sources-apparatus-entry-background-color-darker;

        }

        &_panel {
            display: none;
            &.active {
                display: block;
                margin-bottom: 10px;
            }
            ul {
                padding-left: 10px;
                list-style-type: none;
                margin: 5px 0px;
            }
            .textNode {
                margin-right: 0.2em;
            }
        }
    }
    .attributes {
        &::before {
            content: " – ";
        }
        &::after {
            content: "";
        }
        span {
            font-style: italic;
            &::after {
                content:", ";
            }
            &:last-child {
                &::after {
                    content:"";
                }
            }
        }
    }
}
.analogues-apparatus-entry.noTools{
    .analogues-apparatus-entry_main-content, .analogues-apparatus-entry_other-content {
        width: 100%;
    }
    border-right: 1px solid $analogues-apparatus-entry-border-color;
}
.in_analogues_apparatus {
    .analogus-apparatus-entry {
        cursor: pointer !important;
        border: 0;
        background: transparent;
        &:hover{
            background: $analogues-apparatus-entry-background-color;
            > * {
                background: $analogues-apparatus-entry-background-color;
            }
        }
        &_tools{
            border: 0;
            padding-left: 0;
            button-switch  {
                .buttonSwitch {
                    border: 1px solid transparent;
                }
            }
        }
        &_main-content{
            border: 0;
        }
        &_other-content {
            display: none;   
        }
    }
    &.active {
        .analogues-apparatus-entry {
            background: $analogues-apparatus-entry-background-color;
        }
    }
}
.blurred .analogues-apparatus-entry, .blurred .analogues-apparatus-entry * {
    border: none !important;
    @include set(box-shadow, 'none');
    color: transparent !important;
    text-shadow: 0 0 5px #000 !important;
    background: transparent !important
}

//Temp
.moreInfo{
    &-label{
        font-weight: bold;
        font-variant: small-caps;
        &:after {
            content: ": ";
        }
    }
    &-metadataTitle{
        border-top: 1px solid #999;
        padding-top: 10px;
        text-align: center;
        width: 100%;
        font-variant: small-caps;
        font-size: 95%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.app_reading_content {
    margin-bottom: 20px !important;
}