sup.iconbis-evt_analogue {
    font-size: 0.8em;
    color: $base-color-dark;
    margin: 0;
    padding: 0;
    display: inline;
}

.analogues-apparatus-entry {
    margin:0;
    margin-bottom: 10px;
    position: relative;
    z-index:0;
    background: $critical-apparatus-entry-background-color;
    color: $base-color-dark;
    font-size: 90%;
    border-left: 1px solid $critical-apparatus-entry-border-color;
    border-right: 1px solid $critical-apparatus-entry-border-color;
    
    cursor: text !important;

    span:not(.app_lemma), span:not(.app_lemma_content) {
        background: transparent;
    }

    &.active {
        display: block;
    }
    &.blurred {
        border: none;
        color: transparent !important;
        text-shadow: 0 0 5px #000;
    }
    &.hidden {
        opacity:0;
        background: transparent !important;
    }
    &.over {
        -webkit-box-shadow: 4px 4px 5px 0px rgba(125,125,125,1);
        -moz-box-shadow: 4px 4px 5px 0px rgba(125,125,125,1);
        box-shadow: 4px 4px 5px 0px rgba(125,125,125,1);
    }
    &:hover {
        &:not(.selected) {
            -webkit-box-shadow: 4px 4px 5px 0px rgba(125,125,125,1);
            -moz-box-shadow: 4px 4px 5px 0px rgba(125,125,125,1);
            box-shadow: 4px 4px 5px 0px rgba(125,125,125,1);
        }
    }
    &.selected {
        background-color: $critical-apparatus-entry-selected-background-color;
    }

    &_tools{
        padding: 0;
        float: right;
        display: block;
        position: relative;
        bottom: 4px;
        right: -2px;
        background: transparent;
        text-align: center;
        button-switch{
            margin-right: 0;
            font-size: 70%;
            .buttonSwitch {
                box-shadow: none;
                border: 1px solid $critical-apparatus-entry-background-color;
            }
            &.active, &:hover {
                .buttonSwitch {
                    @include set(box-shadow, inset 0 1px 2px 0 rgba(0,0,0,.1));
                    background-color: $critical-apparatus-entry-background-color-darker;
                    border: 1px solid $critical-apparatus-entry-border-color;
                }
            }
        }
    }
    &_main-content{
        padding: 9px;
        // width:90%;
        font-size:105%;
        border-top: 1px solid $critical-apparatus-entry-border-color;

        &_header {
            display: inline;
            .textNode {
                margin-right: 0.2em;
            }
            span {
                display: inline;
                margin-right: 0.2em;
            }
        }

        &_list {
            border-top: 1px solid $critical-apparatus-entry-border-color;
            padding: 0;
            &-label {
                width: 100%;
                font-variant: small-caps;
                font-size: 95%;
                position: relative;
                left: 1em;
                padding-top: 0.2em;
                padding-bottom: 0;
                margin-bottom: 0;
                top: 10px;
            }
            ul {
                &.pointer {
                    cursor: pointer;
                }
                width: 100%;
                display: block;
                list-style-type: disc; 
                li.source-id {
                    font-size: 105%;
                    display: list-item;
                    font-style: italic;
                    &.over{
                        text-shadow: 0px 0px 1px rgba(0,0,0,.7);
                        cursor: pointer;
                    }
                    &.selected {
                        font-weight:bold;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    &_other-content{
        border-top: 3px double $critical-apparatus-entry-border-color;
        border-bottom: 1px solid $critical-apparatus-entry-border-color;
        // width:90%;
        p {
            padding: 0 10px;
        }

        &_headers {
            z-index: 2;
            position: relative;
            span {
                padding: 5px;
                display: inline-block;
                font-size: 90%;
                cursor: pointer;
                border-left: 1px solid $critical-apparatus-entry-background-color-darker;
                &:first-child {
                    border-left: none;
                }
                &:hover {
                    text-shadow: 0px 0px 1px rgba(0,0,0,.7);
                }
                &.active{
                    @include set(box-shadow, inset 0 2px 2px -1px $critical-apparatus-entry-border-color);
                    background-color: $critical-apparatus-entry-background-color-darker;
                    border-right: 1px solid $critical-apparatus-entry-background-color-darker;
                    &:not(:first-child) {
                        border-left: 1px solid $critical-apparatus-entry-background-color-darker;
                    }
                    + span {
                        border-left: none;
                    }
                }
            }
        }

        &_panels{
            &:not(.closed){
                padding: 10px 15px;
            }
            max-height: 150px;
            overflow-x: hidden;
            overflow-y: auto;
            background-color: $critical-apparatus-entry-background-color-darker;

        }

        &_panel {
            display: none;
            &.active {
                display: block;
                margin-bottom: 10px;
            }
            ul {
                padding-left: 10px;
                list-style-type: none;
                margin: 5px 0px;
            }
            .textNode {
                margin-right: 0.2em;
            }
        }
    }
    .attributes {
        &::before {
            content: " – ";
        }
        &::after {
            content: "";
        }
        span {
            font-style: italic;
            &::after {
                content:", ";
            }
            &:last-child {
                &::after {
                    content:"";
                }
            }
        }
    }
}
.analogues-apparatus-entry.noTools{
    .analogues-apparatus-entry_main-content, .analogues-apparatus-entry_other-content {
        width: 100%;
    }
    border-right: 1px solid $critical-apparatus-entry-border-color;
}
.in_analogues_apparatus {
    .analogues-apparatus-entry {
        cursor: pointer !important;
        border: 0;
        background: transparent;
        &:hover{
            background: $critical-apparatus-entry-background-color;
            > * {
                background: $critical-apparatus-entry-background-color;
            }
        }
        &_tools{
            border: 0;
            padding-left: 0;
            button-switch  {
                .buttonSwitch {
                    border: 1px solid transparent;
                }
            }
        }
        &_main-content{
            border: 0;
        }
        &_other-content {
            display: none;   
        }
    }
    &.active {
        .analogues-apparatus-entry {
            background: $critical-apparatus-entry-background-color;
        }
    }
}
.blurred .analogues-apparatus-entry, .blurred .analogues-apparatus-entry * {
    border: none !important;
    @include set(box-shadow, 'none');
    color: transparent !important;
    text-shadow: 0 0 5px #000 !important;
    background: transparent !important
}