.analogue {
    padding: 0;
    cursor: pointer;

    i.iconbis-evt_analogue {
        font-size: 0.8em;
        color: $base-color-dark;
        margin: 0;
        padding: 0;
        margin-right: -6px;
    }
    i.iconbis-evt_analogue:after {
        white-space: nowrap;
    }
    
    .analogue__text {
        border-bottom: 1px dotted $base-color-dark;
    }

    &.over  {
        .analogue__text {
            background-color: $critical-element-highlight !important;
        }
    }
    &.selected {
        i.iconbis-evt_analogue {
            font-size: 1em;
            color: $base-color-dark;
        }
        .analogue__text{
            border-bottom: 1px solid $base-color-dark;
        }        
    }
}