.apparatuses_main {
    margin: 0;
    padding: 0;
    .apparatuses_tabs_headers {
        width: 100%;
        margin: 0;
        padding: 0;
        color: $base-color-dark;
        background-color: $base-color-light;
        .appLabel {
            display: inline;
            .activeAppLabel {
                color: $box-witness-background-color;
                background-color: $box-witness-structure-color-dark;
            }
        }
    }
}