.apparatuses_main {
    margin: 0;
    padding: 0;
    .apparatuses_tabs_headers {
        width: 100%;
        margin: 0;
        padding: 0;
        .appLabel {
            display: inline;
            color: $base-color-dark;
            background-color: $base-color-light;
            .activeAppLabel {
                color: $box-witness-background-color;
                background-color: $box-witness-structure-color-dark;
            }
        }
    }
    .apparatuses_tabs_body {
        .active-apparatus {
            overflow-y: auto;
        }
        evt-sources-apparatus-entry, evt-critical-apparatus-entry, evt-analogues-apparatus-entry {
            position: static;
            display: inline;
            z-index: auto;

        }
    }
}