/* *************************** */
/* BIBLIOGRAPHY                */
/* *************************** */

.evt-bibliography {
	&__header {
		position: relative;
		background: #FFF;
		margin-top: 0;
		padding: 10px;
		height: 45px;
		max-height: 45px;
		text-align: center; 
	}

	&__content {
		@include calc(height, #{calc(100% - 45px)});
		width: 100%;
		overflow: auto;
		position: absolute;
		padding: 10px;
	}
}

.evt-bibliography__header > div {
	display: initial;
}

/* ************************** */
/* SINGLE BIBLIOGRAPHIC ENTRY */
/* ************************** */

.biblRef {
    background-color: initial;
    @include set(transition-property, background-color);
    @include set(transition-duration, 2s);
}

.biblRef[highlight=true]{
    background-color: antiquewhite;
}

.biblRef,.biblRef .titleAnalytic, .biblRef .author, .biblRef .titleMonogr,  .biblRef .biblscope,
.biblRef .pubPlace,.biblRef .date,  .biblRef .note, .biblRef  .idno, .biblRef  .edition, .biblRef  .accessed,.biblRef  .url,
.biblRef .vol, .biblRef .pp, .biblRef .editors,.biblRef .date ,.biblRef .publisher {
    color: #666;
    font-size: 90%;
		&:before{
		content: ' ';
	}
}

.biblRef > span:last-of-type:after{
	content: '.' !important;
}

.biblRef > span:last-child:after{
	content: '.' !important;
}

.biblRef .name:before, .biblRef .surname:before{
	content: ' ';
}

.biblRef  .accessed{
	content: ' accessed '
}

.biblRef  .url:before{
	content: ' url: '
}



.biblRef .idno[data-type=DOI]:before{
		content: ' DOI:'
	}

.biblRef .idno[data-type=ISSN]:before{
		content: ' ISSN:'	
}

.biblRef .idno[data-type=ISBN]:before{
		content: ' ISBN:'
	}

.biblRef .idno[data-type=URI]:before{
		content: ' URI:'	
}

.biblRef .idno[data-type=VIAF]:before{
		content: ' VIAF:'
	}

.biblRef .idno[data-type=ESTC]:before{
		content: ' ESTC:'	
}


.biblRef .idno[data-type=OCLC]:before{
		content: ' OCLC:'
	}


.biblRef .author .name[data-style=chicago]:after{
	content: ', '
}

.biblRef .author .surname[data-style=chicago]:after{
	content: ', '
}
 
/*nell'ultimo figlio  dell'ultimo autore non deve esserci nulla*/
.biblRef .authors[data-style=chicago] > .author:last-child span:last-child:after{
	content: ''
}
 
/* prima dell'ultimo autore deve esserci and*/ 
.biblRef .authors[data-style=chicago] > .author:last-child:before{
	content: 'and '; 
}
/* se c'è solo un autore il before deve essere vuoto*/
.biblRef .authors[data-style=chicago] > .author:first-child:before{
	content: ' '; 
}

.biblRef .titleAnalytic[data-style=chicago]:before{
	content: ' "'
}

.biblRef .titleAnalytic[data-style=chicago]:after{
	content: '", '
}

.biblRef .titleMonogr[data-style=chicago]{
	font-style:italic;
	&:after
	{
	content: '.'
	}
}

.biblRef .titleAnalytic[data-style=chicago] + .titleMonogr[data-style=chicago]:before{
	font-style:initial;
	content: 'in ';
}


.biblRef  .vol[data-style=chicago]:not(:last-child):after{
	content: ','
}

.biblRef[pubblicationtype=m]  .edition[data-style=chicago]:after{
	content: '.'
}

.biblRef[pubblicationtype=m]  .vol[data-style=chicago]:after{
	content: '.'
}

.biblRef  .issue[data-style=chicago]:before{
	content: ' no. '
}


.biblRef[pubblicationtype=m]  .edition[data-style=chicago]:after{
	content: '.'
}

.biblRef > .editors[data-style=chicago] > .editor[data-style=chicago]:after{
	content: ','
}

.biblRef .editors[data-style=chicago] > .editor:first-child:before{
	content: ' edited by '
}

.biblRef .editors[data-style=chicago] > .editor:last-child:before{
	content: ' and '
}

.biblRef .editors[data-style=chicago] > .editor:last-child:after{
	content: ''
}

.biblRef > .pubPlace[data-style=chicago]:not(:last-child):after{
	content: ': '
}

.biblRef > .pubPlace[data-style=chicago]:after{
	content: '. '
}
.biblRef[pubblicationtype=m] > .publisher[data-style=chicago]:not(:last-child):after{
	content: ','
}

.biblRef[pubblicationtype=m] > .publisher[data-style=chicago]:after{
	content: '.'
}

.biblRef .date[data-style=chicago]:after{
	content: '. '
}





.biblRef  .date[data-style=apa]:before{
	content: ' ('
}

.biblRef  .date[data-style=apa]:after{
	content: '). '
}


.biblRef  .vol[data-style=apa]:not(:last-child):after{
	content: ','
}

.biblRef[pubblicationtype=m]  .pp[data-style=apa]:before{
	content: ' (pp. '
}

.biblRef[pubblicationtype=m]  .pp[data-style=apa]:after{
	content: '). '
}

.biblRef[pubblicationtype=a]  .pp[data-style=apa]:before{
	content: '  '
}

.biblRef[pubblicationtype=a]  .pp[data-style=apa]:after{
	content: '  '
}

.biblRef[pubblicationtype=j]  .pp[data-style=apa]:after,.biblRef[pubblicationtype=u]  .pp[data-style=apa]:after{
	content: '. '
}

.biblRef .titleAnalytic[data-style=apa]:after,.biblRef .titleMonogr[data-style=apa]:after{
	content: '. '
}

.biblRef .titleMonogr[data-style=apa]{
	font-style: italic;
}

.biblRef  .edition[data-style=apa]:before{
	content: ' '
}

.biblRef  .edition[data-style=apa]:after{
	content: '. '
}


.biblRef  .pubPlace[data-style=apa]:after{
	content: ':'
}

.biblRef  .publisher[data-style=apa]:before{
	content: ' '
}

.biblRef  .publisher[data-style=apa]:after{
	content: '. '
}

.biblRef  .url[data-style=apa]:before{
	content: ' '
}

.biblRef  .url[data-style=apa]:after{
	content: '. '
}


.biblRef  .author > .name[data-style=apa]:after {
    content: ', ';
}

.biblRef  .author > .surname[data-style=apa]:after {
    content: ', ';
}

.biblRef  .author[data-style=apa]:not(:first-child):before{
	content: ' '
}

/*nell'ultimo figlio  dell'ultimo autore non deve esserci nulla*/
.biblRef .authors[data-style=apa] > .author:last-child span:last-child:after{
	content: '';
}
 
/* prima dell'ultimo autore deve esserci &*/ 
.biblRef .authors[data-style=apa] > .author:last-child:before{
	content: '& '; 
}
/* se c'è solo un autore il before deve essere vuoto*/
.biblRef .authors[data-style=apa] > .author:first-child:before{
	content: ' '; 
}










.biblRef .author .name[data-style=mla]:after {
    content: ", ";
}

.biblRef  .author .surname[data-style=mla]:after{
	content: ', '
}

/*nell'ultimo figlio  dell'ultimo autore non deve esserci nulla*/
.biblRef .authors[data-style=mla] > .author:last-child span:last-child:after{
	content: '';
}
 
/* prima dell'ultimo autore deve esserci &*/ 
.biblRef .authors[data-style=mla] > .author:last-child:before{
	content: 'and '; 
}
/* se c'è solo un autore il before deve essere vuoto*/
.biblRef .authors[data-style=mla] > .author:first-child:before{
	content: ' '; 
}

.biblRef .titleMonogr[data-style=mla]{
    font-style: italic;
	&:after{
		content: '. '
	}
}

.biblRef .titleAnalytic[data-style=mla]:after,.biblRef .date[data-style=mla]:after,.biblRef .editor[data-style=mla]:after,.biblRef .pubPlace[data-style=mla]:after{
	content: '. ';
}


.biblRef[pubblicationtype=j] .titleAnalytic[data-style=mla]:before{
	content: ' "'
}

.biblRef[pubblicationtype=j] .titleAnalytic[data-style=mla]:after{
	content: '." '
}


.biblRef[pubblicationtype=j] .vol[data-style=mla]:after{
	content: '. '
}

.biblRef[pubblicationtype=j] .date[data-style=mla]:before{
	content: ' ('
}

.biblRef[pubblicationtype=j] > .date[data-style=mla]:not(:last-child):after{
	content: '): '
}

.biblRef[pubblicationtype=j] .date[data-style=mla]:last-child:after{
	content: ') ';
}

.biblRef[pubblicationtype=j]  .pp[data-style=mla]:after{
	content: '. '
}

.biblRef[pubblicationtype=j] .titleMonogr[data-style=mla]:after{
	content: '. '
}




.biblRef[pubblicationtype=a] .titleAnalytic[data-style=mla]:before{
	content: ' "'
}

.biblRef[pubblicationtype=a] .titleAnalytic[data-style=mla]:after{
	content: '." '
}


.biblRef[pubblicationtype=a] .vol[data-style=mla]:after{
	content: '. '
}

.biblRef[pubblicationtype=a] .date[data-style=mla]:before{
	content: ' ('
}

.biblRef[pubblicationtype=a] > .date[data-style=mla]:not(:last-child):after{
	content: '): '
}

.biblRef[pubblicationtype=a] .date[data-style=mla]:last-child:after{
	content: ') ' !important;
}

.biblRef[pubblicationtype=a]  .pp[data-style=mla]:after{
	content: '. '
}

.biblRef[pubblicationtype=a] .titleMonogr[data-style=mla]:after{
	content: '. '
}




.biblRef[pubblicationtype=u] .titleAnalytic[data-style=mla]:before{
	content: ' "'
}

.biblRef[pubblicationtype=u] .titleAnalytic[data-style=mla]:after{
	content: '." '
}


.biblRef[pubblicationtype=u] .vol[data-style=mla]:after{
	content: '. '
}

.biblRef[pubblicationtype=u] .date[data-style=mla]:before{
	content: ' ('
}

.biblRef[pubblicationtype=u] > .date[data-style=mla]:not(:last-child):after{
	content: '): '
}

.biblRef[pubblicationtype=u] .date[data-style=mla]:last-child:after{
	content: ') ' !important;
}

.biblRef[pubblicationtype=u]  .pp[data-style=mla]:after{
	content: '. '
}

.biblRef[pubblicationtype=u] .titleMonogr[data-style=mla]:after{
	content: '. '
}