/* *************************** */
/* BOX                         */
/* *************************** */

.box {
    @include span(9 of 18);
    height:100%;
    white-space: normal;
    position: relative;
    display: inline-block;
    @include colors($box-text-color, $box-background-color);
    
    .box-body {
        border: $mainContainer-border-width solid $box-structure-color-dark;
    }

    /* BOX INTERNAL ELEMENTS */
    .box-menu {
            @include inside-header();
            @include colors($box-structure-color-light, $box-structure-color-dark);

            &[data-position='top']{
                display: setVisibility($mainContainer-top-menu);
            }

            &[data-position='bottom']{
                display: setVisibility($mainContainer-bottom-menu);
            }
        }
        .box-body {
        @include frameBody();
    }

    .box-top-box, .box-bottom-box{
        background: #fff;
        text-align: left;
        font-size: 90%;
        margin-top: 42px;
        margin-bottom: 42px;
        display: none;
        position: absolute;
        z-index: 10;
        padding: 20px;
        // border: $mainContainer-border-width solid $base-color-dark;

        &.open {
            display: block;
        }
    }
    .box-top-box { 
        background: $box-top-box-backgound-color;
        overflow-y: auto;
        overflow-x: hidden;
        top: $mainContainer-border-width;
        right: $mainContainer-border-width+1;
        left: $mainContainer-border-width+1;
        @include calc(height, #{setInsideFrameHeight()} - ($mainContainer-border-width*2));
        @include calc(width, #{calc(100% - $mainContainer-border-width)});
    }
    .box-bottom-box{
        bottom: 0px;
        right: $mainContainer-border-width;
        left: $mainContainer-border-width;
        height: auto;
        overflow: hidden;
        border-top: 1px solid;
        @include set(box-shadow, 0px 0px 4px rgba(0,0,0,.5));
    }
    .filters-section-title {
        text-transform: uppercase;
        font-weight: bold;
    }

    /* ********* */
    /* BOX TYPES */

    //IMAGE
    &.box-image {
        .box-body {
            @include colors($box-structure-color-light, #000);
            overflow: hidden;
            text-align: center;
            img {
                height: 100%;
            }
        }
    }
    //TEXT
    &.box-text, &.box-critical_apparatus {
        &.span6of18 {
            @include span(isolate 6 of 18);
        }
    }

    //WITNESS
    &.box-witness {
        @include span(isolate 5 of 12);
        float: none;
        
        &.span6of12 {
            @include span(isolate 6 of 12);
        }
        &.span9of9 {
            @include span(isolate 9 of 9);
        }

        .box-body {
            border-color: $box-witness-structure-color-dark;
        }
        .box-menu {
            @include colors($box-witness-structure-color-light, $box-witness-structure-color-dark);
        }
    }
    &.box-text, &.box-witness {
        .box-body {
            position: relative;
            overflow-x: hidden;
            overflow-y: auto;
        }
    }

    &.box-critical_apparatus {
        .box-body{
            height: 100%;
            overflow-x: auto;
        }
    }
    // BODY
    &.topBoxOpened {
        .box-body {
            color: transparent !important;
            text-shadow: 0 0 5px #000;
            * {
                background: transparent !important;
            }
        }
    }
}

// Temporary
// .viewMode .box:last-child{
    // margin: 0px 0px 0px 0.5px;
// }

.compareWits_box {
    @include span(isolate 12 of 18);
    overflow-x: scroll;
    overflow-y: hidden; 
    height:100%;
    white-space: normal;
    position: relative;
    display: inline-block;
    margin: 0;
    &.span9of18 {
        width: span(9 of 18);
        overflow-x: hidden;
    }
    &.span18of18 { //no Critical Text
        width: span(18 of 18);
        .box-witness {
            @include span(isolate 5 of 18);
            float: none;

            &.span6of12,
            &.span9of9 {
                @include span(isolate 9 of 18);
            }
            &.span6of18 {
                @include span(isolate 6 of 18);
            }
        }
    }
}

.compareWits_box--buttonAddWit {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    &.left75 {
        left: 75%
    }
    &.floatRight {
        position: absolute;
        left: 99%;
        transform: translate(-100%, -50%);
        top: 50%;
        
        .buttonSwitch {
            border-radius: 100px;
            height: 40px;
            width: 40px;
            text-align: center;
            opacity: .5;
            
            &:hover{
                opacity: 1;
            }

            &.buttonSwitch-disabled{
                display: none;
            }
        }
        .buttonSwitch-label {
            display: none;
        }
        .buttonSwitch-icon {
            margin-left: 8px;
            margin: 7px 0;
            font-size: 1.2em;
        }
    }
}