/* *************************** */
/* BUTTON SWITCH               */
/* *************************** */

$buttonSwitch-background-color: $base-color-light;
$buttonSwitch-color: $base-color-dark;
$buttonSwitch-shadow-color: rgba(0, 0, 0, 0.4);

$buttonSwitch-active-background-color: #E3C89C;

.buttonSwitch {
    height: 28px;
    min-width: 30px;

    position: relative;
    display: inline-block;
    overflow: visible;
    left: 0px;

    background: $buttonSwitch-background-color;
    color: $buttonSwitch-color;
    font-size: 1em;
    text-align: left;
    
    box-shadow: 0px 2px 4px $buttonSwitch-shadow-color;
    border-radius: 2px;

    &:hover{
        box-shadow: 1px 2px 3px $buttonSwitch-shadow-color inset;
        text-shadow: none !important;
        cursor: pointer;
    }

    &-active{
        background: $buttonSwitch-active-background-color;
    }
    &-disabled{
        opacity: .5;
        cursor: default !important;
        &:hover{
            box-shadow: none !important;
            text-shadow: none !important;
        }
    }

    &-label {
        margin: 0px 4px;
        top: 3.5px;
        position: relative;
    }

    &-icon {
        margin-right: 4px;
        position: relative;
        right: 0px;
        top: 4px;
    }
}