$critical-apparatus-entry-background-color : $base-color-light;

.critical-apparatus-entry {
    margin:0;
    margin-bottom: 10px;
    position: relative;
    z-index:0;
    background: $critical-apparatus-entry-background-color;
    color: $base-color-dark;
    font-size: 90%;
    border: 1px solid black;
    
    cursor: text !important;

    span {
        background: transparent;
        display: inline-block;
    }

    &.active {
        display: block;
    }
    &.blurred {
        border: none;
        color: transparent !important;
        text-shadow: 0 0 5px #000;
    }
    &.hidden {
        opacity:0;
        background: transparent !important;
    }


    &_main-content{
        padding: 5px;
        ul {
            display: inline;
            margin: 0;
            padding: 0;
            li {
                display: inline-block;
                margin-right: 5px;
                &:not(:last-child)::after {
                    content:"; ";
                }

            }
        }
        .app_lemma::after {
            content: "]";
        }
    }
    &_other-content{
        border-top: 3px double #000;
        
        p {
            padding: 0 10px;
        }

        &_headers {
            @include set(box-shadow, "0px -1px 0px 0px rgba(0, 0, 0, 0.5) inset, 0px 9px 5px -4px "+$critical-apparatus-entry-background-color);
            z-index: 2;
            position: relative;
            span {
                padding: 5px;
                display: inline-block;
                font-size: 90%;
                cursor: pointer;
                border-left: 1px dotted #000;
                &:first-child {
                    border-left: none;
                }
                &:hover {
                    text-shadow: 0px 0px 1px rgba(0,0,0,.7);
                }
                &.active{
                    border-right: 1px solid #000;
                    border-bottom: 1px solid $critical-apparatus-entry-background-color;
                    &:not(:first-child) {
                        border-left: 1px solid #000;
                    }
                    + span {
                        border-left: none;
                    }
                }
            }
        }

        &_panels{
            padding: 10px 15px;
            max-height: 150px;
            overflow-x: hidden;
            overflow-y: auto;

        }

        &_panel {
            display: none;
            &.active {
                display: block;
                margin-bottom: 10px;
            }
            ul {
                padding-left: 10px;
                list-style-type: none;
                margin: 5px 0px;
            }
            .app_lemma {
                font-weight: bold;
                &::after {
                    content: "";
                }
                .witnesses {
                    display: none;
                }
            }
            .app_reading {
                font-weight: bold;
                .witnesses {
                    display: none;
                }
            }
        }
    }
    .witnesses {
        display: inline;
        .wit {
            margin: 0 3px;
            cursor: pointer;
            text-decoration: underline;

            &:hover {
                text-shadow: 0px 0px 1px rgba(0,0,0,.7);
            }
            &::after {
                text-decoration: none !important;
            }
            &.selected {
                cursor: default;
                text-shadow: 0px 0px 1px rgba(0,0,0,.7);
                text-decoration: none;
            }
        }
    }
    .attributes {
        &::before {
            content: " – ";
        }
        &::after {
            content: "";
        }
        span {
            font-style: italic;
            &::after {
                content:", ";
            }
            &:last-child {
                &::after {
                    content:"";
                }
            }
        }
    }

    [data-type='pinReading']{
        opacity: .6;
        .buttonSwitch {
            position: absolute;
            right: 2px;
            left: auto;
            box-shadow: none;
            top: 0;
        }
        &:hover {
            opacity: 1;
        }
        &.pinned {
            opacity: 1;
            > * {
                color: $base-color-active-background;
            }
        }
    }
}

.in_critical_apparatus {
    .critical-apparatus-entry {
        cursor: pointer !important;
        border: none;
        background: transparent;
        &:hover{
            background: $critical-apparatus-entry-background-color;
        }
        &_other-content {
            display: none;   
        }
    }
    &.active {
        .critical-apparatus-entry {
            background: $critical-apparatus-entry-background-color;
        }
    }
}
.blurred .critical-apparatus-entry, .blurred .critical-apparatus-entry * {
    border: none !important;
    @include set(box-shadow, 'none');
    color: transparent !important;
    text-shadow: 0 0 5px #000 !important;
    background: transparent !important
}