$critical-apparatus-entry-background-color : $base-color-light;
$critical-apparatus-entry-background-color-darker : rgb(225, 225, 225);
$critical-apparatus-entry-border-color : rgb(125, 125, 125);

.critical-apparatus-entry {
    margin:0;
    margin-bottom: 10px;
    position: relative;
    z-index:0;
    background: $critical-apparatus-entry-background-color;
    color: $base-color-dark;
    font-size: 90%;
    border-left: 1px solid $critical-apparatus-entry-border-color;
    
    cursor: text !important;

    span {
        background: transparent;
        display: inline-block;
    }

    &.active {
        display: block;
    }
    &.blurred {
        border: none;
        color: transparent !important;
        text-shadow: 0 0 5px #000;
    }
    &.hidden {
        opacity:0;
        background: transparent !important;
    }

    &_tools{
        padding: 0 5px 5px;
        float: right;
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        border-left: 1px solid $critical-apparatus-entry-border-color;
        background: #fff;
        width: 10%;
        text-align: center;
        button-switch{
            margin-right: 0;
            font-size: 70%;
            .buttonSwitch {
                box-shadow: none;
                border: 1px solid $critical-apparatus-entry-background-color;
            }
            &.active, &:hover {
                .buttonSwitch {
                    @include set(box-shadow, inset 0 1px 2px 0 rgba(0,0,0,.1));
                    background-color: $critical-apparatus-entry-background-color-darker;
                    border: 1px solid $critical-apparatus-entry-border-color;
                }
            }
        }
    }
    &_main-content{
        padding: 5px;
        width:90%;
        border-top: 1px solid $critical-apparatus-entry-border-color;
        
        ul {
            display: inline;
            margin: 0;
            padding: 0;
            li {
                display: inline-block;
                margin-right: 5px;
                &:not(:last-child)::after {
                    content:"; ";
                }

            }
        }
        .app_lemma::after {
            content: "]";
        }
    }
    &_other-content{
        border-top: 3px double $critical-apparatus-entry-border-color;
        border-bottom: 1px solid $critical-apparatus-entry-border-color;
        width:90%;
        p {
            padding: 0 10px;
        }

        &_headers {
            &:not(.closed){
                @include set(box-shadow, 0px 9px 5px -4px $critical-apparatus-entry-background-color-darker);
            }
            z-index: 2;
            position: relative;
            span {
                padding: 5px;
                display: inline-block;
                font-size: 90%;
                cursor: pointer;
                border-left: 1px solid $critical-apparatus-entry-background-color-darker;
                &:first-child {
                    border-left: none;
                }
                &:hover {
                    text-shadow: 0px 0px 1px rgba(0,0,0,.7);
                }
                &.active{
                    @include set(box-shadow, inset 0 2px 2px -1px $critical-apparatus-entry-border-color);
                    background-color: $critical-apparatus-entry-background-color-darker;
                    border-right: 1px solid $critical-apparatus-entry-background-color-darker;
                    &:not(:first-child) {
                        border-left: 1px solid $critical-apparatus-entry-background-color-darker;
                    }
                    + span {
                        border-left: none;
                    }
                }
            }
        }

        &_panels{
            &:not(.closed){
                padding: 10px 15px;
            }
            max-height: 150px;
            overflow-x: hidden;
            overflow-y: auto;
            background-color: $critical-apparatus-entry-background-color-darker;

        }

        &_panel {
            display: none;
            &.active {
                display: block;
                margin-bottom: 10px;
            }
            ul {
                padding-left: 10px;
                list-style-type: none;
                margin: 5px 0px;
            }
            .app_lemma {
                font-weight: bold;
                &::after {
                    content: "";
                }
                .witnesses {
                    display: none;
                }
            }
            .app_reading {
                font-weight: bold;
                .witnesses {
                    display: none;
                }
            }
        }
    }
    .witnesses {
        display: inline;
        .wit {
            margin: 0 3px;
            cursor: pointer;
            text-decoration: underline;

            &:hover {
                text-shadow: 0px 0px 1px rgba(0,0,0,.7);
            }
            &::after {
                text-decoration: none !important;
            }
            &.selected {
                cursor: default;
                text-shadow: 0px 0px 1px rgba(0,0,0,.7);
                text-decoration: none;
            }
        }
    }
    .attributes {
        &::before {
            content: " – ";
        }
        &::after {
            content: "";
        }
        span {
            font-style: italic;
            &::after {
                content:", ";
            }
            &:last-child {
                &::after {
                    content:"";
                }
            }
        }
    }
}
.critical-apparatus-entry.noTools{
    .critical-apparatus-entry_main-content, .critical-apparatus-entry_other-content {
        width: 100%;
    }
    border-right: 1px solid $critical-apparatus-entry-border-color;
}
.in_critical_apparatus {
    .critical-apparatus-entry {
        cursor: pointer !important;
        border: 0;
        background: transparent;
        &:hover{
            background: $critical-apparatus-entry-background-color;
            > * {
                background: $critical-apparatus-entry-background-color;
            }
        }
        &_tools{
            border: 0;
            padding-left: 0;
            button-switch  {
                .buttonSwitch {
                    border: 1px solid transparent;
                }
            }
        }
        &_main-content{
            border: 0;
        }
        &_other-content {
            display: none;   
        }
    }
    &.active {
        .critical-apparatus-entry {
            background: $critical-apparatus-entry-background-color;
        }
    }
}
.blurred .critical-apparatus-entry, .blurred .critical-apparatus-entry * {
    border: none !important;
    @include set(box-shadow, 'none');
    color: transparent !important;
    text-shadow: 0 0 5px #000 !important;
    background: transparent !important
}