.download {
  &_button {
    display: inline-block;
    margin-left: 1em;
    background-color: $base-color-light;
    height: 28px;
    @include set(border-radius, 2px);
    @include set(box-shadow, 0px 2px 4px $selector-shadow-color);
    &:hover {
      cursor: pointer;
      color: $base-color-light;
      background-color: $base-color-dark;
    }
    a {
      color: $base-color-dark;
      text-decoration: none;
      margin: 0.3em;
    }
  }
  .option-container {
    z-index: 100000 !important;
  }
}