/* *************************** */
/* FONTS */
@font-face {
    font-family: 'Junicode';
    src: url('../fonts/Junicode.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Junicode-bold';
    src: url('../fonts/Junicode-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Junicode-italic';
    src: url('../fonts/Junicode-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
/* == END Fonts */
/* =========================== */