/* *************************** */
/* INTERPRETATIVE EDITION	   */
/* *************************** */

.interpretativeEdition {
	// Abbreviations and Their Expansions
	.choice {
		> .abbr {
			display: none;
		}

		.expan {}
	}

	// Additions, Deletions, and Omissions
	.add {
		&[data-place='above'] {}
	}

	//TEMP. TODO: creare direttiva apposita per GLYPHs and CHARs
	.glyph {
		.glyphname, .mapping {
			display: none;
		}

		.mapping[data-type="interpretative"], .mapping[data-type="normalized"] {
			display: inline;
		}
	}

	.char {
		.charname, .mapping {
			display: none;
		}

		.mapping[data-type="interpretative"], .mapping[data-type="normalized"] {
			display: inline;
		}
	}

	.choice {
		display: inline;

		&:before, &:after {
			content: "";
		}

		.corr, .orig {
			font-size: 80%;
			position: absolute;
			line-height: 16px;
			display: none;
			border: 1.5px solid black;
			border-radius: 3px;

			@include set(box-shadow, 2px 2px 2px #7e7067);

			padding: 0.4%;
			margin-top: 30px;

			&:before {
				left: 15%;
				position: absolute;
				top: -13px;
			}
		}

		.corr {
			&:before {
				content: url("../images/popup_before_corr.png");
			}
		}

		.corr, .corr * {
			background: #f99069 !important;
		}

		.orig {
			&:before {
				content: url("../images/popup_before.png");
			}
		}

		.orig, .orig * {
			background: #e5dac4 !important;
		}

		.reg {
			color: #69513a;

			&:hover, &.hover {
				color: #561c0a;
			}
		}

		&:hover, &.hover {
			.orig, .corr {
				display: inline;
				min-width: 30px;
				text-align: center;
				z-index: 9;
			}

			.corr {
				@include set(transform, translate(-80%, 0));
			}

			.reg {
				text-decoration: underline;
			}
		}

		.sic {
			color: #934d4d;
		}

		.sup {
			line-height: 20px;
			vertical-align: 20%;
		}

		.under {
			line-height: 20px;
			vertical-align: -20%;
		}
	}

	.sic {
		display: inline-table;

		&:before, &:after {
			content: " ";
		}

		.corr {
			font-size: 80%;
			position: absolute;
			line-height: 16px;
			display: none;
			background: #f99069;
			border: 1.5px solid black;
			border-radius: 3px;

			@include set(box-shadow, 2px 2px 2px #7e7067);

			padding: 0.4%;
			margin-top: 30px;

			&:before {
				content: url("../images/popup_before_corr.png");
				left: 15%;
				position: absolute;
				top: -13px;
			}
		}

		.sic {
			color: #934d4d;

			&:hover, &.hover {
				color: #561c0a;
			}
		}

		&:hover, &.hover {
			.corr {
				display: inline;
				min-width: 20px;
				text-align: center;
			}

			.sic {
				text-decoration: underline;
			}
		}
	}

	//TODO: reorder
	.attachment {
		border: 1px solid black;
		padding: 5px 0px 0px 10px;
	}

	.ex {
		font-style: italic;
	}

	.lineN {
		color: grey;
		font-size: 0.8em;
	}

	.resp {
		font-weight: bold;
	}

	.red {
		color: red;
	}

	.hi {
		&[data-rend="7init"] {
			font-size: 140%;
		}

		&[data-rend="init3.1"] {
			font-size: 120%;

			/*font-weight: bold;*/
		}

		&[data-rend="cap"] {
			text-transform: uppercase;
		}

		&[data-rend="double"] {
			font-size: 120%;
		}
	}

	.ex {
		font-style: italic;
	}

	.zone {
		margin-bottom: 5px;
	}

	.p {
		display: block;
	}

	.center, [rend="center"] {
		text-align: center;
		width: 92%;
		display: inline-table;
		background: #FFF;
	}

	.right, [rend="right"] {
		text-align: right;
		display: inline-table;
		background: #FFF;
	}

	.left, [rend="left"] {
		display: inline-table;
	}
}
