/* *************************** */
/* INTERPRETATIVE EDITION	   */
/* *************************** */

.interpretativeEdition {
	// Abbreviations and Their Expansions
	.choice {
		> .abbr {
			display: none;
		}

		.expan {}
	}

	// Additions, Deletions, and Omissions
	.add {
		&[data-place='above'] {}
	}

	//TEMP. TODO: creare direttiva apposita per GLYPHs and CHARs
	.glyph {
		.glyphname, .mapping {
			display: none;
		}

		.mapping[data-type="interpretative"], .mapping[data-type="normalized"] {
			display: inline;
		}
	}

	.char {
		.charname, .mapping {
			display: none;
		}

		.mapping[data-type="interpretative"], .mapping[data-type="normalized"] {
			display: inline;
		}
	}

	.choice {
		display: inline;

		&:before, &:after {
			content: "";
		}

		.corr, .orig {
			font-size: 80%;
			position: absolute;
			line-height: 16px;
			display: none;
			border: 1.5px solid black;
			border-radius: 3px;

			@include set(box-shadow, 2px 2px 2px #7e7067);

			padding: 0.4%;
			margin-top: 30px;

			&:before {
				left: 15%;
				position: absolute;
				top: -13px;
			}
		}

		.corr {
			&:before {
				content: url("../images/popup_before_corr.png");
			}
		}

		.corr, .corr * {
			background: #f99069 !important;
		}

		.orig {
			&:before {
				content: url("../images/popup_before.png");
			}
		}

		.orig, .orig * {
			background: #e5dac4 !important;
		}

		.reg {
			color: #69513a;

			&:hover, &.hover {
				color: #561c0a;
			}
		}

		&:hover, &.hover {
			.orig, .corr {
				display: inline;
				min-width: 30px;
				text-align: center;
				z-index: 9;
			}

			.corr {
				@include set(transform, translate(-80%, 0));
			}

			.reg {
				text-decoration: underline;
			}
		}

		.sic {
			color: #934d4d;
		}

		.sup {
			line-height: 20px;
			vertical-align: 20%;
		}

		.under {
			line-height: 20px;
			vertical-align: -20%;
		}
	}

	.sic {
		display: inline-table;

		&:before, &:after {
			content: " ";
		}

		.corr {
			font-size: 80%;
			position: absolute;
			line-height: 16px;
			display: none;
			background: #f99069;
			border: 1.5px solid black;
			border-radius: 3px;

			@include set(box-shadow, 2px 2px 2px #7e7067);

			padding: 0.4%;
			margin-top: 30px;

			&:before {
				content: url("../images/popup_before_corr.png");
				left: 15%;
				position: absolute;
				top: -13px;
			}
		}

		.sic {
			color: #934d4d;

			&:hover, &.hover {
				color: #561c0a;
			}
		}

		&:hover, &.hover {
			.corr {
				display: inline;
				min-width: 20px;
				text-align: center;
			}

			.sic {
				text-decoration: underline;
			}
		}
	}

	//TODO: reorder
	.attachment {
		border: 1px solid black;
		padding: 5px 0px 0px 10px;
	}

	.ex {
		font-style: italic;
	}

	.lineN {
		color: grey;
		font-size: 0.8em;
	}

	.resp {
		font-weight: bold;
	}

	.red {
		color: red;
	}

	.hi {
		&[data-rend="7init"] {
			font-size: 140%;
		}

		&[data-rend="init3.1"] {
			font-size: 120%;

			/*font-weight: bold;*/
		}

		&[data-rend="cap"] {
			text-transform: uppercase;
		}

		&[data-rend="double"] {
			font-size: 120%;
		}
	}

	.ex {
		font-style: italic;
	}

	.zone {
		margin-bottom: 5px;
	}

	.p {
		display: block;
	}

	.center, [rend="center"] {
		text-align: center;
		width: 92%;
		display: inline-table;
		background: #FFF;
	}

	.right, [rend="right"] {
		text-align: right;
		display: inline-table;
		background: #FFF;
	}

	.left, [rend="left"] {
		display: inline-table;
	}
}
    // Abbreviations and Their Expansions
    .choice {
        > .abbr {
            display: none;
        }
        
        .expan {
            font-style: italic;
        }
    }

    // Additions, Deletions, and Omissions
    .add {
        background-color: #00FF00;

        &[data-place='above'] {}
    }

    .del {
    }

    // 11.3.3.1 Damage, Illegibility, and Supplied Text


    .supplied {
        &[data-reason='omitted'] {}
        &[data-reason='illeggibile'] {}

        &:before{
            content: "[["
        }

        &:after{
            content: "]]"
        }
    }

    //TEMP. TODO: creare direttiva apposita per GLYPHs and CHARs
    .glyph {
        .glyphname, .mapping {
            display: none;
        }

        .mapping[data-type="interpretative"], .mapping[data-type="normalized"] {
            display: inline;
        }
    }

    .char {
        .charname, .mapping {
            display: none;
        }

        .mapping[data-type="interpretative"], .mapping[data-type="normalized"] {
            display: inline;
        }
    }

    .choice {
        display: inline;

        &:before, &:after {
            content: "";
        }

        > .abbr, > .sic, > .orig {
            font-size: 80%;
            position: absolute;
            line-height: 16px;
            display: none;
            border: 1.5px solid black;
            border-radius: 3px;

            @include set(box-shadow, 2px 2px 2px #7e7067);

            padding: 0.4%;
            margin-top: 30px;

            &:before {
                left: 15%;
                position: absolute;
                top: -13px;
            }
        }

        > .sic {
            &:before {
                content: url("../images/popup_before_corr.png");
            }
        }

        .sic, .sic * {
            background: #f99069 !important;
        }
        

        > .orig {
            &:before {
                content: url("../images/popup_before.png");
            }
        }

        .orig, .orig * {
            background: #e5dac4 !important;
        }

        .reg {
            color: #69513a;

            &:hover, &.hover {
                color: #561c0a;
            }
        }

        > .abbr {
            &:before {
                content: url("../images/popup_before_grey.png");
            }
        }

        .abbr, .abbr * {
            background: #E5E5E5 !important;
        }

        &:hover, &.hover {
            .abbr, .sic, .orig{
                display: inline;
                min-width: 30px;
                text-align: center;
                z-index: 9;
            }
            
            .reg {
                background-color: #FFD700;
            }

            .corr{
                background-color: #CCD700;
            }

        }

        .corr {
            display:inline;
            color: #934d4d;
        }

        .sup {
            line-height: 20px;
            vertical-align: 20%;
        }

        .under {
            line-height: 20px;
            vertical-align: -20%;
        }
    }


    //TODO: reorder
    .attachment {
        border: 1px solid black;
        padding: 5px 0px 0px 10px;
    }

    .ex {
        font-style: italic;
    }

    .lineN {
        color: grey;
        font-size: 0.8em;
    }

    .resp {
        font-weight: bold;
    }

    .red {
        color: red;
    }

    .hi {
        &[data-rend="7init"] {
            font-size: 140%;
        }

        &[data-rend="init3.1"] {
            font-size: 120%;

            /*font-weight: bold;*/
        }

        &[data-rend="cap"] {
            text-transform: uppercase;
        }

        &[data-rend="double"] {
            font-size: 120%;
        }
    }

    .ex {
        font-style: italic;
    }

    .zone {
        margin-bottom: 5px;
    }

    .p {
        display: block;
    }

    .center, [rend="center"] {
        text-align: center;
        width: 92%;
        display: inline-table;
        background: #FFF;
    }

    .right, [rend="right"] {
        text-align: right;
        display: inline-table;
        background: #FFF;
    }

    .left, [rend="left"] {
        display: inline-table;
    }


.only-text {
    font-size: 12px !important;
    text-align: center !important;
    padding-left: 5px !important;
}
.lineN {
    text-align: left !important;
}
.highlight {
    /* opacity: 0.4; */
    /* filter: alpha(opacity=40);*/
    /*outline: 10px auto red; */
    /* #0A7EbE; */
    /*background-color: greenyellow;*/
    border: 1px solid #4c2f2f;
    background-color: #c67261;
    opacity: 0.4;
    filter: alpha(opacity=40);
    /* For IE8 and earlier */
}

.selectedHighlight {
    filter: alpha(opacity=50);
    /*outline: 10px auto red;*/
    /* #0A7EbE; */
    /*background-color: greenyellow;*/
    border: 1px solid #4c2f2f;
    background-color: #9c4837;
    opacity: 0.5;
}

.nohighlight {
    border: 1px solid #4c2f2f;
    background-color: #9c4837;
    opacity: 0.5;
}

div.hotspot {
    filter: alpha(opacity=50);
    /*outline: 10px auto red;*/
    /* #0A7EbE; */
}
div.hotspot:hover {
    cursor: help;
    border: 1px solid #4c2f2f;
    background-color: #9c4837;
    opacity: 0.4;
}

a.hotspot {
    /*  width: 30px;
   height: 10px;*/
}

img.hotspot {
    /* width: 30px !important;
   height: 10px !important;*/
    display: block !important;
}

div.hotspot-dida {
    border-radius: 2px;
    color: #000000;
    padding: 0;
    text-align: left;
    width: 30% !important;
    height: 30% !important;
    margin: 0;
    display: block !important;
    position: relative !important;
}

div.hotspot-dida-title {
    font-size: 1em !important;
    color: #fff;
    cursor: move;
    margin: 0;
    text-align: center;
    background-color: #9c4837;
    opacity: 0.8;
}

div.hotspot-dida-body {
    border: 2px solid #9c4837 !important;
    border-radius: 2px;
    font-size: 1em !important;
    overflow-y: scroll;
    text-align: left !important;
    padding: 2px !important;
    opacity: 0.8;
    background-color: #fff;
}


div#osd_img * img {
    display: initial !important;
}

/* regola per note con esponente numerico e alfabetico */
.icon-evt_note {
    font-size: 17px !important;
    color: #fff;
    margin-top: 10px!important;
    text-align: center; 
    font-weight:200;
}
.popover_trigger.active:hover {
    opacity: 0.5;
}
.popover_trigger {
    color: #263238 !important;
    opacity: 10 !important;
}
span.comment{
    background-color: #b46138 !important;
padding: 1px 4px 4px 4px !important;
    opacity: 10 !important;
border-radius: 4px !important;
vertical-align: top !important;
font-variant-position: normal !important;
font-size: 12px !important;
top: 4px !important;
position: relative !important; 
}
span.critic{
    background-color: #c3a27a !important;
    padding: 0px 4px 4px 4px !important;
    border-radius: 4px !important;
    opacity: 10 !important;
vertical-align: top !important;
font-variant-position: normal !important;
font-size: 12px !important;
top: 4px !important;
position: relative !important;    
}

span.buttonSwitch[title = "Thumbnails"],
span.buttonSwitch[title = "Information about this text"],
span.buttonSwitch[title = "Miniature"],
span.buttonSwitch[title = "Informazioni su questo testo"] {
    display: none;
}
.selector {
}
.displayregioncontainer {
}

/* navigatore */
.navigator {
    background-color: rgb(38, 50, 56) !important;
    border: 0.5px solid rgb(38, 50, 56) !important;
    height: 10% !important;
    width: 100% !important;
    padding: 0 !important;
    touch-action: none;
    opacity: 0.3;
}

/* regole per collegamento immagine testo san matteo */
.zoneInImg.lineHover {
    border: 1px solid #4c2f2f !important;
    background-color: #9c4837 !important;
    opacity: .4;
}
.zoneInImg.lineSelected,
.zoneInImg.lineSelected.lineHover {
    border: 1px solid #4c2f2f !important;
    background-color: #9c4837 !important;
    opacity: .5
}
.ITLactive.box-image img {
    display: none
}
.ITLactive.box-image .zoneInImg {
    display: block
}
.ITLactive.box-image .zoneInImg {
    background-color: #9c4837 !important;
}
.ITLactive .lineHover,
.ITLactive .lineHover:after {
    cursor: pointer;
    background-color: rgba(230, 206, 160, .8) !important;
    color: #000
}
.ITLactive .lineSelected,
.ITLactive .lineSelected:after {
    cursor: pointer;
    background-color: rgba(213, 177, 125, .9) !important;
    color: #000
}
.italic {
    font-style: italic
}
.selectedHighlight {
}
#line-overlay-selected {
    background-color: #000 !important;
}
.interpretativeEdition .choice .expan {
    font-style: normal !important;
}
.interpretativeEdition .supplied:before{ 
    content:"["
}
.interpretativeEdition .supplied:after{
    content:"]"
}

.interpretativeEdition .supplied[data-reason="omitted"]:before{ 
    content:"<"
}
.interpretativeEdition .supplied[data-reason="omitted"]:after{
    content:">"
}
.del{
    text-align: left !important;
    color: grey !important;
    display: block !important;
    margin-left: 30px !important;
    margin-bottom: 0 !important;
    background-color: transparent !important;
    text-decoration: none !important;
}

.namedEntity__icon {
    display: none !important;
}
.namedEntity__detail-text {
    margin-left: 0 !important;
    margin-right: 0 !important;
    display: block !important;
}
.namedEntity__detail-icon {
    display: none !important;
}
.namedEntity__detail-text-attribute::after {
    margin-right: 0 !important;
}
.namedEntity__detail-text-attribute:last-of-type::after {
    content: ":" !important;
    margin-right: 0 !important;
}
.namedEntity__detail-text-attribute {
    padding-right: 0 !important;
}
.namedEntity__details {
    margin: 0 !important;
}
.evt-tabs-container.vertical .evt-tabs-container_header-icon {
    display: none !important;
}
.selector .option_container .option-icon-label {
    display: none !important;
}
.lb .lineN {
    text-align: left !important;
    color: grey !important;
    font-size: .8em !important;
    height: 100% !important;
    width: 20px !important;
    display: inline-block !important;
    margin: 0px 10px 32px 0px !important;
    float: left !important;
}
.div {
    display: unset;
    margin: 5px 0 !important;
}
.openseadragon-canvas {
    background-color: #263238 !important;
}
div#box_body_mainImage * img {
    display: block !important;
}
.del{ 
    background-color: white !important;
 }  
