/* SETTINGS ====================================== */ 

@mixin floatSettings ($float){
    width: 40%;
    height: auto;
    display:inline-block;  
    float: $float;      
    overflow: hidden; 

    .active .fa {
        color: #FFF;            
        text-shadow: none;        
    }
}

@mixin floatButtonSettings ($float){
    width: 20%;
    height: 1.8em;
    margin-top: 1.65em;
    padding-top: 0.4em;
    float: $float;
    overflow: hidden;
    display:inline-block;
    background: #333;
    opacity: 0.9;
    font-size: 1.5em;    
}

@mixin floatSetOptions ($float){
    width: 80%;
    height: 100%;
    display:inline-block;
    float: $float;
    background: #666;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;

    li {
        width: 90%;
        margin: 0.5em auto;
        padding-top: 0.2em;
        overflow: hidden;
        background: #333;
        -webkit-box-shadow: 1px 1px 3px 0px #000;
        -moz-box-shadow: 1px 1px 3px 0px #000;
        box-shadow: 1px 1px 3px 0px #000;
    }
}

.settings {
    width: 100%;
    position: fixed;
    display:inline-block;
    z-index: 20;  
    bottom: 0;
}

.leftSettings{
    @include floatSettings (left);
}
.rightSettings {
    @include floatSettings (right);    
}

.contentSettings {
    width: auto;
    height: 100%;
    text-align: center;

    .fa {
        cursor: pointer;
        color: #999;
    }
}

.leftButtonSettings{
    @include floatButtonSettings (left);
}

.rightButtonSettings{
    @include floatButtonSettings (right);
}

.leftSetOptions {
    @include floatSetOptions (left);
    border-right: 5px solid #333;
}

.rightSetOptions {
    @include floatSetOptions (right);
    border-left: 5px solid #333;
}




/* END SETTINGS ====================================== */