@mixin baseArrow() {
    display: block;
    position: fixed;
    top: 50%;
    opacity: 0.8;
    color: #666;
    cursor: pointer;
    font-family: FontAwesome;
    font-size: 4em;
    font-style: normal;
    font-weight: normal;
    text-shadow: 3px 3px 2px #000;
}

.baseTemplate {
    width: 100%;
    height: auto;
    padding-top: 2.5em;
    color: #FFF;
}

.fullscreen {
    width: 100%;
    margin: 0 auto;
}

.halfscreen {
    width: 50%;
    padding: 0 0.5em;
    float: left;
}

.slide {
    max-width: 100%;
    margin: 0 auto;
}

.boxText {
    max-width: 100%;
    background: #FFF;
    color: #000;
}

.contentText,
.information {
    width: 95%;
    margin: 1em auto;
}

.textTitle,
.textPage {
    float: right;
    color: #666;
    padding: 0 0.5em;
}

.prev {
    @include baseArrow();
    left: 2%;

    &::before {
        content: "\f104";
    }
}

.next {
    @include baseArrow();
    right: 2%;

    &::before {
        content: "\f105";
    }
}