/* THUMBNAILS ====================================== */ 

@include border-box-sizing;

.thumbContainer{
    display:table-cell;
    text-align:center;
}

@mixin widthContainer($width){
    padding: gutter(8);
    padding-bottom: 0;
    margin: 1.5em auto;
    display: inline-block;
}

.thumb {

    @include widthContainer(2 of 8);
    margin-bottom: gutter(8);
    
    img {
        max-width: 100%;
        margin: 0 auto;
        -moz-box-shadow: 0 7px 7px -5px #000;
        -webkit-box-shadow: 0 7px 7px -5px #000;
        box-shadow: 0 7px 7px -5px #000;
    }

    figcaption {
        margin: 0.5em 0;
        color: #FFF;
        font-size: 18px;
    }
}


/* END THUMBNAILS ====================================== */ 