/* VIEW ====================================== */ 

/* Normalize: page-include ---------------------------- */
   
#central_wrapper{
    width: 100%;
    height:auto;
}

#text_frame {
    background: #FFF none repeat scroll 0% 0%;
    max-width: 95%;
    width:90%;
    height: auto;
    padding: 4em 0.5em 2em 1em;
    margin: 0 auto;
    text-align: justify;
    font-size: 17px;
    line-height: 25px;
}

span.facs-choice_popup span.facs-orig {
    color: #666;
}

span.facs-choice_popup:hover span.facs-orig,
span.facs-choice_popup.hover span.facs-orig {
    color: #666;
    text-decoration: underline; 
}

span.facs-reg {
    font-size: 90%;
    position: absolute;
    line-height: 25px;
    display: none;
    background: #666 none repeat scroll 0% 0%;
    border: none;
    border-radius: 3px;
    box-shadow: 2px 2px 2px #000;
    padding: 0.5%;
    margin-top: 30px;
    color:#FFF;
}

span.facs-reg:before {
    content: "\f0de";  
    font-family: FontAwesome;
    font-size: 2em;
    font-style: normal;
    font-weight: normal;
    color:#666;
    left: 15%;
    position: absolute;
    top: -8px; 
}

/* Template -------------------------- */
    
@mixin baseTemplate($bgColor){
    width: 100%;
    height: auto;
    top:0;
    padding-top:4.5em;
    position:absolute;
    z-index: -20;        
    color: #FFF;
    background: $bgColor;
}

.tempDvb, .tempThumb, .tempSearch {
    @include baseTemplate(#333);
}

.tempImage, .tempText, .tempImageImage, .tempImageText, .tempTextText{
    @include baseTemplate(#000);
}

/* Template: DVB -------------------- */
    .tempDvb p{
        padding: 2.5em;
    }

    .dvbList {
        width:100%;
        height:100%;
        padding: 1em 0 1em 2.5em;
        background: #666;

        li.span {
            float:left;
            display: inline-block;

        }

        a{
            color: #CCC;
        }
    }

 /* Template: Image, Text, ImageImage, ImageText, TextText  */

    .slide  {
        max-width: 100%;
    }

    .tempImageText .slide, .tempTextText .slide {
        width: 50%;
        float:left;
    }

    .tempText #text_frame {
        width:60%;
        padding-left: 2.5em;
    }

    

    @mixin baseArrow (){
        display: block;
        position: fixed;
        top: 50%;
        z-index: 5;
        opacity: 0.7;
        color:#999;
        outline: medium none;
        font-family: FontAwesome;
        font-size: 4em;
        font-style: normal;
        font-weight: normal;
        text-shadow: 2px 2px 3px #333; 
    }

    .prev { 
        @include baseArrow();
        left:0.3em;

        &::before {
            content: "\f104";
        }
    }

    .next {
        @include baseArrow();
        right: 0.3em;

        &::before {
            content: "\f105"; 
        }
    }
  

/* END VIEW ====================================== */ 