/* SETTINGS ====================================== */ 

.settings {
    width: 100%;
    position: fixed;
    bottom: 0;
    overflow: hidden;
    z-index: 5;
    -moz-box-shadow: 5px 5px 5px 7px #000;
    -webkit-box-shadow:5px 5px 5px 7px #000;
    box-shadow: 5px 5px 5px 7px #000;
}

/* END SETTINGS ====================================== */