/* *************************** */
/* NAMED ENTITY                */
/* *************************** */

.namedEntity {
	display: block;
	background: inherit;
	padding: 5px;
    border-bottom: 1px solid rgba($base-color-middle, .3);

    &__header {
    	display: block;

    	&:hover {
    		cursor: pointer;
    		text-shadow: 0px 0px 1px rgba(0,0,0,.7);
    	}
    }

	&__details {
		display: block;
		padding-left: 16px;
		font-size: 90%;
	}

	&__occurrences, &__moreInfo {
		display: none;

		&.opened {
			display: block;
			> span {
				display: block;
			}
		}

		padding-left: 16px;

		&-toggler {
			display: block;
			font-variant: small-caps;
    		padding-top: 5px;
			cursor: pointer;

			&:hover {
				text-shadow: 0px 0px 1px rgba(0,0,0,.7);
			}
		}
	}

	&__occurrences {

		&-occurrence {
			cursor: pointer;
			border-radius: 4px;
			padding: 3px 6px;
			display: inline-block;
			border: 1px solid rgba($base-color-middle, .3);
			margin-right: 3px;
			font-size: 85%;
			margin-bottom: 3px;
			display: inline-block !important;

			&:hover {
				text-shadow: 0px 0px 1px #000;
				background: rgba($base-color-middle, .2);
			}
		}
	}


}

$personColor : #ffcdd2;
$placeColor  : #c8e6c9;
$orgColor    : #ffb74d; 
.namedEntityRef {
	color: $base-color-middle;
    cursor: pointer;

	&-person, &-pers, &-persName {
		&.active, &:hover {
			background-color: $personColor;
		}
	}

	&-place, &-placeName {
		&.active, &:hover {
			background-color: $placeColor;
		}
	}

	&-org, &-orgName {
		&.active, &:hover {
			background-color: $orgColor;    
		}
	}

	&__details {
		font-size: 90%;
		position: absolute;
		line-height: 100%;
		display: block;
		background: rgba($base-color-light, .9);
		border: 1.5px solid $base-color-dark;
		border-radius: 3px;
		@include set(box-shadow, 2px 2px 2px rgbs($base-color-dark, .6));
		padding: 5px;
		z-index: 99;
		text-align: left;
		cursor: text !important;
		min-width: 30px;
		margin-top: 10px;

		&-before {
            &:before {
	            @include tooltipBeforeAfter();
	            top: -10px;
	            content:"\f0d8";
	            text-shadow: 0px -3px 0px #000;
	            height:0px;
            }
            position: absolute;
            top: 0;
        }
		&.open-up {
			.namedEntityRef__details-before::before {
	            content:"\f0d7";
	            text-shadow: 0px 3px 0px #000;
	        }
    	}
	}
}


.person-active, .pers-active, .persName-active {
	.namedEntityRef {
		&-person, &-pers, &-persName {
			background-color: $personColor;
		}
	}
}

.place-active, .placeName-active {
	.namedEntityRef {
		&-place, &-placeName {
			background-color: $placeColor;
		}
	}
}

.org-active, .orgName-active {
	.namedEntityRef {
		&-org, &-orgName {
			background-color: $orgColor;    
		}
	}
}