/* *************************** */
/* NAMED ENTITY                */
/* *************************** */

.namedEntity {
	display: block;
	background: inherit;
	font-size: 95%;
	//padding: 5px;
	border-bottom: 1px solid rgba($base-color-middle, .3);
	
	&.location-mainText {
		&.opened {
			margin-bottom: 10px;
		}
	}

	&__icon {
		margin-right: 5px;
	}

	&__header {
		display: block;
		padding: 7px;
		padding-bottom: 4px;
		&:hover {
			cursor: pointer;
			//text-shadow: 0px 0px 1px rgba(0,0,0,.7);
		}
		.opener:before {
			content: "\f0da";
		}
	}

	&__details {
		display: none;
		//padding-left: 16px;
		font-size: 85%;

		border-top: 3px double $critical-apparatus-entry-border-color;
		// width:90%;
		p {
			padding: 0 10px;
		}

		&-headers {
			&:not(.closed){
				@include set(box-shadow, 0px 9px 5px -4px $critical-apparatus-entry-background-color-darker);
			}
			z-index: 2;
			position: relative;
			span {
				padding: 5px;
				display: inline-block;
				font-size: 90%;
				cursor: pointer;
				border-left: 1px solid $critical-apparatus-entry-background-color-darker;
				&:first-child {
					border-left: none;
				}
				&:hover {
					//text-shadow: 0px 0px 1px rgba(0,0,0,.7);
				}
				&.active{
					@include set(box-shadow, inset 0 2px 2px -1px $critical-apparatus-entry-border-color);
					background-color: $critical-apparatus-entry-background-color-darker;
					border-right: 1px solid $critical-apparatus-entry-background-color-darker;
					&:not(:first-child) {
						border-left: 1px solid $critical-apparatus-entry-background-color-darker;
					}
					+ span {
						border-left: none;
					}
				}
			}
		}

		&-panels{
			&:not(.closed){
				padding: 10px 15px;
			}
			max-height: 150px;
			overflow-x: hidden;
			overflow-y: auto;
			background-color: $critical-apparatus-entry-background-color-darker;

		}

		&-panel {
			display: block;
			ul {
				padding-left: 10px;
				list-style-type: none;
				margin: 5px 0px;
			}
		}

		//For popup
		.opener:before {
			content: "\f0da";
		}
	}


	&__occurrences, &__moreInfo {
		display: none;

		&.opened, &.location-mainText {
			display: block;
			
			> span {
				display: block;
			}
		}

		padding-left: 16px;

		&-toggler {
			display: block;
			font-variant: small-caps;
			padding-top: 5px;
			cursor: pointer;

			&:hover {
				text-shadow: 0px 0px 1px rgba(0,0,0,.7);
			}

		}
	}


	&__occurrences {

		&-occurrence {
			cursor: pointer;
			border-radius: 4px;
			padding: 3px 6px;
			display: inline-block;
			border: 1px solid rgba($base-color-middle, .3);
			margin-right: 3px;
			font-size: 85%;
			margin-bottom: 3px;
			display: inline-block !important;

			&:hover {
				//text-shadow: 0px 0px 1px #000;
				background: rgba($base-color-middle, .2);
			}
		}
	}

	&.opened, &.location-mainText {
		margin-top: 1px;
		.namedEntity__header .opener:before {
			content: "\f0d7";
		}

		.namedEntity__details {
			display: block;
		}
	}

	&__details {
		&.moreInfoOpened {
			.namedEntity__moreInfo  {
				display: block;
				&-toggler .opener:before {
					content: "\f0d7";
				}
			}
		}

		&.occurrencesOpened {
			.namedEntity__occurrences {
				display: block;
				&-toggler .opener:before {
					content: "\f0d7";
				}
			}
		}
	}
}

$personColor: #ffcdd2;
$placeColor: #c8e6c9;
$orgColor: #ffb74d; 

@mixin namedEntityColors($color) {
	$color-base: rgba($color, .3);
	$color-darker: rgba($color, .5);
	
	&.location-mainText {
		background: $color-base;
	}

	border-bottom-color: rgba($color, .7);

	.namedEntity__details {
		border-top-color: $color-darker;

		&-headers {
			&:not(.closed){
				@include set(box-shadow, 0px 9px 5px -4px $color-base);
			}
			span {
				border-left-color: $color-darker;
				&.active{
					@include set(box-shadow, inset 0 2px 2px -1px $color-base);
					background-color: $color-base;
					border-right-color: $color-darker;
					&:not(:first-child) {
						border-left-color: $color-darker;
					}
				}
				&:hover {
					background-color: $color-base;
				}
			}
		}

		&-panels{
			background-color: $color-base;
		}
	}


	.namedEntity__occurrences {
		&-occurrence {
			background: rgba(255, 255, 255, 0.5);
			border-color: $color-darker;
			&:hover {
				background: rgba(255, 255, 255, 1);
			}
		}
	}
}

.namedEntity {
	&-person, &-pers, &-persName {
		@include namedEntityColors($personColor);
	}

	&-place, &-placeName {
		@include namedEntityColors($placeColor);
	}

	&-org, &-orgName {
		@include namedEntityColors($orgColor);
	}
}

@mixin listColors($color) {
	.evt-list__content {
        > div > *:nth-child(odd) {
		    background: rgba($color, .2);
		}

		> div > *:nth-child(even) {
		     background: rgba($color, .1);
		}

		> div > *:hover {
		    background: rgba($color, .4);
		}
		.namedEntity.opened {
			background: rgba($color, .5);
		}
    }
}
[data-list-type=person] {
	@include listColors($personColor);
}
[data-list-type=place] {
	@include listColors($placeColor);
}
[data-list-type=org] {
	@include listColors($orgColor);
}

.namedEntityRef {
	color: $base-color-middle;
	cursor: pointer;
	
	&.active {
		border-bottom: 5px solid #fff;
	}
	
	&-person, &-pers, &-persName {
		&:hover {
			background-color: $personColor;
		}
		&.active {
			background-color: rgba($personColor, .3);
			border-bottom-color: rgba($personColor, .3);
		}
	}

	&-place, &-placeName {
		&:hover {
			background-color: $placeColor;
		}
		&.active {
			background-color: rgba($placeColor, .3);
			border-bottom-color: rgba($placeColor, .3);
		}
	}

	&-org, &-orgName {
		&:hover {
			background-color: $orgColor;
		}
		&.active {
			background-color: rgba($orgColor, .3);
			border-bottom-color: rgba($orgColor, .3);
		}
	}

	&__details {
		font-size: 90%;
		position: absolute;
		line-height: 100%;
		display: none;
		background: rgba($base-color-light, .9);
		border: 1.5px solid $base-color-dark;
		border-radius: 3px;
		@include set(box-shadow, 2px 2px 2px rgbs($base-color-dark, .6));
		padding: 5px;
		z-index: 99;
		text-align: left;
		cursor: text !important;
		min-width: 30px;
		margin-top: 10px;

		&.active {
			display: block;
		}

		&-before {
			&:before {
				@include tooltipBeforeAfter();
				top: -10px;
				content:"\f0d8";
				text-shadow: 0px -3px 0px #000;
				height:0px;
			}
			position: absolute;
			top: 0;
		}
		&.open-up {
			.namedEntityRef__details-before::before {
				content:"\f0d7";
				text-shadow: 0px 3px 0px #000;
			}
		}
	}
}


.person-active, .pers-active, .persName-active {
	.namedEntityRef {
		&-person, &-pers, &-persName {
			background-color: $personColor;
			&:hover:not(.active) {
				background-color: rgba($personColor, .5);
			}
		}
	}
}

.place-active, .placeName-active {
	.namedEntityRef {
		&-place, &-placeName {
			background-color: $placeColor;
			&:hover:not(.active) {
				background-color: rgba($placeColor, .5);
			}
		}
	}
}

.org-active, .orgName-active {
	.namedEntityRef {
		&-org, &-orgName {
			background-color: $orgColor;
			&:hover:not(.active) {
				background-color: rgba($orgColor, .5);
			}
		}
	}
}

[data-value="person"], [data-value="pers"], [data-value="persName"] {
	.option-icon-label {
		color: $personColor;
	}
}

[data-value="place"], [data-value="placeName"] {
	.option-icon-label {
		color: $placeColor;
	}
}

[data-value="org"], [data-value="orgName"] {
	.option-icon-label {
		color: $orgColor;    
	}
}