/* *************************** */
/* NAVBAR                      */
/* *************************** */

.navBarSlider {
  width: 80%;
  height: $base-slider-height;
  position: relative;
  cursor: pointer;
  z-index: 1;
  display: inline;
  left: 7%;
  top: 10px;
  
	#sliderValue {
		font-size: 0.8em;
		display: inline;
	}
 
	#slider {
	width: 70%;
	}
	
}

.buttonSlider {
	cursor: pointer;
	position: relative;
	}
 
	#left {
        background: #B0E0E6;
		border-radius: 16px;
		font-size: 16px;
		top: 5px;
	}
	
	#right {
        background: #B0E0E6;
		border-radius: 16px;
		font-size: 16px;
		top: 5px;
	}
	
	#leftLeft {
		background: #B0E0E6;
		border-radius: 16px;
		font-size: 16px;
		top: 5px;
	}
	
	#rightRight {
		background: #B0E0E6;
		border-radius: 16px;
		font-size: 16px;
		top: 5px;
	}
	
	#thumbnails {
	border-radius: 16px;
	top: 5px;
	background: #B0E0E6;
	}