/* *************************** */
/* NAVBAR                      */
/* *************************** */

.navBarSliderWrapper {
	height: $base-slider-height;
	background: #2c3b42;
	border: 2px solid #ded0d0;
	position: fixed;
	bottom: 0px;
	width: 95%;
	right: 15px;
	border-radius: 16px;
	}

.navBarSlider {
  position: relative;
  cursor: pointer;
  z-index: 1;
  display: inline;
  bottom: -12px;
  left: 5px;
  
	#sliderValue {
		font-size: 0.8em;
		display: inline;
	}
 
	#slider {
	width: 70%;
	}

.hiding {
	bottom: -50px;
	}
	
.buttonSlider {
	cursor: pointer;
	position: relative;
	}
 
	#left, #right {
        background: #bedde0;
		border-radius: 16px;
		font-size: 15px;
		top: 3px;
	}
	
	
	
	#leftLeft, #rightRight {
		background: #bedde0;
		border-radius: 16px;
		font-size: 15px;
		top: 3px;
	}
	
	
	#thumbnails, #visColl {
	border-radius: 16px;
	top: 3px;
	background: #bedde0;
	}
	
	}