.quote {
    padding: 0;
    cursor: pointer;

    sup.iconbis-evt_quote-left, sup.iconbis-evt_quote-right {
        font-size: 0.5em;
        color: $base-color-dark;
        margin: 0;
        padding: 0;
    }
    sup.iconbis-evt_quote-left:after {
        white-space: nowrap;
    }
    sup.iconbis-evt_quote-right:before {
        white-space: nowrap;
    }

    .quote__text {
        //background-color: $quote-background-default !important;
        border-bottom: 1px dotted $base-color-dark;
    }

    &.over  {
        .quote__text {
            background-color: $critical-element-highlight !important;
        }
    }
    &.selected {
        sup.iconbis-evt_quote-left, sup.iconbis-evt_quote-right {
            font-size: 0.65em;
        }
        .quote__text{
            border-bottom: 1px solid $base-color-dark;
        }
    }

    &.highlight {
        .quote__text {
            background-color: $apparatus-label;
        }
    }

    //FIXME
    &.subquote {
        border-bottom: 1px dashed $base-color-dark;

        &.noquotes {
            sup.iconbis-evt_quote-left, sup.iconbis-evt_quote-right {
                display: none;
            }
        }
    }
}
evt-quote span.quote {
   display: inline !important;
}
span.quote {
   display: none !important;
}
