$quote-background-default: rgb(255, 179, 179);
$quote-background-over:rgb(255, 102, 102);
$quote-background-selected:rgb(255, 102, 102);

.quote {
    padding: 0;
    cursor: pointer;
    
    .quote__text {
        background-color: $quote-background-default !important;
        &.fa-quote-left {
            font-size: 0.1 em !important;
            color: lightgrey !important;
        }
    }

    &.over,
    &.over .quote,
    &.selected {
        .quote__text{
            background-color: $quote-background-over !important;
        }        
    }
}