/* *************************** */
/* READING                     */
/* *************************** */
$reading-background-default  : rgb(208, 220, 255);
$reading-background-hover    : rgb(101, 138, 255);
$reading-background-selected : rgb(208, 220, 255);
.autoLemma {
    .reading:not(.blurred) {
        .reading__text {
            background: url('../images/autoLemma.png') !important;
        }
    }
}
.reading {
    &:not(.hidden) {
        padding:0;
        cursor: pointer;

        .reading__text{
            background: $reading-background-default;
        }

        &.over,
        &.over .reading{
            .reading__text{
                background: $reading-background-hover;
                .empty{
                    padding:0 5px;
                }
            }
        }
        
        &.expansed {
            > .reading__text{
                // background: $reading-background-selected;
                > * {
                    border-top: 1px solid rgb(125, 125, 125);
                    &:first-child{
                        border-left: 1px solid rgb(125, 125, 125);
                    }
                    &:last-child{
                        border-right: 1px solid rgb(125, 125, 125);
                    }
                    border-bottom: 5px solid $critical-apparatus-entry-background-color;
                    position: relative;
                    z-index: 9;
                    margin-bottom:-1px;
                }
            }
            &.blurred, &.blurred *{
                color: transparent !important;
                text-shadow: 0 0 5px #000 !important;
                background: transparent !important
            }
        }
        &.selected{
            .reading__text{
                background: $reading-background-hover;
            }
        }
    }

    &.invisible {
        > .reading__text{
            background: transparent !important;
            border: none;
            cursor: default;
        }
        > .reading__apparatus {
            display: none !important
        }
    }

    // Nested
    &:not(.invisible){
        .reading {
            &:not(.hidden) {
                &:not(.blurred){
                    .reading__text {
                        > * {
                            border: 1px dotted black;
                        }
                    }
                    &.expansed {
                        > .reading__text{
                            > * {
                                border-bottom: 5px solid $critical-apparatus-entry-background-color;
                            }
                        }
                    }
                }
            }
        }
    }
}

.filters__reading__color {
    min-width:10px; 
    min-height:10px; 
    width: 10px; 
    height: 10px; 
    display: inline-block; 
}
