/* *************************** */
/* READING                     */
/* *************************** */

.reading {
    background: #ffccbc;
    padding: 0 3px;
    cursor: pointer;
    
    &.active{
        background: #ff8a65;
    }
}