/* ************************* */

/* EVT 2.0 CUSTOM STYLESHEET */

/* ***************************************************************** */

/*                                                                   */

/* Add here your CSS to customize the style of the elements          */

/* If you'll not see any changes, try adding !important to the rule  */

/*                                                                   */

/* For generic TEI elements, use the tagName as class                */

/* e.g. <del/> => .del{ # your style goes here # }                   */

/*                                                                   */

/* ***************************************************************** */
.only-text {
    font-size: 12px !important;
    text-align: center !important;
    padding-left: 5px !important;
}
.highlight {
    /* opacity: 0.4; */
    /* filter: alpha(opacity=40);*/
    /*outline: 10px auto red; */
    /* #0A7EbE; */
    /*background-color: greenyellow;*/
    border: 1px solid #4c2f2f;
    background-color: #c67261;
    opacity: 0.4;
    filter: alpha(opacity=40);
    /* For IE8 and earlier */
}

.selectedHighlight {
    filter: alpha(opacity=50);
    /*outline: 10px auto red;*/
    /* #0A7EbE; */
    /*background-color: greenyellow;*/
    border: 1px solid #4c2f2f;
    background-color: #9c4837;
    opacity: 0.5;
}

.nohighlight {
    border: 1px solid #4c2f2f;
    background-color: #9c4837;
    opacity: 0.5;
}

div.hotspot {
    filter: alpha(opacity=50);
    /*outline: 10px auto red;*/
    /* #0A7EbE; */
}
div.hotspot:hover {
    cursor: pointer;
    border: 1px solid #4c2f2f;
    background-color: #9c4837;
    opacity: 0.4;
}
a.hotspot {
    width: 30px;
    height: 10px;
}

img.hotspot {
    width: 30px !important;
    height: 10px !important;
    display: block !important;
}

div.hotspot-dida {
    border-radius: 2px;
    color: #000000;
    padding: 0;
    text-align: left;
    width: 30% !important;
    height: 30% !important;
    margin: 0;
    display: block !important;
    position: relative !important;
}

div.hotspot-dida-title {
    font-size: 1em !important;
    color: #fff;
    cursor: move;
    margin: 0;
    text-align: center;
    background-color: #9c4837;
    opacity: 0.8;
    height: 20px;
    
}

div.hotspot-dida-body {
    border: 2px solid #9c4837 !important;
    border-radius: 2px;
    font-size: 1em !important;
    overflow-y: scroll;
    text-align: left !important;
    padding: 2px !important;
    opacity: 0.8;
    background-color: #fff;
}
div#osd-img * img {
    display: initial !important;
}

/* regola per note con esponente numerico e alfabetico */
.icon-evt_note {
    font-size: 17px !important;
    color: #fff;
    margin-top: 10px!important;
    text-align: center; 
    font-weight:200;
}
.popover_trigger.active:hover {
    opacity: 0.5;
}
.popover_trigger {
    color: #263238 !important;
    opacity: 10 !important;
}
span.comment{
    color: #263238 !important;
    opacity: 10 !important;
    vertical-align: top !important;
    font-variant-position: normal !important;
    font-size: 15px !important;
    top: 4px !important;
    position: relative !important; 
}
span.comment:before{ 
    content:"("
}
span.comment:after{
    content:")"
}
span.critic{
    color: #263238 !important;
    opacity: 10 !important;
    vertical-align: top !important;
    font-variant-position: normal !important;
    font-size: 15px !important;
    top: 4px !important;
    position: relative !important;    
}
span.critic:before{ 
    content:"("
}
span.critic:after{
    content:")"
}

/* Regole per note con quadratino colorato */
/*
span.comment{
    background-color: #b46138 !important;
padding: 1px 4px 4px 4px !important;
    opacity: 10 !important;
border-radius: 4px !important;
vertical-align: top !important;
font-variant-position: normal !important;
font-size: 12px !important;
top: 4px !important;
position: relative !important; 
}
span.critic{
    background-color: #c3a27a !important;
    padding: 0px 4px 4px 4px !important;
    border-radius: 4px !important;
    opacity: 10 !important;
vertical-align: top !important;
font-variant-position: normal !important;
font-size: 12px !important;
top: 4px !important;
position: relative !important;    
}*/

span.buttonSwitch[title = "Thumbnails"],
span.buttonSwitch[title = "Information about this text"],
span.buttonSwitch[title = "Miniature"],
span.buttonSwitch[title = "Informazioni su questo testo"] {
    display: none;
}
section.box-image > div:nth-child(1) > button-switch:nth-child(3) > span:nth-child(1){
    padding-right: 4px;
}

/* navigatore 
.navigator {
    background-color: rgb(38, 50, 56) !important;
    border: 0.5px solid rgb(38, 50, 56) !important;
    height: 10% !important;
    width: 100% !important;
    padding: 0 !important;
    touch-action: none;
    opacity: 0.3;
}*/

/* regole per collegamento immagine testo san matteo 
.zoneInImg.lineHover {
    border: 1px solid #4c2f2f !important;
    background-color: #9c4837 !important;
    opacity: .4;
}
.zoneInImg.lineSelected,
.zoneInImg.lineSelected.lineHover {
    border: 1px solid #4c2f2f !important;
    background-color: #9c4837 !important;
    opacity: .5
}*/
.ITLactive.box-image img {
    display: none
}
.ITLactive.box-image .zoneInImg {
    display: block
}
.ITLactive.box-image .zoneInImg {
    background-color: #9c4837 !important;
}
/*
.ITLactive .lineHover,
.ITLactive .lineHover:after {
    cursor: pointer;
    background-color: rgba(230, 206, 160, .8) !important;
    color: #000
}
.ITLactive .lineSelected,
.ITLactive .lineSelected:after {
    cursor: pointer;
    background-color: rgba(213, 177, 125, .9) !important;
    color: #000
}*/
.italic {
    font-style: italic
}
#line-overlay-selected {
    background-color: #000 !important;
}
.interpretativeEdition .p {
    display: inline !important;
}
.interpretativeEdition .choice .expan {
    font-style: normal !important;
}
.interpretativeEdition .supplied:before{ 
    content:"["
}
.interpretativeEdition .supplied:after{
    content:"]"
}
.interpretativeEdition .supplied[data-reason="omitted"]:before{ 
    content:"<"
}
.interpretativeEdition .supplied[data-reason="omitted"]:after{
    content:">"
}
.del{
    text-align: left !important;
    color: grey !important;
    display: block !important;
    margin-left: 30px !important;
    margin-bottom: 0 !important;
    background-color: transparent !important;
    text-decoration: none !important;
}

.namedEntity__icon {
    display: none !important;
}
.namedEntity__detail-text {
    margin-left: 0 !important;
    margin-right: 0 !important;
    display: block !important;
}
.namedEntity__detail-icon {
    display: none !important;
}
.namedEntity__detail-text-attribute::after {
    margin-right: 0 !important;
}
.namedEntity__detail-text-attribute:last-of-type::after {
    content: ":" !important;
    margin-right: 0 !important;
}
.namedEntity__detail-text-attribute {
    padding-right: 0 !important;
}
.namedEntity__details {
    margin: 0 !important;
}
/* Nascondo label occorrenze e xml*/
span.namedEntity__details-header:nth-child(2){
    display: none;
}
span.namedEntity__details-header:nth-child(3) {
    display: none;
}
.evt-tabs-container.vertical .evt-tabs-container_header-icon {
    display: none !important;
}
.selector .option_container .option-icon-label {
    display: none !important;
}
.lb .lineN {
    text-align: left !important;
    color: grey !important;
    font-size: .8em !important;
    height: 100% !important;
    width: 20px !important;
    display: block !important;
    float: left !important;
    clear: both;
    /*margin: 0px 10px 32px 0px !important;
    clear: both;*/
}
.div {
    margin: 5px 0 !important;
    float: left !important;
    display: block !important;
    clear: both;
}
.openseadragon-canvas {
    background-color: #263238 !important;
}
div#box_body_mainImage * img {
    display: block !important;
}
.del{ 
    background-color: white !important;
 } 
 #box_body_mainImage > div:nth-child(1){
        background: #263238 !important;
 }
 section.box-text > div:nth-child(1) > evt-select:nth-child(1) > div:nth-child(1){
     display: none;
 }
orig {
     font-style: italic;
 }
span.namedEntity__detail-text-content span.orig.ng-scope{
    font-style: italic;
}
div.box-menu:nth-child(4){
    display: none;
}
section.box-image > div:nth-child(1) > button-switch:nth-child(5){
    display: inline !important;
}
section.box-image > div:nth-child(1) > button-switch:nth-child(3){
    display: none !important;
}
div.box-menu:nth-child(4) > button-switch:nth-child(1){
    display: none;
}
div.box-menu:nth-child(4) > button-switch:nth-child(2){
    display: none;
}
.box.box-image .box-body{
    height: 100%;
}
.fa-times{
   float: right;
}
.fa-times:hover{
   cursor: pointer;
}
