/* ********************** */
/* SEARCH BOX KEYBOARD    */
/* ********************** */
.ui-keyboard {
   top: auto;
   bottom: 100px;
   background-color: lightgray;
}

#mainText2Keyboard_keyboard {
   right: 0;
   left: auto;
}
