/* *************************** */
/* SEARCH BOX                  */
/* *************************** */

.search-box {
    height: auto;
    min-width: calc(100% - #{$mainContainer-border-width*2*2}); 
    position: absolute;
    bottom: $mainContainer-border-width+1;
    left: $mainContainer-border-width*2;
    margin: 42px 0;
    display: none;
    @include border('top');
    @include border('bottom');
    background: $box-background-color;
    .buttonSwitch {
        @include border('right');
        .icon {
            line-height: 16px;
        }
    }
    .btn-left, .btn-right {
        button-switch:first-child .buttonSwitch {
            @include border('left');
        }
    }
    .btn-left {
        float: left;  
    }
    .btn-right {
        float: right;
    }
    button-switch {
        margin-right: 0;
    }
    input {
        min-height: 100%;
        min-width: calc(100% - 180px);
        position: absolute;
        padding: 0 10px 0 5px;
        border: transparent;
    }
    &.open {
        display: block;
    }
}
