/* *************************** */
/* SEARCH BOX INDEX            */
/* *************************** */
.search-box-index {
   display: block;
   background-color: grey;
   #indexProgressBar {
      width: 1%;
      background-color: green;
      height: 27px;
   }
}
