.ui-keyboard {
   position: absolute!important;
   z-index: 2000!important;
   top: auto ;
   left: 30px !important;
   bottom: 35px;
   padding: 10px!important;
   text-align: left!important;
   @include border($mainContainer-border-width, 'all', $base-color-dark);
   width: $virtual-keyboard-width;
   border: 2px solid #263238!important;

   .ui-keyboard-button {
      margin-right: 6px!important;
      margin-bottom: 3px!important;
      border-radius: 2px!important;
      border: 1px solid $virtual-keyboard-btn-border;
      font-family: Junicode!important;
      font-size: 15px!important;
      line-height: .8em!important;
      height: 2em;
      width: 2em;

      &:hover {
         box-shadow: 1px 2px 3px $buttonSwitch-shadow-color inset;
      }
   }

   .ui-keyboard-keyset {
      text-align: left;
      white-space: initial;
   }

   .ui-keyboard-actionkey-wrapper {
      display: flex;
      justify-content: flex-end;
   }

   .ui-keyboard-button-endrow {
      display: none;
   }
}

.results-open {
   .ui-keyboard {
      top: 35px !important;
      bottom: auto;
   }
}
