/* *************************** */
/* SEARCH BOX INDEX            */
/* *************************** */
.search-box-index {
   display: block;
   background-color: grey;
   #indexProgressBar {
      width: 1%;
      background-color: green;
      height: 27px;
   }
}
.indexingInProgress {
   .loading {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 9999;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.7)!important;
      .fa {
         color: white!important;
      }
   }
}
