/* *************************** */
/* SEARCH BOX                  */
/* *************************** */

.search-box {
	height: auto;
	display: none;
	@include border('top');
    @include border('bottom');
	&.open {
        display: inline-block;
    }
}

@import "searchBoxInternal.scss";
@import "searchBoxExternal.scss";