.evtviewer-selector{
	height: 28px;
	min-width: 80px;
	
	margin: 0px 4px;
	position: relative;
    left: 0px;
	display: inline-block;
	
	background:$base__color--light;
	color: $base__color--dark;
	font-size: 1em;
	text-align: left;
	
	overflow: visible;
	
	@include set(box-shadow, 0px 2px 4px rgba(0, 0, 0, 0.4));
	@include set(border-radius, 2px);

	.label_selected{
		position: relative;	
	    top: 3.5px;
	    margin: 0px 4px;
	}

	.open_options{
		height: 28px;
		width: 24px;
		
		position: absolute;
		right: 0px;
		top: 0px;
		
		background:#ccc4ba;
		text-align: center;

		border-left: 1px solid #d9d7d7;
		border-radius: 0 2px 2px 0;

		cursor: pointer;
		opacity: 0.5;

		&:hover{
			opacity: 1;
		}

		.fa{
			text-shadow:none !important;
		}
	}

	.option_container{
		height:auto;
		max-height: 170px;
		width: 100%;

		position: absolute;
		left: 0px;
		top:30px;

		overflow-y:auto;
		background:$base__color--light;

		z-index: 400;
		
		@include set(box-shadow, 0px 2px 5px rgba(0, 0, 0, 0.7));

		.option{
			height:100%;
			width: 100%;
			padding: 5px;
			
			position: relative;
			left: 0px;
			
			background: $base__color--light;
			color: $base__color--dark;
			
			border-bottom: solid 1px $base__color--dark;
			cursor: pointer;

			&:hover{
				background: rgb(126,108,95);
				color:#fff;
			}
		}

		.option.selected{
			background: $base__color--dark;
			color: $base__color--light;
			cursor: default;

			&:hover{
				background: $base__color--dark;
				color: $base__color--light;
			}
		}
	}
}