/* *************************** */
/* TABS CONTAINER              */
/* *************************** */

.evt-tabs-container {
    padding-top:1px;
    height:100%;
    overflow: hidden;
    &.vertical {
        .evt-tabs-container{
            &_headers {
                display: inline-block;
                float: left;
                @include calc(height, 100% - #{$mainContainer-menu-height});
                border-right: 1px solid $base-color-dark;
                width: 20%;
                position: absolute;
                overflow: hidden;
                bottom: 0;
                left: 0;
                top: $mainContainer-menu-height+1;
            }
            &_header {
                display: block;
                border-bottom: 1px solid $base-color-dark;
                color: $base-color-dark;
                font-variant: small-caps;
                text-align: left;
                padding: 10px;
                cursor: pointer;
                &.hasSubTabs {
                    border-bottom: 1px solid $base-color-light;
                }
                &.active, &:hover{
                    background: $base-color-middle;
                    color: $base-color-light;
                }
                &.active{
                    background: $base-color-dark;
                    color: $base-color-light;
                }
                &-icon {
                    min-width: 18px;
                    margin-right: 3px;
                    text-align: center;
                }
                &_subTabs {
                    margin: 0;
                    padding: 0;
                    list-style-type: none !important;
                    &.hide {
                        display: none;
                    }
                    &_tab {
                        padding: 5px 10px 5px 30px;
                        display: block;
                        border-bottom: 1px solid $base-color-light;
                        color: $base-color-dark;
                        font-variant: small-caps;
                        font-size: 0.93em;
                        text-align: left;
                        cursor: pointer;
                        &.active, &:hover{
                            background: $base-color-middle;
                            color: $base-color-light;
                        }
                        &.active{
                            background: $base-color-dark;
                            color: $base-color-light;
                        }
                        &:last-child {
                            border-bottom: 1px solid $base-color-dark;
                        }
                    }
                }
            }

            &_panels{
                position: relative;
                height: 100%;
                left: 20%;
                width: 80%;
                &.noPadding {
                    padding: 0;
                }
            }
        }
    }

    &_panel {
        display: none;
        padding: 10px 15px;
        height: 100%;

        &.active {
            display: block;
            margin-bottom: 10px;
            overflow-y: auto;
        }

        &.noscroll {
            overflow-y: hidden !important;
            padding: 0;
            margin-bottom: 0;
        }
        &.addPadding {
            padding: 20px !important;
        }
    }
}
