/* *************************** */
/* TABS CONTAINER              */
/* *************************** */

.evt-tabs-container {
    padding-top:1px;
    &.vertical {
        .evt-tabs-container{
            &_headers {
                display: inline-block;
                float: left;
                height: 100%;
                border-right: 1px solid $base-color-dark;
                width: 20%;
                height: 100%;
                position: fixed;
                overflow: hidden;
            }
            &_header {
                display: block;
                border-bottom: 1px solid $base-color-dark;
                color: $base-color-dark;
                font-variant: small-caps;
                text-align: right;
                padding: 10px;
                cursor: pointer;
                &.active, &:hover{
                    background: $base-color-middle;
                    color: $base-color-light;
                }
                &.active{
                    background: $base-color-dark;
                    color: $base-color-light;
                }
            }

            &_panels{
                position: relative;
                height: 100%;
                left: 20%;
                width: 80%;
            }
        }
    }
    &_headers {
       
    }

    &_panels{
        &:not(.closed){
            padding: 10px 15px;
        }
        max-height: 150px;
        overflow-x: hidden;
        overflow-y: auto;
    }

    &_panel {
        display: none;
        &.active {
            display: block;
            margin-bottom: 10px;
        }
    }
}