/* *************************** */
/* Variables */

/* Customize visible elements */
$base__footer: false;
$mainContainer__top-menu: true;
$mainContainer__bottom-menu : true;

$base__color--dark: rgb(54, 45, 40);
$base__color--light: rgb(245, 234, 212);

$base__backgroundImage: url("../images/bg-darker.jpg");
$base__minHeight: 600px;
$base__fontSize: 30px;
$base__header-height: 7%;

$mainContainer__menu-height: 42px;
$mainContainer__border-width: 2px;

/* == END Variables */
/* =========================== */