/* *************************** */
/* Variables */

/* Customize visible elements */
$base-footer: false;
$mainContainer-top-menu: true;
$mainContainer-bottom-menu: true;

$base-color-dark: rgb(54, 45, 40);
$base-color-light: rgb(245, 234, 212);

$base-backgroundImage: url("../images/bg-darker.jpg");
$base-minHeight: 600px;
$base-fontSize: 30px;
$base-header-height: 54px;

$mainContainer-menu-height: 42px;
$mainContainer-border-width: 2px;

/* == END Variables */
/* =========================== */