$base-footer: false;
$mainContainer-top-menu: true;
$mainContainer-bottom-menu: true;

$base-color-dark: #263238;
$base-color-middle: #37474f;
$base-color-light: #ECEFF1;
$base-color-active-background: #FFC107;
$base-color-active: #000;

$border-light: #CCCC;

$base-backgroundImage: #f0f0f0;
$base-minHeight: 600px;
$base-fontSize: 30px;
$base-header-height: 54px;
$base-slider-height: 45px;

$base-padding: 4%;

$mainContainer-menu-height: 42px;
$mainContainer-border-width: 2px;

$box-structure-color-dark: $base-color-dark;
$box-structure-color-light: $base-color-light;
$box-background-color: #fff;
$box-text-color: #000;
$box-top-box-backgound-color:rgba(236, 239, 241, 0.8);

$box-witness-structure-color-dark: #607d8b;
$box-witness-structure-color-light: $box-structure-color-light; //00838f
$box-witness-background-color: #eceff1;
$box-witness-text-color: $box-text-color;

$search-box-height: 30px;
$search-input-height: 27px;
$search-result-info: $base-color-light;
$search-options-background: $box-background-color;
$search-buttons-background: $box-background-color;
$virtual-keyboard-width: 325px;
$virtual-keyboard-background: $box-background-color;
$virtual-keyboard-btn-border: rgb(125, 125, 125);

$critical-apparatus-entry-background-color : $base-color-light;
$critical-apparatus-entry-background-color-darker : rgb(225, 225, 225);
$critical-apparatus-entry-border-color : rgb(125, 125, 125);

$critical-element-highlight : #d2dbe0;
$critical-element-highlight-border: #999;

$apparatus-label : #7893a1;
$apparatus-label-text: #fff;
$apparatus-label-selected : #fff;
$apparatus-label-selected-text: #263238;
$apparatus-label-height: 42px;

$source-text-color: rgba(165, 183, 192, .8);

$critical-apparatus-entry-selected-background-color: $critical-element-highlight;
$critical-apparatus-entry-selected-content-color: $base-color-light;