.version-reading {
    &_text{
        display: inline-block;
        border-left: 1px dotted $box-witness-structure-color-dark;
        padding-left: 0.5em;
        cursor: pointer;
        &.over {
            background-color: $critical-element-highlight;
        }

        &.selected {
            border-left: 2px solid $box-witness-structure-color-dark;
        }
    }

    &.blurred, &.blurred *{
        color: transparent !important;
        text-shadow: 0 0 5px #000 !important;
        background: transparent !important;
        border: none;
    }
}

.iconbis-evt_fork {
    margin-right: 2px;
    color: $base-color-dark;
    font-size: 0.9em;
}