/* *************************** */
/* VISCOLL                     */
/* *************************** */
	
	.viscollContainer {
		height: 100%;
	}
	
	
	.visCollValue {
		display: block;
		height: 260px;
		position: relative;
		width: 20%;
		}
		
	.viscollImage {
		display: inline;
		width: 20%;
		left: 18%;
		bottom: 250px;
		position: relative;
		border-radius: 4px;
		margin: 5px;
		}
		
	.selectorViscoll {
		width: 12.5%;
		left: 25%;
		bottom: 290px;
		font-size: 0.5em;
		position: relative;
		background-color: #bdbdbd;
	}
	
	.imgSelectorViscoll{
		width: 60%;
		left: 28%;
		font-size: 0.5em;
		position: absolute;
		background-color: #bdbdbd;
		}
	
	.quireSelector {
		width: 12.7%;
		top: 10px;
		left: 20%;
		font-size: 0.5em;
		position: relative;
		background-color: #bdbdbd;
	}
	
	.selectorDiv {
	height: 100%;
	}
	
	.quireNumber {
	color: #ffffff;
	position: relative;
	bottom: 150px;
	}