/* *************************** */
/* VISCOLL                     */
/* *************************** */



.visCollWrapper {
	height: 460px;
	color: #000000;
	overflow-y: scroll; 
	}
	
	.visCollContainer {
	height: 400px;
	width: 671px;
	float: left;
	display: block;
	color: #000000;
	z-index: 1;
	}
	
	.imageContainer {
	bottom: 10px;
	}
	
	#visCollValue {
		height: 200px;
		width: 300px;
		font-size: 30px;
		display: inline;
		}
		
	.viscollImage {
		height: 94%;
		width: 20%;
		bottom: 10px;
		left: 32px;
		margin-right: 30px;
		position: relative;
		margin-top: 5px;
		border-radius: 4px;
		}