/* *************************** */

/* VISCOLL                     */

/* *************************** */

.viscollContainer {
    height: 100%;
    vertical-align: top;
    width: 100%;
    max-height: 300px;
    padding-bottom: 20px;
    &:not(:last-child) {
        margin-bottom: 20px;
        border-bottom: 1px solid lightgray;
    }
}

.selectorViscoll {
    font-size: 0.5em;
    margin-bottom: 5px;
    label {
        display: block;
    }
    .selector {
        margin: 0;
    }
}

.imgSelectorViscoll {
    display: block;
    &_empty {
        padding-top: 10px;
        font-size: 0.5em;
        height: 170px;
        width: 100%;
        font-style: italic;
    }
}

.quireSelector {
    width: 100%;
    padding: 30px;
    font-size: 0.5em;
    position: relative;
}

.quireNumber {
    position: relative;
    display: block;
    font-size: 1.3rem;
    font-variant: small-caps;
    margin-bottom: 10px;
}

.viscollItemsContainer {
    padding: 0 30px;
}

.viscollItem-leftContainer {
    width: 20%;
    display: inline-block;
}

.viscollItem-rightContainer {
    width: 77%;
    display: inline-block;
    vertical-align: top;
}

$viscoll_first_unit_color: #ff9800;
$viscoll_second_unit_color: #ff5722;
.viscollContainer svg {
    position: relative;
    background: #396f7b;
    height: auto;
    width: 70%;
    border-radius: 8px;
    margin-bottom: 5px;
    >g:hover .leaf, .over_unit .leaf {
        cursor: pointer;
        stroke: $base-color-active-background;
    }
    .active_unit {
		&.first_unit {
			.leaf {
				stroke: $viscoll_first_unit_color;
				cursor: default;
			}
		}
		&.second_unit {
			.leaf {
				stroke: $viscoll_second_unit_color;
				cursor: default;
			}
		}
    }
}

.viscollContainer {
    .thumbnail {
		&.first_unit img{
			border-color: $viscoll_first_unit_color;
		}
		&.second_unit img{
			border-color: $viscoll_second_unit_color;
		}
        img {
            height: auto;
            width: 120px;
        }
        figcaption {
            width: 120px;
        }
        &.missing {
            cursor: not-allowed;
            &:hover figcaption {
                background: rgba(0, 0, 0, 0.2) !important;
            }
        }
        &.notLeaf {
            // visibility: hidden;
            cursor: default;
            opacity: .3;
            border: 2px solid;
            background: lightgray;
            img {
                visibility: hidden;
            }
            i {
                top: 3px;
                position: relative;
            }
            &:hover figcaption {
                background: rgba(0, 0, 0, 0.2) !important;
            }
        }
    }
}
