// $icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// // bower:scss
// @import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "susy/sass/_susy.scss";
@import "variables.scss";
@import "functions.scss";

@include border-box-sizing;

$large:(
	columns: 18,
	container-position: center,
	global-box-sizing: content-box,
	gutter-position: inside,
    gutters:.03,
	debug:(image:show)
	);

@include layout($large);

/* *************************** */
/* FONTS */
@font-face {
    font-family: 'Junicode';
    src: url('../fonts/Junicode.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Junicode-bold';
    src: url('../fonts/Junicode-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Junicode-italic';
    src: url('../fonts/Junicode-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
/* == END Fonts */
/* =========================== */

/* *************************** */
/* Mixins */
@mixin colors($color, $background){
	color: $color;
	background: $background;
}

@mixin calc($property, $expression) { 
  #{$property}: -moz-calc(#{$expression}); 
  #{$property}: -o-calc(#{$expression}); 
  #{$property}: -webkit-calc(#{$expression}); 
  #{$property}: calc(#{$expression}); 
} 

@mixin set($property, $value) { 
  -moz-#{$property}: #{$value}; 
  -o-#{$property}: #{$value}; 
  -webkit-#{$property}: #{$value};
  -khtml-#{$property}: #{$value}; 
  -ms-#{$property}: #{$value};
  #{$property}: #{$value}; 
} 

@mixin main-frame(){
	// @include span(18 of 20);	
	height: 100%;
	overflow: hidden;
	padding: 0px;
	font-size: 18px;
}

@mixin inside-header(){
	@include span(9 of 9);	
	@include colors($base-color-light, $base-color-dark);
    height: $mainContainer-menu-height;
    min-height: $mainContainer-menu-height;
	font-size: 16px;
	padding: 6px;
	display: block;
	float: none;
}

@mixin frame(){
	@include span(9 of 18);
    height:100%;
}

@mixin frameBody(){	
	padding:4% 4%;
	@include calc(height, #{setInsideFrameHeight()});
}

@mixin mainNavArrow(){
	@include span(1 of 20);	
	text-align: center;

	span {
		height: 59px;
		top: 50%;
		position: relative;
	    transform: translateY(-50%);
		opacity:0.5;
	}
    span:hover {
    	opacity:1;
    	cursor:pointer;
    }
}


/* == END Mixins */
/* =========================== */


body{
	@include container();
	font-family: Junicode, Times, serif;
	background: $base-backgroundImage;
	margin:0;
	padding:0;
	min-height: $base-minHeight;
	overflow:hidden;
	position:absolute;
	font-size: $base-fontSize;
	height:100%;
	width:100%;
    min-width: 800px;
	> header, 
	> footer, 
	> section {
		@include span(20 of 20);
	}

	> header, 
	> footer{
		height:54px;
		padding: 10px 30px;
		@include colors($base-color-light, $base-color-dark);
	}
}

footer{
	display: setVisibility($base-footer);
}

#global-container{
	@include calc(height, #{setGlobalFrameHeight()} + 1px);
	padding:1px 0 0;
    overflow:hidden;
    width:100%;
}
section > div{
	height:100%;
	display: block;
  	vertical-align: middle;
}

#left-nav{
	@include mainNavArrow();
}
#main-container{
	@include main-frame();
	//@include box-shadow(0px 2px 5px -3px rgba(0, 0, 0, 0.8));
	// @include set(box-shadow, 0px 2px 5px -3px rgba(0, 0, 0, 0.8));
}
#main-container > div {
    white-space: nowrap;
}

#right-nav{
	@include mainNavArrow();
}

@import "selector.scss";
@import "buttonSwitch.scss";
@import "box.scss";
@import "popover.scss";
@import "criticalApparatusEntry.scss";
@import "reading.scss";

// Temporary
.filters-in-box {
    text-align: center;
    position: absolute;
    bottom: 44px;
    width: 100%;
    height: auto;
    padding: 5px;
    left: 3px;
    right: 2px;
    width: calc(100% - 21px);
    background: #fff;
    @include set(box-shadow, 0px -7px 6px -4px #fff);
    span.filter-group {
        display: inline;
        &::after{
            content: "•";
        }
        &:last-child::after{
            content: "";
        }
        span.filter-value{
            display: inline-block;
            background: #CF00FF;
            border-radius: 4px;
            font-size: 85%;
            margin: 4px;
            padding: 0px 5px;
            font-variant: small-caps;
            cursor: pointer;
            min-width: 50px;
            text-align: center;
            @include set(box-shadow, 0px 2px 4px rgba(0, 0, 0, 0.4));
            &:hover{
                opacity: 0.9;
            }
            &::after{
                content: "x";
                color: #333;
                font-weight: lighter;
                font-size: 80%;
                top: -1px;
                position: relative;
            }
        }
    }
}
.alert-msg {
    background: rgba(0,0,0,.1);
    display: block;
    font-size: 90%;
    text-align: center;
    padding: 10px;
    &-error{
        background: rgba(255,0,0,.1);
    }

}

.globalMenu {
    width: auto;
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
    height: 54px;
    padding: 10px;
    font-size: 80%;
    button-switch {
        margin-right:5px;
        .buttonSwitch {
            height: auto;
            &-label{
                font-variant: small-caps;
                font-size: 80%;
                top: 0;
            }
            &-icon {
                font-size: 80%;
                top: 0;
                right: 1px;
            }
        }
        &:last-child{
            margin-right: 0;
        }
    }
}
.viewMode {
    .loading {
        background: rgba(0,0,0,.1);
        .loader {
            font-size: 2.5em;
            color: $base-color-dark;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    box:last-child .box{
        margin: 0;
    }
}

// Generic style 
.hidden {
    display: none;
}

// TEI Elements
.bibl {
    .editor {
        font-style: italic;
    }
    .title {
        font-weight: bold; 
    }
}
.del {
    text-decoration: line-through;
}
.div {
    display: block;
    margin:15px 0;
    background: inherit;
}
.encodingError {
    font-variant: small-caps;
    background: url('../images/encodingError.png') repeat-x;
    &::before{
        content:"[ERROR]";
    }
}
.figure {
    display: block;
    text-align: center;
    margin: 10px 0px;
    .desc {
        font-size: 90%;
    }
}
.head {
    display: block;
    font-weight: bold;
}
.l {
    display: block;
    background: inherit;
    &.inApparatus {
        display: inline-block;
        &::after {
            content:" // ";
        }
    }
}

.lacuna, .fragment {
    font-variant: small-caps;
    font-size: 60%;
    vertical-align: 10%;
    margin-left: 3px;
}
.lacunaStart, .lacunaEnd {
    display: none;
}
.fragment {
    min-height: 10px;
    height: 10px;
    position: relative;
    display: block;
    padding: 8px 0px 39px 0px;
    min-width: 100%;
    width: 109.5%;
    left: -5%;
    margin: 0;

    &-start{
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100 */
        background: #e5e5e5; /* Old browsers */
        background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
        margin-bottom: 20px;
        @include set("box-shadow", "inset 0px -10px 9px -8px #000");
        &::after{
            background: linear-gradient(-45deg, #fff 8px, transparent 0), linear-gradient(45deg, #fff 8px, transparent 0);
            background-position: left-bottom;
            background-repeat: repeat-x;
            background-size: 16px 16px;
            content: " ";
            display: block;
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 100%;
            height: 16px;
        }
    }

    &-end{
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e5e5e5+0,ffffff+100,ffffff+100 */
        background: #e5e5e5; /* Old browsers */
        background: -moz-linear-gradient(top,  #e5e5e5 0%, #ffffff 100%, #ffffff 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #e5e5e5 0%,#ffffff 100%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #e5e5e5 0%,#ffffff 100%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
        margin-top: 20px;
        @include set("box-shadow", "inset 0px 10px 9px -8px #000");
        &::before{
            top: 0px;
            background-position: left top;
            background: linear-gradient(-135deg, #fff 8px, transparent 0), linear-gradient(135deg, #fff 8px, transparent 0);
            background-position: left-top;
            background-repeat: repeat-x;
            background-size: 16px 16px;
            content: " ";
            display: block;
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 16px;
        }
    }
}
.lacuna {
    min-height: 10px;
    height: 10px;
    position: relative;
    display: block;
    padding: 8px 0px 39px 0px;
    min-width: 100%;
    width: 109.5%;
    left: -5%;
    margin: 20px 0;
    background: #bdbdbd;
    text-align: center;
    padding-top: 20px;
    &::after{
        background: linear-gradient(-45deg, #fff 8px, transparent 0), linear-gradient(45deg, #fff 8px, transparent 0);
        background-position: left-bottom;
        background-repeat: repeat-x;
        background-size: 16px 16px;
        content: " ";
        display: block;
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 16px;
    }
    &::before{
        top: 0px;
        background-position: left top;
        background: linear-gradient(-135deg, #fff 8px, transparent 0), linear-gradient(135deg, #fff 8px, transparent 0);
        background-position: left-top;
        background-repeat: repeat-x;
        background-size: 16px 16px;
        content: " ";
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 16px;
    }
}
.lacunaApp::before {
    content: "+";
}
.list{
    .item {
        display: block;
        &:before{
            content : "•";
            margin-right: 10px;
            margin-left: 10px;
        }
    }
}
.msDesc {
    ::before {
        font-weight: bold;
    }

    .msIdentifier {
        display: block;
        margin-bottom: 8px;
        &::before {
            content: 'Ms Identifier';
            font-size: 110%;
            display: block;
            font-variant: small-caps;
        }
        .settlement {
            display: block;
            &::before {
                content: 'Settlement: ';
            }
        }
        .repository {
            display: block;
            &::before {
                content: 'Repository: ';
            }
        }
        .idno{
            display: block;
            &::before {
                content: 'IDNO: ';
            }
        }
        .altIdentifier .idno::before {
            content: 'Alternative IDNO: ';
        }
    }

    .msContents {
        .msItem {
            .author { 
                display: block;
                &::before {
                    content: 'Author: ';
                }
            }
            .title {
                display: block;
                &::before {
                    content: 'Title: ';
                }
            }
        }
    }

    .physDesc {
        display: block;
        margin-top:8px;
        &::before {
            content: 'Physical Description';
            font-size: 110%;
            display: block;
            font-variant: small-caps;
        }
    }

    .history {
        display: block;
        margin-top:8px;
        &::before {
            content: 'History';
            font-size: 110%;
            display: block;
            font-variant: small-caps;
        }
    }
    
    .quote {
        font-style: italic;
        &::before {
            content:'«';
            font-weight: normal;
        }
        &::after {
            content:'»';
        }
    }
}
.omission {
    font-style: italic;
    &::before{
        content: "[omit.]";
    }
}
.p {
    display: block;
    margin-bottom:5px;
}
.pb {
    display: block;
    text-align: center;
    font-size:80%;
    &::before{
        content:'– ';
    }
    &::after {
        content:' –';
    }
}
.speaker {
    font-variant: small-caps;
    font-weight: bold;
    font-size: 90%;

    &::after{
        content: ":";
    }
}
.stage {
    font-style: italic;
    font-size: 90%;
    display: block;
    text-align: center;
}
.witnesses-lem, .variance-lem {
    font-weight: bold;
}

.witnesses-rdg, .variance-rdg {
    font-style: italic;
}

//TEI generic rend
[data-rend="italic"], .i {
    font-style: italic !important;
}
[data-rend="bold"] {
    font-weight: bold !important;
}
[data-rend="underline"] {
    text-decoration: underline !important;
}
[data-rendition="pencil"] {
    font-weight: lighter;
    color: #a9a9a9;
    text-shadow: 0px 0px 1px #bfbfbf;
}