// $icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// // bower:scss
// @import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "susy/sass/_susy.scss";
@import "variables.scss";
@import "functions.scss";

@include border-box-sizing;

$large:(
	columns: 20,
	container-position: center,
	global-box-sizing: content-box,
	gutters:0,
	debug:(image:show)
	);

@include layout($large);

/* *************************** */
/* FONTS */
@font-face {
    font-family: 'Junicode';
    src: url('../fonts/Junicode.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Junicode-bold';
    src: url('../fonts/Junicode-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Junicode-italic';
    src: url('../fonts/Junicode-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
/* == END Fonts */
/* =========================== */

/* *************************** */
/* Mixins */
@mixin colors($color, $background){
	color: $color;
	background: $background;
}

@mixin calc($property, $expression) { 
  #{$property}: -moz-calc(#{$expression}); 
  #{$property}: -o-calc(#{$expression}); 
  #{$property}: -webkit-calc(#{$expression}); 
  #{$property}: calc(#{$expression}); 
} 

@mixin set($property, $value) { 
  -moz-#{$property}: #{$value}; 
  -o-#{$property}: #{$value}; 
  -webkit-#{$property}: #{$value};
  -khtml-#{$property}: #{$value}; 
  -ms-#{$property}: #{$value};
  #{$property}: #{$value}; 
} 

@mixin main-frame(){
	@include span(18 of 20);	
	height: 100%;
	border: $mainContainer-border-width solid $base-color-dark;
	overflow: hidden;
	padding: 0px;
	font-size: 18px;
}

@mixin inside-header(){
	@include span(9 of 9);	
	@include colors($base-color-light, $base-color-dark);
    height: $mainContainer-menu-height;
	font-size: 16px;
	padding: 6px;
	display: block;
	float: none;
}

@mixin frame(){
	@include span(9 of 18);
	height:100%;
}

@mixin frameBody(){	
	padding:4% 4%;
	@include calc(height, #{setInsideFrameHeight()});
}

@mixin mainNavArrow(){
	@include span(1 of 20);	
	text-align: center;

	span {
		height: 59px;
		top: 50%;
		position: relative;
	    transform: translateY(-50%);
		opacity:0.5;
	}
    span:hover {
    	opacity:1;
    	cursor:pointer;
    }
}


/* == END Mixins */
/* =========================== */


body{
	@include container();
	font-family: Junicode, Times, serif;
	background: $base-backgroundImage;
	margin:0;
	padding:0;
	min-height: $base-minHeight;
	overflow:hidden;
	position:absolute;
	font-size: $base-fontSize;
	height:100%;
	width:100%;

	> header, 
	> footer, 
	> section {
		@include span(20 of 20);
	}

	> header, 
	> footer{
		height:7%;
		padding: 10px 30px;
		@include colors($base-color-light, $base-color-dark);
	}
}

footer{
	display: setVisibility($base-footer);
}

#global-container{
	height:setGlobalFrameHeight();
	padding:30px 0px;
}
section div{
	height:100%;
	display: block;
  	vertical-align: middle;
}

#left-nav{
	@include mainNavArrow();
}
#main-container{
	@include main-frame();
	//@include box-shadow(0px 2px 5px -3px rgba(0, 0, 0, 0.8));
	@include set(box-shadow, 0px 2px 5px -3px rgba(0, 0, 0, 0.8));
}

#right-nav{
	@include mainNavArrow();
}

@import "selector.scss";
@import "buttonSwitch.scss";
@import "box.scss";
@import "popover.scss";