@import "susy/sass/_susy.scss";
@import "variables.scss";
@import "functions.scss";
@import "fonts.scss";
@import "mixins.scss";

// TEI Elements

    // 11.6 Headers, Footers, and Similar Matter
    .fw {
        display: block;
        width: 100%;

        &[data-place="top-middle"] {
            text-align: center;
        }
        &[data-place="top-right"] {
            text-align: right;
        }
        &[data-place="top-left"]{
            text-align: left;
        }
    }

// TODO: Reorder and organize elements 
// TODO: Differentiate edition specific styles and generic ones
[data-type="hot-spot"] {
    display: none;
}
.bibl {
    .editor {
        font-style: italic;
    }
    .title {
        font-weight: bold; 
    }
}
.del {
    text-decoration: line-through;
}
.div {
    display: block;
    margin:15px 0;
    background: inherit;
}
.encodingError {
    font-variant: small-caps;
    background: url('../images/encodingError.png') repeat-x;
    &::before{
        content:"[ERROR]";
    }
}
.figure {
    display: block;
    text-align: center;
    margin: 10px 0px;
    .desc {
        font-size: 90%;
    }
}
.head {
    display: block;
    font-weight: bold;
}
.l {
    display: inline;
    background: inherit;
    
    >*:last-child:after{ 
        content: " ";
    }
    
    &.inApparatus {
        display: inline-block;
        &::after {
            content:" // ";
        }
    }
}

.lacuna, .fragment {
    font-variant: small-caps;
    font-size: 60%;
    vertical-align: 10%;
    margin-left: 3px;
}
.lacunaStart, .lacunaEnd {
    display: none;
}
.lb {
    .lineN {
        text-align: right;
        color: grey;
        font-size: 0.8em;
        margin-right: 10px;
        height: 100%;
        width: 24px !important;
        display: inline-block;
    }
}
.fragment {
    min-height: 10px;
    height: 10px;
    position: relative;
    display: block;
    padding: 8px 0px 39px 0px;
    min-width: 100%;
    width: 109.5%;
    left: -5%;
    margin: 0;

    &-start{
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100 */
        background: #bdbdbd; /* Old browsers */
        background: -moz-linear-gradient(top,  $box-witness-background-color 0%,  #bdbdbd 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  $box-witness-background-color 0%, #bdbdbd 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  $box-witness-background-color 0%, #bdbdbd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$box-witness-background-color', endColorstr=' #bdbdbd',GradientType=0 ); /* IE6-9 */
        margin-bottom: 20px;
        @include set("box-shadow", "inset 0px -10px 9px -8px #000");
        &::after{
            background: linear-gradient(-45deg, $box-witness-background-color 8px, transparent 0), linear-gradient(45deg, $box-witness-background-color 8px, transparent 0);
            background-position: left-bottom;
            background-repeat: repeat-x;
            background-size: 16px 16px;
            content: " ";
            display: block;
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 100%;
            height: 16px;
        }
    }

    &-end{
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/ #bdbdbd+0,ffffff+100,ffffff+100 */
        background:  #bdbdbd; /* Old browsers */
        background: -moz-linear-gradient(top,   #bdbdbd 0%, $box-witness-background-color 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,   #bdbdbd 0%,$box-witness-background-color 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,   #bdbdbd 0%,$box-witness-background-color 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=' #bdbdbd', endColorstr='$box-witness-background-color',GradientType=0 ); /* IE6-9 */
        margin-top: 20px;
        @include set("box-shadow", "inset 0px 10px 9px -8px #000");
        &::before{
            top: 0px;
            background-position: left top;
            background: linear-gradient(-135deg, $box-witness-background-color 8px, transparent 0), linear-gradient(135deg, $box-witness-background-color 8px, transparent 0);
            background-position: left-top;
            background-repeat: repeat-x;
            background-size: 16px 16px;
            content: " ";
            display: block;
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 16px;
        }
    }
}
.lacuna {
    min-height: 10px;
    height: 10px;
    position: relative;
    display: block;
    padding: 8px 0px 39px 0px;
    min-width: 100%;
    width: 109.5%;
    left: -5%;
    margin: 20px 0;
    background: #bdbdbd;
    text-align: center;
    padding-top: 20px;
    &::after{
        background: linear-gradient(-45deg, $box-witness-background-color 8px, transparent 0), linear-gradient(45deg, $box-witness-background-color 8px, transparent 0);
        background-position: left-bottom;
        background-repeat: repeat-x;
        background-size: 16px 16px;
        content: " ";
        display: block;
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 16px;
    }
    &::before{
        top: 0px;
        background-position: left top;
        background: linear-gradient(-135deg, $box-witness-background-color 8px, transparent 0), linear-gradient(135deg, $box-witness-background-color 8px, transparent 0);
        background-position: left-top;
        background-repeat: repeat-x;
        background-size: 16px 16px;
        content: " ";
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 16px;
    }
}
.lacunaApp::before {
    top: 1px;
    position: relative;
}
.list{
    .item {
        display: block;
        &:before{
            content : "•";
            margin-right: 10px;
            margin-left: 10px;
        }
    }
}
.msDesc {
    ::before {
        font-weight: bold;
    }

    .msIdentifier {
        display: block;
        margin-bottom: 8px;
        &::before {
            content: 'Ms Identifier';
            font-size: 110%;
            display: block;
            font-variant: small-caps;
        }
        .settlement {
            display: block;
            &::before {
                content: 'Settlement: ';
            }
        }
        .repository {
            display: block;
            &::before {
                content: 'Repository: ';
            }
        }
        .idno{
            display: block;
            &::before {
                content: 'IDNO: ';
            }
        }
        .altIdentifier .idno::before {
            content: 'Alternative IDNO: ';
        }
    }

    .msContents {
        .msItem {
            .author { 
                display: block;
                &::before {
                    content: 'Author: ';
                }
            }
            .title {
                display: block;
                &::before {
                    content: 'Title: ';
                }
            }
        }
    }

    .physDesc {
        display: block;
        margin-top:8px;
        &::before {
            content: 'Physical Description';
            font-size: 110%;
            display: block;
            font-variant: small-caps;
        }
    }

    .history {
        display: block;
        margin-top:8px;
        &::before {
            content: 'History';
            font-size: 110%;
            display: block;
            font-variant: small-caps;
        }
    }
    
    .quote {
        font-style: italic;
        &::before {
            content:'«';
            font-weight: normal;
        }
        &::after {
            content:'»';
        }
    }
}
.omission {
    font-style: italic;
    &::before{
        content: "[omit.]";
    }
}
.p {
    display: block;
    margin-bottom:5px;
}
.pb {
    display: block;
    text-align: center;
    font-size:80%;
    &::before{
        content:'\2014';
        margin-right: 5px;
    }
    &::after {
        content:' \2014';
        margin-left: 5px;
    }
}
.speaker {
    font-variant: small-caps;
    font-weight: bold;
    font-size: 90%;

    &::after{
        content: ":";
    }
}
.stage {
    font-style: italic;
    font-size: 90%;
    display: block;
    text-align: center;
}

.witnesses-lem, .variance-lem {
    font-weight: bold;
}

.witnesses-rdg, .variance-rdg {
    font-style: italic;
}

//TEI generic rend
[data-rend="italic"], .i {
    font-style: italic !important;
}
[data-rend="bold"] {
    font-weight: bold !important;
}
[data-rend="underline"] {
    text-decoration: underline !important;
}
[data-rendition="pencil"] {
    font-weight: lighter;
    color: #a9a9a9;
    text-shadow: 0px 0px 1px #bfbfbf;
}

/* ********** */
/* TEI HEADER */
/* ********** */
.address, .addrline {
    display: block;
    font-size: 90%;
}
.encodingdesc {
    .editorialdecl {
        display:block;
        margin-top: 14px;
        &:before{
            content: "Editorial principles and practices";
            display:block;
            border-bottom: 1px dotted #666;
            margin-bottom: 5px;
        }
        &:before, > *:before {
            font-variant: small-caps;
            color: #666;
            font-size:90%;
        }
        .correction {
            display: block;
            &:before {
                content: "Correction principles: ";
            }
        }
        .hyphenation {
            display: block;
            &:before {
                content: "Hyphenation principles: ";
            }
        }
        .interpretation {
            display: block;
            &:before {
                content: "Interpretive information: ";
            }
        }
        .normalization {
            display: block;
            &:before {
                content: "Normalization or regularization principles: ";
            }   
        }
        .punctuation {
            display: block;
            &:before {
                content: "Punctuation marks principles: ";
            }      
        }
        .quotation {
            display: block;
            &:before {
                content: "Quotation marks principles: ";
            }      
        }
        .segmentation {
            display: block;
            &:before {
                content: "Segmentation principles: ";
            }      
        }
        .stdvals {
            display: block;
            &:before {
                content: "Standard values: ";
            }      
        }
    }

    .projectdesc {
        display:block;
        margin-top: 14px;
        &:before{
            content: "Project description";
            display:block;
            border-bottom: 1px dotted #666;
            margin-bottom: 5px;
            font-variant: small-caps;
            color: #666;
            font-size:90%;
        } 
    }

    .refsdecl {
        display:block;
        margin-top: 14px;
        &:before{
            content: "References declaration";
            display:block;
            border-bottom: 1px dotted #666;
            margin-bottom: 5px;
            font-variant: small-caps;
            color: #666;
            font-size:90%;
        }
    }
}

.filedesc {
    *:before{
        font-variant: small-caps;
        color: #666;
        font-size:90%;
    }
    .author {
        display:block;
        &:before{
            content: "Author: ";
        }
    }
    .editor {
        display:block;
        &:before{
            content: "Editor: ";
        }
    }
    .notesstmt {
        display:block;
        &:before{
            content: "Notes";
            display:block;
            border-bottom: 1px dotted #666;
            margin-bottom: 5px;
            font-variant: small-caps;
            color: #666;
            font-size:90%;
        }
        .note {
            display: block;
            margin-top: 10px;
        }
    }
    .publicationstmt{
        display:block;
        margin-top: 14px;
        > * {
            display:block;
        }
        &:before{
            content: "About the publication";
            display:block;
            border-bottom: 1px dotted #666;
            margin-bottom: 5px;
        }
        &:before, > *:before{
            font-variant: small-caps;
            color: #666;
            font-size:90%;
        }
        .publisher {
            &:before{
                content: "Publisher: ";
                display: block;
            }
        }
        .availability{
            &:before{
                content: "Availability: ";
                display:block;
            }
        }
        .idno {
            &:before {
                content: "idno: ";
            }
        }
        .date {
            &:before {
                content: "Date: ";
            }
        }
    }
    .respstmt {
        display:block;
        &:before{
            content: "Responsable: ";
        }
    }
    .seriesstmt {
        display:block;
        margin-top: 14px;
        &:before{
            content: "Series";
            display:block;
            border-bottom: 1px dotted #666;
            margin-bottom: 5px;
            font-variant: small-caps;
            color: #666;
            font-size:90%;
        }
    }
    .sourcedesc {
        display:block;
        margin-top: 14px;
        &:before{
            content: "Source description";
            display:block;
            border-bottom: 1px dotted #666;
            margin-bottom: 5px;
            font-variant: small-caps;
            color: #666;
            font-size:90%;
        }
        .listwit, .listbibl {
            display:none;
        }
    }
    .titlestmt {
        margin-bottom: 10px;
        .title {
            display: block;
            font-weight: bold;
            font-size: 1.2em;
            margin-bottom: 10px;
        }
        [data-type='sub']{
            display: block;
            font-weight: bold;
            font-size: 1em;   
        }
    }
    .editionstmt {
        .edition {
            &:before{
                content: "Edition: ";
                font-variant: small-caps;
                color: #666;
                font-size:90%;
            }
        }
    }
}
.funder, .sponsor, .principal {
    display:block;
    margin-top: 14px;
    &:before{
        display:block;
        border-bottom: 1px dotted #666;
        margin-bottom: 5px;
    }
    .orgname {
        display: block;
    }
}
.funder {
    &:before{
        content: "Funder";
    }
}
.sponsor {
    &:before{
        content: "Sponsor";
    }
}
.principal {
    &:before{
        content: "Principal researcher: ";
    }
}

.profiledesc {
    .langusage, .particdesc, .textclass{
        &:before{
            display:block;
            border-bottom: 1px dotted #666;
            margin-bottom: 5px;
            margin-top:5px;
            font-variant: small-caps;
            color: #666;
            font-size:90%;
        }
    }
    .langusage {
        &:before{
            content: "Language usage";
        }
        .language {
            display: block;
        }
    }
    .particdesc {
        &:before{
            content: "Participation description";
        }
        .listperson, .person {
            display: block;
            * {
                margin: 0;
                display: inline;
            }
            .head {
                display: block;
                font-variant: small-caps;
                margin: 10px 0 5px 0;
            }
        }
        .person, .persongrp {
            margin-bottom: 10px;
            display: block;
            .state {
                &:before {
                    content : "- ";
                }
            }
            .sex {
                &:before {
                    content : " (";
                }
                &:after {
                    content : ")";
                }
            }
        }
    }
    .textclass{ 
        &:before{
            content: "Text classification";
        }
    }
}
.revisiondesc {
    .change {
        display: block;
        margin-bottom: 10px;
    }
}
.respstmt {
    .resp {
        &:after{
            content: ': ';
        }
    }
    .name, .persname {
        &:not(:last-child):after{
            content: ', ';
        }
        &:last-child:after{
            content: '. ';
        }
    }
}
.variantEncoding {
    display:block;
    margin-top: 14px;
    &:before{
        content: "Variant encoding";
        display:block;
        border-bottom: 1px dotted #666;
        margin-bottom: 5px;
        font-variant: small-caps;
        color: #666;
        font-size:90%;
    } 
}
//Temp
.filedesc .listwit,
.filedesc .listperson{
    display:none;
}
.gi, .val{
    font-style: italic;
}
.em {
    font-weight: bolder;
    font-style: italic;
}

.biblRef,.biblRef .titleAnalytic, .biblRef .author, .biblRef .titleMonogr,  .biblRef .biblscope,
.biblRef .pubPlace,.biblRef .date,  .biblRef .note, .biblRef  .idno, .biblRef  .edition, .biblRef  .accessed,.biblRef  .url,
.biblRef .vol, .biblRef .pp, .biblRef .editor,.biblRef .date ,.biblRef .publisher {
    color: #666;
    font-size: 90%;
		&:before{
		content: ' ';
	}
}

.biblRef > span:last-child:after{
	content:'.';
}

.biblRef .name:before, .biblRef .surname:before{
	content: ' ';
}

.biblRef  .accessed{
	content: ' accessed '
}

.biblRef  .url:before{
	content: ' url: '
}



.biblRef .idno[data-type=DOI]:before{
		content: ' DOI:'
	}

.biblRef .idno[data-type=ISSN]:before{
		content: ' ISSN:'	
}

.biblRef .idno[data-type=ISBN]:before{
		content: ' ISBN:'
	}

.biblRef .idno[data-type=URI]:before{
		content: ' URI:'	
}

.biblRef .idno[data-type=VIAF]:before{
		content: ' VIAF:'
	}

.biblRef .idno[data-type=ESTC]:before{
		content: ' ESTC:'	
}

.biblRef .idno[data-type=OCLC]:before{
		content: ' OCLC:'
	}

	
.biblRef .author[data-style=chicago]:not(:first-child):before {
    content: ", ";
}

.biblRef  .author[data-style=chicago]:not:first-child:after{
	content: ','
}

.biblRef .titleAnalytic[data-style=chicago]:before{
	content: ' "'
}

.biblRef .titleAnalytic[data-style=chicago]:after{
	content: '", '
}

.biblRef .titleMonogr[data-style=chicago]{
	font-style:italic;
	&:after
	{
	content: '.'
	}
}

.biblRef .titleAnalytic[data-style=chicago] + .titleMonogr[data-style=chicago]:before{
	font-style:initial;
	content: 'in ';
}


.biblRef  .vol[data-style=chicago]:not(:last-child):after{
	content: ','
}

.biblRef[pubblicationtype=m]  .edition[data-style=chicago]:after{
	content: '.'
}

.biblRef[pubblicationtype=m]  .vol[data-style=chicago]:after{
	content: '.'
}

.biblRef  .issue[data-style=chicago]:before{
	content: ' no. '
}


.biblRef[pubblicationtype=m]  .edition[data-style=chicago]:after{
	content: '.'
}

.biblRef  .editor[data-style=chicago]:before{
	content: ' edited by '
}

.biblRef  .editor[data-style=chicago]:after{
	content: ','
}


.biblRef > .pubPlace[data-style=chicago]:not(:last-child):after{
	content: ': '
}

.biblRef > .pubPlace[data-style=chicago]:after{
	content: '. '
}
.biblRef[pubblicationtype=m] > .publisher[data-style=chicago]:not(:last-child):after{
	content: ','
}

.biblRef[pubblicationtype=m] > .publisher[data-style=chicago]:after{
	content: '.'
}

.biblRef .date[data-style=chicago]:after{
	content: '. '
}





.biblRef  .date[data-style=apa]:before{
	content: ' ('
}

.biblRef  .date[data-style=apa]:after{
	content: '). '
}

.biblRef  .author[data-style=apa]:not(:first-child):before{
	content: ' '
}


.biblRef  .vol[data-style=apa]:not(:last-child):after{
	content: ','
}

.biblRef[pubblicationtype=m]  .pp[data-style=apa]:before{
	content: ' (pp. '
}

.biblRef[pubblicationtype=m]  .pp[data-style=apa]:after{
	content: '). '
}

.biblRef[pubblicationtype=a]  .pp[data-style=apa]:before{
	content: ' (pp. '
}

.biblRef[pubblicationtype=a]  .pp[data-style=apa]:after{
	content: '). '
}

.biblRef[pubblicationtype=j]  .pp[data-style=apa]:after,.biblRef[pubblicationtype=u]  .pp[data-style=apa]:after{
	content: '. '
}

.biblRef .titleAnalytic[data-style=apa]:after,.biblRef .titleMonogr[data-style=apa]:after{
	content: '. '
}

.biblRef .titleMonogr[data-style=apa]{
	font-style: italic;
}

.biblRef  .edition[data-style=apa]:before{
	content: ' '
}

.biblRef  .edition[data-style=apa]:after{
	content: '. '
}


.biblRef  .pubPlace[data-style=apa]:after{
	content: ':'
}

.biblRef  .publisher[data-style=apa]:before{
	content: ' '
}

.biblRef  .publisher[data-style=apa]:after{
	content: '. '
}

.biblRef  .url[data-style=apa]:before{
	content: ' '
}

.biblRef  .url[data-style=apa]:after{
	content: '. '
}


.biblRef > .author > .name[data-style=apa]:not(:last-child):after {
    content: ',';
}

.biblRef > .author > .surname[data-style=apa]:not(:last-child):after {
    content: ', ';
}




.biblRef .titleMonogr[data-style=mla]{
    font-style: italic;
	&:after{
		content: '. '
	}
}

.biblRef .titleAnalytic[data-style=mla]:after,.biblRef .date[data-style=mla]:after,.biblRef .editor[data-style=mla]:after,.biblRef .pubPlace[data-style=mla]:after{
	content: '. ';
}

.biblRef[pubblicationtype=j] .author[data-style=mla]:not(:first-child):before {
    content: ", ";
}

.biblRef[pubblicationtype=j]  .author[data-style=mla]:not:first-child:after{
	content: ','
}

.biblRef[pubblicationtype=j] .titleAnalytic[data-style=mla]:before{
	content: ' "'
}

.biblRef[pubblicationtype=j] .titleAnalytic[data-style=mla]:after{
	content: '." '
}


.biblRef[pubblicationtype=j] .vol[data-style=mla]:after{
	content: '. '
}

.biblRef[pubblicationtype=j] .date[data-style=mla]:before{
	content: ' ('
}

.biblRef[pubblicationtype=j] > .date[data-style=mla]:not(:last-child):after{
	content: '): '
}

.biblRef[pubblicationtype=j] .date[data-style=mla]:last-child:after{
	content: ') ';
}

.biblRef[pubblicationtype=j]  .pp[data-style=mla]:after{
	content: '. '
}

.biblRef[pubblicationtype=j] .titleMonogr[data-style=mla]:after{
	content: '. '
}


.biblRef[pubblicationtype=a] .author[data-style=mla]:not(:first-child):before {
    content: ", ";
}

.biblRef[pubblicationtype=a]  .author[data-style=mla]:not:first-child:after{
	content: ','
}

.biblRef[pubblicationtype=a] .titleAnalytic[data-style=mla]:before{
	content: ' "'
}

.biblRef[pubblicationtype=a] .titleAnalytic[data-style=mla]:after{
	content: '." '
}


.biblRef[pubblicationtype=a] .vol[data-style=mla]:after{
	content: '. '
}

.biblRef[pubblicationtype=a] .date[data-style=mla]:before{
	content: ' ('
}

.biblRef[pubblicationtype=a] > .date[data-style=mla]:not(:last-child):after{
	content: '): '
}

.biblRef[pubblicationtype=a] .date[data-style=mla]:last-child:after{
	content: ') ' !important;
}

.biblRef[pubblicationtype=a]  .pp[data-style=mla]:after{
	content: '. '
}

.biblRef[pubblicationtype=a] .titleMonogr[data-style=mla]:after{
	content: '. '
}



.biblRef[pubblicationtype=u] .author[data-style=mla]:not(:first-child):before {
    content: ", ";
}

.biblRef[pubblicationtype=u]  .author[data-style=mla]:not:first-child:after{
	content: ','
}

.biblRef[pubblicationtype=u] .titleAnalytic[data-style=mla]:before{
	content: ' "'
}

.biblRef[pubblicationtype=u] .titleAnalytic[data-style=mla]:after{
	content: '." '
}


.biblRef[pubblicationtype=u] .vol[data-style=mla]:after{
	content: '. '
}

.biblRef[pubblicationtype=u] .date[data-style=mla]:before{
	content: ' ('
}

.biblRef[pubblicationtype=u] > .date[data-style=mla]:not(:last-child):after{
	content: '): '
}

.biblRef[pubblicationtype=u] .date[data-style=mla]:last-child:after{
	content: ') ' !important;
}

.biblRef[pubblicationtype=u]  .pp[data-style=mla]:after{
	content: '. '
}

.biblRef[pubblicationtype=u] .titleMonogr[data-style=mla]:after{
	content: '. '
}