<div class="search-results" ng-show="$parent.vm.getState('searchResultBox')">

   <div ng-show="$parent.vm.getSearchedTerm() !== ''" infinite-scroll="vm.loadMoreElements()" infinite-scroll-parent="true">

      <div class="search-info">
         <p>Search for <strong>{{$parent.vm.getSearchedTerm()}}</strong></p>
         <p>We have found <span>{{vm.getResultsNumber()}}</span> results in the selected edition</p>
      </div>

      <!-- Results for diplomatic edition -->
      <div class="token-results" ng-if="$parent.vm.getBoxEdition($parent.vm.parentBoxId) === 'diplomatic'">

         <div class="token" ng-repeat="result in vm.visibleRes track by $index"  >
            <span ng-click="vm.toggle()" class="icon"></span>
            Results for <span class="result-token">{{result.token}}</span>
            in <span class="result-doc">{{result.diplomaticText.xmlDocTitle[$index]}}</span>
            <span class="results-number">({{result.resultsNumber}})</span>

            <ul class="search-result">
               <li ng-repeat="i in vm.range(result.resultsNumber) track by $index">
                  <span class="original-text" id="{{result.diplomaticText.docId[$index]}}" ng-bind-html="vm.getHighlightedOriginalText(result.diplomaticText.docId[$index], 'diplomatic', result.token, result.diplomaticText.position[$index])"></span>
                  <a class="resultInfo" href="#" ng-click="vm.scrollToCurrentResult()">
                     Found in <span class="resultDoc" id="{{result.diplomaticText.xmlDocId[$index]}}">{{result.diplomaticText.xmlDocTitle[$index]}}</span>
                     <span class="resultSection" ng-if="result.diplomaticText.sectionTitle">({{result.diplomaticText.sectionTitle[$index]}})</span>
                     <span class="resultPage" id="{{result.diplomaticText.pageId[$index]}}" ng-if="result.diplomaticText.page">page {{result.diplomaticText.page[$index]}}</span>
                     <span class="resultPar" ng-if="result.diplomaticText.paragraph">paragraph {{result.diplomaticText.paragraph[$index]}}</span>
                     <span class="resultLine" id="{{result.diplomaticText.lbId[$index]}}" ng-if="result.diplomaticText.line">(line {{result.diplomaticText.line[$index]}})</span>
                  </a>
               </li>
            </ul>

         </div>

      </div>

      <!-- Results for interpretative edition -->
      <div class="token-results" ng-if="$parent.vm.getBoxEdition($parent.vm.parentBoxId) == 'interpretative'">

         <div class="token" ng-repeat="result in vm.visibleRes track by $index">
            <span ng-click="vm.toggle()" class="icon"></span>
            Results for <span class="result-token">{{result.token}}</span>
            in <span class="result-doc">{{result.interpretativeText.xmlDocTitle[$index]}}</span>
            <span class="token-results-number">({{result.resultsNumber}})</span>

            <ul class="search-result">
               <li ng-repeat="i in vm.range(result.resultsNumber) track by $index">
                  <span class="original-text" id="{{result.interpretativeText.docId[$index]}}" ng-bind-html="vm.getHighlightedOriginalText(result.interpretativeText.docId[$index], 'interpretative', result.token, result.interpretativeText.position[$index])"></span>
                  <a class="resultInfo" href="#" ng-click="vm.scrollToCurrentResult()">
                     Found in <span class="resultDoc" id="{{result.interpretativeText.xmlDocId[$index]}}">{{result.interpretativeText.xmlDocTitle[$index]}}</span>
                     <span class="resultSection" ng-if="result.diplomaticText.sectionTitle">({{result.interpretativeText.sectionTitle[$index]}})</span>
                     <span class="resultPage" id="{{result.interpretativeText.pageId[$index]}}" ng-if="result.interpretativeText.page">page {{result.interpretativeText.page[$index]}}</span>
                     <span class="resultPar" ng-if="result.interpretativeText.paragraph">paragraph {{result.interpretativeText.paragraph[$index]}}</span>
                     <span class="resultLine" id="{{result.interpretativeText.lbId[$index]}}" ng-if="result.interpretativeText.line">(line {{result.interpretativeText.line[$index]}})</span>
                  </a>
               </li>
            </ul>

         </div>

      </div>
   </div>

   <div class="search-info" ng-show="$parent.vm.getInputValue() === ''">{{vm.placeholder}}</div>

</div>
