<div class="search-results" ng-show="$parent.vm.getState('searchResultBox')">

   <div ng-show="$parent.vm.getSearchedTerm() !== ''" infinite-scroll="vm.loadMoreElements()" infinite-scroll-parent="true">

      <div class="search-info">
         <p>Search for <strong>{{$parent.vm.getSearchedTerm()}}</strong></p>
         <p>We have found <span>{{vm.getResultsNumber()}}</span> results in the selected edition</p>
      </div>

      <div class="token-results">
         <div class="token" ng-repeat="result in vm.visibleRes track by $index">
            <div ng-click="vm.toggle($event)" class="icon">
               Results for <span class="result-token">{{result.token}}</span>
               in <span class="result-doc">{{result.metadata.xmlDocTitle[0]}}</span>
               <span class="results-number">({{result.resultsNumber}})</span>
            </div>

            <ul class="search-result">
               <li ng-repeat="i in vm.range(result.resultsNumber) track by $index">
                  <span class="original-text" id="{{result.metadata.docId[$index]}}"
                        ng-bind-html="vm.getHighlightedOriginalText(result.metadata.docId[$index], vm.getCurrentBoxEdition($parent.vm.parentBoxId), result.token, result.metadata.position[$index])">
                  </span>
                  <a class="resultInfo" href="#" ng-click="vm.scrollToCurrentResult($event)">
                     Found in <span class="resultDoc" id="{{result.metadata.xmlDocId[$index]}}">{{result.metadata.xmlDocTitle[$index]}}</span>
                     <span class="resultSection" ng-if="result.metadata.sectionTitle">({{result.metadata.sectionTitle[$index]}})</span>
                     <span class="resultPage" id="{{result.metadata.pageId[$index]}}" ng-if="result.metadata.page">page {{result.metadata.page[$index]}}</span>
                     <span class="resultPar" ng-if="result.metadata.paragraph">paragraph {{result.metadata.paragraph[$index]}}</span>
                     <span class="resultLine" id="{{result.metadata.lbId[$index]}}" ng-if="result.metadata.line">(line {{result.metadata.line[$index]}})</span>
                  </a>
               </li>
            </ul>

         </div>
      </div>

   </div>

   <div class="search-info" ng-show="$parent.vm.getInputValue() === ''">{{vm.placeholder}}</div>

</div>
