<div class="search-box {{vm.getSearchBoxPosition()}}"
     ng-class="{'open' : vm.getState('searchBox'), 'results-open' : vm.getState('searchResults')}">

   <!-- search form -->
   <form ng-submit="vm.doSearchCallback()">
      <div class="searchBtnGroup">
         <div class="btn-left">
            <button-switch
               class="no-background"
               title="{{button.title}}"
               data-label="{{button.label}}"
               data-icon="{{button.icon}}"
               data-type="{{button.type}}"
               ng-repeat="button in vm.searchBoxBtn|limitTo: 4">
            </button-switch>
         </div>
         <div class="btn-right">
            <button-switch
               class="no-background"
               title="{{button.title}}"
               data-label="{{button.label}}"
               data-icon="{{button.icon}}"
               data-type="{{button.type}}"
               ng-repeat="button in vm.searchBoxBtn|limitTo: 3:4">
            </button-switch>
         </div>
      </div>
      <input type="text" ng-model="vm.searchInput" ng-change="vm.highlightSearchResults(vm.searchInput)" autocomplete="off" autofocus>
   </form>

   <!-- search results -->
   <div class="search-results" ng-class="{'open' : vm.getState('searchResults')}" >
      <div infinite-scroll="vm.loadMoreElements()" infinite-scroll-parent="true" compile="vm.getSearchResults()"></div>
   </div>

</div>
