<div class="search-results" id="" ng-class="{'open' : vm.getState('searchResults')}">

   <div ng-if="vm.getInputValue() !== ''" infinite-scroll="vm.loadMoreElements()" infinite-scroll-parent="true">
      <div class="search-info">
         <p>Search for <strong>{{vm.getInputValue()}}</strong></p>
         <p>We have found <span>{{vm.getResultsNumber()}}</span> results in the selected edition</p>
      </div>

      <!-- Results for diplomatic edition -->
      <div class="token-results" ng-repeat="result in vm.visibleRes track by $index" ng-if="vm.currentEdition == 'diplomatic'">
         <div class="token">
            <span ng-click="vm.toggle()" class="icon"></span>
            Results for <strong><i>{{result.token}}</i></strong><span class="token-results-number">({{result.resultsNumber}})</span>
            <ul class="search-result">
               <li ng-repeat="i in vm.range(result.resultsNumber) track by $index">
                  <span class="original-text" id="{{result.diplomaticText.lineId[$index]}}" ng-bind-html="vm.getHighlightedOriginalText(result.diplomaticText.lineId[$index], 'diplomatic', result.token)"></span>
                  <a class="resultInfo" href="#" ng-click="vm.goToAnchor()">
                     Found in <span class="resultDoc" id="{{result.diplomaticText.xmlDocId[$index]}}">{{result.diplomaticText.xmlDocTitle[$index]}}</span>
                     <span class="resultPage" id="{{result.diplomaticText.pageId[$index]}}">page {{result.diplomaticText.page[$index]}}</span>
                     <span class="resultPar" ng-if="result.diplomaticText.paragraph">paragraph {{result.diplomaticText.paragraph[$index]}}</span>
                     <span class="resultLine">(line {{result.diplomaticText.line[$index]}})</span>
                  </a>
               </li>
            </ul>
         </div>
      </div>

      <!-- Results for interpretative edition -->
      <div class="token-results" ng-repeat="result in vm.visibleRes track by $index" ng-if="vm.currentEdition == 'interpretative'">
         <div class="token">
            <span ng-click="vm.toggle()" class="icon"></span>
            Results for <strong><i>{{result.token}}</i></strong><span class="token-results-number">({{result.resultsNumber}})</span>
            <ul class="search-result">
               <li ng-repeat="i in vm.range(result.resultsNumber) track by $index">
                  <span class="original-text" id="{{result.interpretativeText.lineId[$index]}}" ng-bind-html="vm.getHighlightedOriginalText(result.interpretativeText.lineId[$index], 'interpretative')"></span>
                  <a class="resultInfo" href="#" ng-click="vm.goToAnchor()">
                     Found in <span class="resultDoc">{{result.interpretativeText.xmlDocTitle[$index]}}</span>
                     <span class="resultPage">page {{result.interpretativeText.page[$index]}}</span>
                     <span class="resultPar" ng-if="result.interpretativeText.paragraph">paragraph {{result.interpretativeText.paragraph[$index]}}</span>
                     <span class="resultLine">(line {{result.interpretativeText.line[$index]}})</span>
                  </a>
               </li>
            </ul>
         </div>
      </div>
   </div>

   <div class="search-info" ng-if="vm.getInputValue() == ''">{{vm.placeholder}}</div>

</div>
