<div class="search-box {{vm.getSearchBoxPosition()}}"
     ng-class="{'open' : vm.getState('searchBox')}">

   <!-- search form -->
   <form>
      <div class="searchBtnGroup">
         <div class="btn-left">
            <button-switch
               class="no-background"
               title="{{button.title}}"
               data-label="{{button.label}}"
               data-icon="{{button.icon}}"
               data-type="{{button.type}}"
               ng-repeat="button in vm.searchBoxBtn|limitTo: 3">
            </button-switch>
         </div>
         <div class="btn-right">
            <button-switch
               class="no-background"
               title="{{button.title}}"
               data-label="{{button.label}}"
               data-icon="{{button.icon}}"
               data-type="{{button.type}}"
               ng-repeat="button in vm.searchBoxBtn|limitTo: 3:3">
            </button-switch>
         </div>
      </div>
      <input type="text" ng-model="vm.searchInput" autofocus>
   </form>

   <!-- search results -->
   <div class="search-results" ng-class="{'open' : vm.getState('searchResults')}" compile="vm.getSearchResults()"></div>

</div>
