<div class="selector">
   <span 
      class="label_selected" 
      title="{{vm.optionSelected.title || vm.optionList[0].title}}"
      data-value="{{vm.optionSelected.value || vm.optionList[0].value}}">
      {{vm.optionSelected.label || vm.optionList[0].label}}
   </span>
   <div 
      class="open_options" 
      ng-click="vm.toggleExpand()">
      <i class="fa fa-sort-desc"></i>
   </div>
   <div 
      class="option_container" 
      ng-show="vm.expanded">
      <div 
         class="option" 
         title="{{option.title}}" 
         data-value="{{option.value}}" 
         ng-repeat="option in vm.optionList" 
         ng-click="vm.selectOption(option)" 
         ng-class="{'selected': vm.isOptionSelected(option)}">
         {{option.label}}
      </div>
   </div>
</div>