<div class="selector" 
     data-parent="{{ ::vm.parent }}"
     ng-show="::vm.optionList.length > 0">
   <span 
      class="label_selected" 
      title="{{ vm.getOptionSelected().title }}"
      data-value="{{ vm.getOptionSelected().value }}">
      {{ vm.getOptionSelected().label }}
   </span>
   <div 
      class="open_options" 
      ng-click="vm.toggleExpand()">
      <i class="fa fa-sort-desc"></i>
   </div>
   <div 
      class="option_container"
      ng-class="{'expanded':vm.expanded}" >
      <div 
         class="option" 
         title="{{::option.title}}" 
         data-value="{{::option.value}}"
         data-wit="{{::option.ed}}"
         ng-repeat="option in ::vm.optionList" 
         ng-click="vm.callback(vm.optionSelected, option);"
         ng-class="{'selected': vm.isOptionSelected(option)}">
         {{ ::option.label }}
      </div>
   </div>
</div>