<div class="selector" ng-class="{'smaller': vm.smaller}"
     data-parent="{{ ::vm.parent }}"
     ng-show="::vm.optionList.length > 0">
   <span 
      class="label_selected" 
      title="{{ vm.getOptionSelected().title | translate }}"
      data-value="{{ vm.getOptionSelected().value }}">
      {{ vm.getOptionSelected().label | translate | camelToSpaces | underscoresToSpaces | capitalize  }}
   </span>
   <div 
      class="open_options" 
      ng-click="vm.toggleExpand()">
      <i class="fa fa-sort-desc"></i>
   </div>
   <div 
      class="option_container"
      ng-class="{ 'expanded':vm.expanded,
                  'openUp': vm.openUp }" >
      <div ng-repeat="option in vm.optionList" ng-switch="::option.type">
         <div ng-switch-when="groupTitle" class="option groupTitle">
            {{ option.label | translate | camelToSpaces | underscoresToSpaces | capitalize }}
         </div>
         <div 
            ng-switch-default
            class="option {{ ::option.additionalClass }}" 
            title="{{option.title | translate | camelToSpaces | underscoresToSpaces | capitalize  }}" 
            data-value="{{::option.value }}"
            data-wit="{{::option.ed}}"
            ng-click="vm.doCallback(vm.optionSelected, option);"
            ng-class="{'selected': vm.isOptionSelected(option)}">
            <i class="fa {{::option.icon}} option-icon-label" 
               style="color: {{ ::option.color }}"
               ng-if="::option.icon"></i>
            {{ option.label  | translate | camelToSpaces | underscoresToSpaces | capitalize }}
         </div>
      </div>
   </div>
</div>