node_modules
dist
.tmp
.sass-cache
bower_components
build
app/data
app/old
app/data/*
app/data/pseudo-edition-test-file_mod.xml
app/data/pseudo-edition-test-file_mod.xml
app/data/pseudo-edition-test-file_mod.xml
