<span class="buttonSwitch"
    title="{{ ::vm.title}}"
    ng-click="vm.doCallback()"
    ng-class="{'buttonSwitch-active': vm.active,
               'buttonSwitch-disabled': vm.disabled,
               'only-icon': vm.label === undefined || vm.label === '',
               'only-text': vm.icon === undefined || vm.icon === '',
               'iconLeft': vm.iconPos && vm.iconPos === 'left' }">
    
    <i ng-if=":: iconPos && iconPos === 'left'" class="icon {{ ::vm.icon}} buttonSwitch-icon"></i>
    
    <span
      class="buttonSwitch-label"
      ng-if="::vm.label !== undefined && vm.label !== ''">{{ ::vm.label}}</span>
    
    <i ng-if=":: !iconPos || iconPos === 'right'" class="icon {{ ::vm.icon}} buttonSwitch-icon"></i>
</span>