/* ALL MOBILE DEVICES ====================================== */
/* Normalize ---------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  min-height: 0;
  vertical-align: baseline;
  border: 0;
  display: block;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  font-size: 100%; }

a {
  cursor: pointer;
  text-decoration: none; }

p, h1, h2, h3 {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal; }

/* END Normalize ------------------------------------------- */
/* Fonts --------------------------------------------------- */
@font-face {
  font-family: 'Junicode';
  src: url("../fonts/Junicode.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Junicode-bold';
  src: url("../fonts/Junicode-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Junicode-italic';
  src: url("../fonts/Junicode-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic; }
/* END Fonts --------------------------------------------- */
body {
  min-height: 0;
  font-family: Junicode, Times, serif;
  background: #000;
  color: #FFF; }

span {
  display: inline-block; }

/* INFO ------------------------------------------------- */
.dvbText {
  padding: 2.5em;
  background: #333; }

.dvbList {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 1em 2.5em;
  background: #666;
  border-top: 3px solid #222;
  text-align: center; }
  .dvbList li {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0.5em 1em;
    display: inline-block;
    background: #333;
    box-shadow: 1px 1px 3px 0px #000; }
  .dvbList span {
    width: 100%; }
  .dvbList .fa {
    font-size: 0.8em; }
  .dvbList a {
    color: #FFF; }

/* END INFO ------------------------------------------------- */
/* MENU' ====================================== */
.nav {
  width: 100%;
  height: auto;
  top: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  display: block;
  z-index: 20;
  cursor: pointer;
  color: #CCC;
  text-align: center;
  font-size: 1.7em; }
  .nav ul {
    background: #333;
    margin-bottom: 0.2em;
    border-bottom: 1px solid #222;
    box-shadow: 0 5px 5px -5px #000; }
  .nav .active, .nav .active .fa {
    color: #FFF; }

.navItem {
  float: left;
  height: 50px;
  padding-top: 0.3em;
  overflow: hidden; }

.nav li, .dropdown {
  width: 15%; }

.nav li:first-child {
  width: 70%;
  float: left;
  text-align: left; }

.dropdown {
  float: right;
  margin-top: -0.2em;
  border: 1px solid #222; }
  .dropdown li {
    width: 100%;
    height: 55px;
    padding-top: 0.4em;
    overflow: hidden;
    text-align: center; }
  .dropdown li:first-child {
    width: 100%;
    text-align: center; }
  .dropdown li + li {
    border: none; }

/* Smartphone ================================================ */
@media screen and (max-width: 699px) {
  .nav li, .dropdown {
    width: 20%;
    font-size: 0.9em; }

  .nav li:first-child {
    width: 60%;
    font-size: 0.7em;
    line-height: 35px; }

  .dropdown {
    margin-top: -0.25em; }

  .dropdown li, .dropdown li:first-child {
    width: 100%;
    padding-top: 0.5em;
    font-size: 0.9em; }

  .imageimage, .imagetext, .texttext {
    display: none; } }
/* end Smartphone ============================================= */
/* END MENU ====================================== */
/* SEARCH  ====================================== */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* Search ------------------------- */
.toolbarSearch {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 1em 0.5em;
  background: #333; }

.boxOptions {
  width: 30%;
  float: left;
  display: inline-block;
  overflow: hidden; }

.boxSearch {
  width: 70%;
  height: 2.5em;
  float: left;
  display: inline-block;
  overflow: hidden;
  background: #FFF; }
  .boxSearch input {
    width: 85%;
    height: 2.8em;
    padding-left: 0.5em;
    float: left;
    display: inline-block;
    border: none;
    font-size: 11pt; }

.buttonOption {
  width: 42%;
  height: 1.6em;
  float: left;
  display: inline-block;
  cursor: pointer;
  border: none;
  overflow: hidden;
  line-height: 1.5em;
  text-align: center;
  font-size: 1.4em;
  text-shadow: 2px 1px 1px #333;
  margin: 1%;
  color: #CCC;
  background: #666;
  box-shadow: 1px 1px 3px 0px #000; }
  .buttonOption .fa {
    font-size: 0.9em;
    line-height: 1.5em;
    height: 1.3em;
    overflow: hidden; }
  .buttonOption .fa {
    color: #CCC; }

.buttonSearch {
  width: 15%;
  height: 1.6em;
  float: left;
  display: inline-block;
  cursor: pointer;
  border: none;
  overflow: hidden;
  line-height: 1.5em;
  text-align: center;
  font-size: 1.4em;
  text-shadow: 2px 1px 1px #333;
  color: #666;
  background: none;
  display: inline-block;
  text-align: right; }
  .buttonSearch .fa {
    font-size: 0.9em;
    line-height: 1.5em;
    height: 1.3em;
    overflow: hidden; }
  .buttonSearch .fa {
    width: 100%;
    color: #666; }

.activeOption {
  text-shadow: none;
  box-shadow: none; }

/* end Search ------------------------- */
/* Options---------------------------------- */
.toolbarOptions {
  text-align: center;
  background: #666;
  box-shadow: inset 0px 0px 0px 1px #222; }

.listOption {
  padding: 1.35135%;
  display: inline-block;
  margin-bottom: 1.35135%;
  display: table-cell; }

.letters {
  width: 2.5em;
  height: 2.5em;
  margin: 0.3em;
  overflow: hidden;
  color: #333;
  background: #CCC;
  border-radius: 10%;
  text-align: center;
  line-height: 2.5em;
  font-size: 14pt;
  box-shadow: 1px 1px 3px 0px #000; }

.filters {
  margin: 1em;
  overflow: hidden;
  color: #FFF;
  text-align: center;
  font-size: 12pt; }

input[type=checkbox] {
  display: none; }

input[type=checkbox] + label:before {
  content: "\f096";
  font-family: FontAwesome;
  letter-spacing: 5px;
  cursor: pointer; }

input[type=checkbox]:checked + label:before {
  content: "\f046";
  font-family: FontAwesome;
  cursor: pointer; }

/* end Options------------------------------- */
/* List Reasults------------------------------------- */
.listResults {
  padding: 0 0.5em;
  display: inline-block;
  text-align: left;
  background: #333; }
  .listResults h3 {
    margin: 0.5em 0; }
  .listResults li {
    height: 5em;
    margin: 0.1em;
    margin-bottom: 0.4em;
    background: #FFF;
    overflow: hidden;
    border: 1px solid #222;
    box-shadow: 1px 1px 3px 0px #000; }

.resultInfo span {
  color: #333; }

.resultText p {
  margin: -2.5em -2em 0 -2em;
  color: #666; }

/* end List Reasults------------------------------------- */
/* Smartphone ================================================ */
@media screen and (max-width: 479px) {
  .boxOptions {
    width: 100%;
    margin-top: 3em; }

  .boxSearch {
    width: 100%;
    margin-top: -5.5em; }

  .buttonOption {
    width: 48%;
    height: 1.6em;
    float: left;
    display: inline-block;
    cursor: pointer;
    border: none;
    overflow: hidden;
    line-height: 1.5em;
    text-align: center;
    font-size: 1.4em;
    text-shadow: 2px 1px 1px #333;
    margin: 1%; }
    .buttonOption .fa {
      font-size: 0.9em;
      line-height: 1.5em;
      height: 1.3em;
      overflow: hidden; } }
/* end Smartphone ============================================= */
/* END SEARCH ====================================== */
/* TOOLBAR ====================================== */
.toolbar {
  width: 100%;
  height: auto;
  position: fixed;
  display: block;
  z-index: 20;
  bottom: 0; }

/* Settings ====================================== */
.leftSettings {
  width: 40%;
  height: auto;
  display: inline-block;
  float: left;
  overflow: hidden; }
  .leftSettings .active .fa {
    color: #FFF;
    text-shadow: none; }

.rightSettings {
  width: 40%;
  height: auto;
  display: inline-block;
  float: right;
  overflow: hidden; }
  .rightSettings .active .fa {
    color: #FFF;
    text-shadow: none; }

.contentSettings {
  width: auto;
  height: 100%;
  text-align: center; }
  .contentSettings .fa {
    cursor: pointer;
    color: #999; }

.leftButtonSettings {
  width: 1.8em;
  height: 1.8em;
  margin-top: 2.4em;
  padding-top: 0.4em;
  float: left;
  overflow: hidden;
  display: inline-block;
  background: #333;
  opacity: 0.9;
  font-size: 1.6em;
  text-align: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; }

.rightButtonSettings {
  width: 1.8em;
  height: 1.8em;
  margin-top: 2.4em;
  padding-top: 0.4em;
  float: right;
  overflow: hidden;
  display: inline-block;
  background: #333;
  opacity: 0.9;
  font-size: 1.6em;
  text-align: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; }

.leftSetOptions {
  width: 70%;
  height: 100%;
  display: inline-block;
  float: left;
  background: #666;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  border-right: 5px solid #333; }
  .leftSetOptions li {
    width: 90%;
    margin: 0.7em auto;
    padding-top: 0.4em;
    line-height: 1.5em;
    overflow: hidden;
    cursor: pointer;
    background: #333;
    box-shadow: 1px 1px 3px 0px #000; }

.rightSetOptions {
  width: 70%;
  height: 100%;
  display: inline-block;
  float: right;
  background: #666;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  border-left: 5px solid #333; }
  .rightSetOptions li {
    width: 90%;
    margin: 0.7em auto;
    padding-top: 0.4em;
    line-height: 1.5em;
    overflow: hidden;
    cursor: pointer;
    background: #333;
    box-shadow: 1px 1px 3px 0px #000; }

.leftSetOptions .active, .rightSetOptions .active {
  color: #FFF;
  background: #222;
  box-shadow: none; }

/* end Settings ====================================== */
/* Thumbnails ====================================== */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.thumbText {
  width: 100%;
  display: block;
  margin-top: -1.6em;
  text-align: center; }
  .thumbText .active .fa {
    color: #FFF;
    text-shadow: none; }

.thumbImage {
  width: 100%;
  display: block;
  margin-top: 0;
  text-align: center; }
  .thumbImage .active .fa {
    color: #FFF;
    text-shadow: none; }

.buttonThumb {
  width: 1.8em;
  height: 1.2em;
  margin: 0 auto;
  display: block;
  overflow: hidden;
  cursor: pointer;
  color: #999;
  background: #333;
  opacity: 0.9;
  font-size: 2em;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }
  .buttonThumb .fa {
    padding-top: 0.2em; }

.navThumb {
  height: 8em;
  padding: 0.4em;
  background: #333;
  opacity: 0.9;
  font-size: 0.9em;
  overflow-y: hidden; }
  .navThumb .active {
    border: 1px solid #666;
    background: #222;
    box-shadow: inset 0px 0px 6px 5px rgba(0, 0, 0, 0.75); }
  .navThumb figure {
    margin: 0.2em;
    padding: 0.2em 0;
    float: left;
    display: inline-block; }
  .navThumb img {
    max-width: 60%;
    margin: 0 auto;
    cursor: pointer; }
  .navThumb figcaption {
    margin: 0 auto; }

/* Smartphone ================================================ */
@media screen and (max-width: 479px) {
  .navThumb {
    width: 390%; } }
/* end Smartphone ============================================= */
/* Tablet Portrait ============================================ */
@media screen and (min-width: 480px) and (max-width: 800px) {
  .navThumb {
    width: 250%; } }
/* end Tablet Portrait ======================================== */
/* Tablet Landscape =========================================== */
@media screen and (min-width: 801px) {
  .navThumb {
    width: 160%; } }
/* end Tablet Landscape ======================================= */
/* end Thumbnails ====================================== */
/* END TOOLBAR ====================================== */
/* VIEW ====================================== */
.baseTemplate {
  width: 100%;
  height: auto;
  padding-top: 2.5em;
  color: #FFF; }

.fullscreen {
  width: 100%;
  margin: 0 auto; }

.halfscreen {
  width: 50%;
  padding: 0 0.5em;
  float: left; }

.slide {
  max-width: 100%;
  margin: 0 auto; }

.boxText {
  max-width: 100%;
  background: #FFF;
  color: #000; }

.contentText, .information {
  width: 95%;
  margin: 1em auto; }

.textTitle, .textPage {
  float: right;
  color: #666;
  padding: 0 0.5em; }

.prev {
  display: block;
  position: fixed;
  top: 50%;
  opacity: 0.8;
  color: #666;
  cursor: pointer;
  font-family: FontAwesome;
  font-size: 4em;
  font-style: normal;
  font-weight: normal;
  text-shadow: 3px 3px 2px #000;
  left: 2%; }
  .prev::before {
    content: "\f104"; }

.next {
  display: block;
  position: fixed;
  top: 50%;
  opacity: 0.8;
  color: #666;
  cursor: pointer;
  font-family: FontAwesome;
  font-size: 4em;
  font-style: normal;
  font-weight: normal;
  text-shadow: 3px 3px 2px #000;
  right: 2%; }
  .next::before {
    content: "\f105"; }

/* END VIEW ====================================== */
/* PAGE DATA ====================================== */
.facs-hi-cap, .facs-sic, .facs-orig, .facs-abbr, .facs-hi-double, .facs-damage, .facs-del, .facs-add, .facs-subst, .facs-am,
.dipl-hi-init3_1, .dipl-hi-cap, .dipl-sic, .dipl-reg, .dipl-expan, .dipl-ex, .dipl-hi-double, .dipl-orig,
.dipl-damage, .dipl-del, .dipl-add, .dipl-subst {
  display: inline; }

#text {
  padding-bottom: 4em;
  width: 100%;
  background: none; }

SPAN.facs-damage, SPAN.facs-del, SPAN.facs-add, SPAN.dipl-damage, SPAN.dipl-del, SPAN.dipl-add {
  background: none;
  text-decoration: none;
  list-style: none; }

span.facs-reg, span.dipl-choice_popup span.dipl-orig {
  padding: 0.5%;
  line-height: 22px;
  background-color: #333;
  border: 1px solid #000;
  border-radius: 0;
  box-shadow: 1px #000;
  color: #FFF; }

span.facs-reg:before, span.dipl-choice_popup span.dipl-orig:before {
  content: none; }

/* END PAGE DATA ====================================== */
