/* ALL MOBILE DEVICES ====================================== */
/* Normalize ---------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  min-height: 0;
  vertical-align: baseline;
  border: 0;
  display: block;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  font-size: 100%; }

a {
  cursor: pointer;
  text-decoration: none; }

p, h1, h2, h3 {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal; }

/* END Normalize ------------------------------------------- */
/* Fonts --------------------------------------------------- */
@font-face {
  font-family: 'Junicode';
  src: url("../fonts/Junicode.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Junicode-bold';
  src: url("../fonts/Junicode-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Junicode-italic';
  src: url("../fonts/Junicode-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic; }
/* END Fonts --------------------------------------------- */
body {
  min-height: 0;
  font-family: Junicode, Times, serif;
  background: #000;
  color: #FFF;
  overflow: hidden; }

span {
  display: inline-block; }

/* MENU' ====================================== */
.nav {
  width: 100%;
  height: 100%;
  top: 0;
  margin: 0;
  padding: 0;
  display: block;
  z-index: 20;
  cursor: pointer;
  color: #CCC;
  text-align: center;
  font-size: 1.7em;
  text-shadow: 2px 2px 3px #333; }
  .nav ul {
    background: #666;
    margin-bottom: 0.2em;
    -moz-box-shadow: 0 6px 6px -5px #000;
    -webkit-box-shadow: 0 6px 6px -5px #000;
    box-shadow: 0 6px 6px -5px #000; }
  .nav a {
    color: #CCC; }
  .nav .active, .nav .active .fa {
    text-shadow: none; }

.navItem {
  float: left;
  height: 40px;
  overflow: hidden;
  padding-top: 0.2em;
  overflow: hidden; }

.dropdown {
  float: right;
  margin-top: -0.2em; }
  .dropdown li {
    width: 100%;
    height: 50px;
    padding-top: 0.2em;
    border-top: #333 1px solid;
    overflow: hidden; }
  .dropdown li + li {
    border: none; }

/* Smartphone ================================================ */
@media screen and (max-width: 479px) {
  .nav li, .dropdown {
    width: 25%;
    font-size: 1em; }

  .nav li:first-child {
    width: 100%;
    height: auto;
    float: left;
    font-size: 1em; }

  .dropdown li, .dropdown li:first-child {
    width: 100%;
    padding-top: 0.5em; }

  .imageimage, .imagetext, .texttext {
    display: none; } }
/* end Smartphone ============================================= */
/* Tablet portrait ============================================ */
@media screen and (min-width: 480px) and (max-width: 800px) {
  .nav li, .dropdown {
    width: 25%; }

  .nav li:first-child, .dropdown li {
    width: 100%;
    height: auto;
    float: left; } }
/* end Tablet portrait ========================================= */
/* Tablet landscape ============================================ */
@media screen and (min-width: 801px) {
  .nav li, .dropdown {
    width: 12.5%; }

  .nav li:first-child {
    width: 50%;
    float: left; }

  .dropdown li, .dropdown li:first-child {
    width: 100%; } }
/* end Tablet landscape ============================================ */
/* END MENU ====================================== */
/* THUMBNAILS ====================================== */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.thumbContainer {
  display: table-cell;
  text-align: center; }

.thumb {
  padding: 2.5641%;
  padding-bottom: 0;
  margin: 1.5em auto;
  display: inline-block;
  margin-bottom: 2.5641%; }
  .thumb img {
    max-width: 100%;
    margin: 0 auto;
    -moz-box-shadow: 0 7px 7px -5px #000;
    -webkit-box-shadow: 0 7px 7px -5px #000;
    box-shadow: 0 7px 7px -5px #000; }
  .thumb figcaption {
    margin: 0.5em 0;
    color: #FFF;
    font-size: 18px; }

/* END THUMBNAILS ====================================== */
/* SEARCH  ====================================== */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* Toolbar Search ------------------------- */
.boxOptions {
  width: 30%;
  float: left;
  display: inline-block;
  overflow: hidden; }

.boxSearch {
  width: 70%;
  height: 2.5em;
  float: left;
  display: inline-block;
  overflow: hidden;
  background: #FFF; }
  .boxSearch input {
    width: 90%;
    height: 2.8em;
    padding-left: 0.5em;
    float: left;
    display: inline-block;
    border: none;
    font-size: 11pt; }

.buttonOption {
  width: 42%;
  height: 1.6em;
  float: left;
  display: inline-block;
  cursor: pointer;
  border: none;
  overflow: hidden;
  text-align: center;
  font-size: 1.4em;
  text-shadow: 2px 2px 2px #333;
  margin: 1%;
  color: #CCC;
  background: #666;
  -webkit-box-shadow: 1px 1px 5px 0px #000;
  -moz-box-shadow: 1px 1px 5px 0px #000;
  box-shadow: 1px 1px 5px 0px #000; }
  .buttonOption .fa {
    font-size: 0.9em;
    line-height: 1.3em;
    height: 1.3em;
    overflow: hidden; }
  .buttonOption .fa {
    color: #CCC; }

.buttonSearch {
  width: 10%;
  height: 1.6em;
  float: left;
  display: inline-block;
  cursor: pointer;
  border: none;
  overflow: hidden;
  text-align: center;
  font-size: 1.4em;
  text-shadow: 2px 2px 2px #333;
  color: #666;
  background: none;
  display: block; }
  .buttonSearch .fa {
    font-size: 0.9em;
    line-height: 1.3em;
    height: 1.3em;
    overflow: hidden; }
  .buttonSearch .fa {
    color: #666; }

.activeOption {
  text-shadow: none;
  box-shadow: none; }

/* end Toolbar Search ------------------------- */
/* Toolbar Options---------------------------------- */
.toolbarOptions {
  text-align: center;
  background: #262626;
  -webkit-box-shadow: inset 0px 0px 5px 6px rgba(0, 0, 0, 0.71);
  -moz-box-shadow: inset 0px 0px 5px 6px rgba(0, 0, 0, 0.71);
  box-shadow: inset 0px 0px 5px 6px rgba(0, 0, 0, 0.71); }

.listOption {
  padding: 2.5641%;
  padding-bottom: 0;
  margin: 1.5em auto;
  display: inline-block;
  margin-bottom: 1.35135%;
  display: table-cell; }

.letters {
  width: 3em;
  height: 3em;
  margin: 0.5em;
  overflow: hidden;
  background: #333;
  border: 1px solid #666;
  text-align: center;
  line-height: 3em;
  font-size: 14pt; }

.filters {
  margin: 1em;
  overflow: hidden;
  text-align: center;
  font-size: 12pt; }

input[type=checkbox] {
  display: none; }

input[type=checkbox] + label:before {
  content: "\f096";
  font-family: FontAwesome;
  letter-spacing: 5px;
  cursor: pointer; }

input[type=checkbox]:checked + label:before {
  content: "\f046";
  font-family: FontAwesome;
  cursor: pointer; }

/* end Toolbar Options------------------------------- */
/* List Reasults------------------------------------- */
.listResults {
  padding: 0 0.5em;
  display: inline-block;
  text-align: left; }
  .listResults h3 {
    margin: 0.5em 0; }
  .listResults li {
    height: 5em;
    margin: 0.1em;
    margin-bottom: 0.4em;
    background: #CCC;
    overflow: hidden; }

.resultInfo span {
  color: #333; }

.resultText p {
  margin: -2.5em -2em 0 -2em;
  color: #666; }

/* end List Reasults------------------------------------- */
/* Smartphone ================================================ */
@media screen and (max-width: 479px) {
  .toolbarSearch {
    width: 100%;
    height: 100%;
    margin: 1em auto;
    margin-bottom: 0; }

  .boxOptions {
    width: 100%;
    margin-top: 3em; }

  .boxSearch {
    width: 100%;
    margin-top: -5.5em; }

  .buttonOption {
    width: 48%;
    height: 1.6em;
    float: left;
    display: inline-block;
    cursor: pointer;
    border: none;
    overflow: hidden;
    text-align: center;
    font-size: 1.4em;
    text-shadow: 2px 2px 2px #333;
    margin: 1%; }
    .buttonOption .fa {
      font-size: 0.9em;
      line-height: 1.3em;
      height: 1.3em;
      overflow: hidden; } }
/* end Smartphone ============================================= */
/* Tablet portrait ============================================ */
@media screen and (min-width: 480px) and (max-width: 800px) {
  .toolbarSearch {
    width: 98%;
    height: 100%;
    margin: 3em auto;
    margin-bottom: 0; } }
/* end Tablet portrait ========================================= */
/* Tablet landscape ============================================ */
@media screen and (min-width: 801px) {
  .toolbarSearch {
    width: 60%;
    height: 100%;
    margin: 1em auto;
    margin-bottom: 0; } }
/* end Tablet landscape ============================================ */
/* END SEARCH ====================================== */
/* VIEW ====================================== */
.greyTemplate {
  width: 100%;
  height: auto;
  top: 0;
  position: absolute;
  z-index: -20;
  color: #FFF;
  background: #333; }

.blackTemplate {
  width: 100%;
  height: auto;
  top: 0;
  position: absolute;
  z-index: -20;
  color: #FFF;
  background: #000; }

/* Template: DVB -------------------- */
.greyTemplate p {
  padding: 2.5em; }

.dvbList {
  width: 100%;
  height: 100%;
  padding: 1em 0 1em 2.5em;
  background: #666; }
  .dvbList li.span {
    float: left;
    display: inline-block; }
  .dvbList a {
    color: #CCC; }

/* Template: View ------------------- */
.fullscreen {
  width: 100%;
  margin: 0 auto; }

.halfscreen {
  width: 50%;
  padding: 0 0.5em;
  float: left; }

.slide {
  max-width: 100%;
  margin: 0 auto; }

.boxText {
  max-width: 100%;
  background: #FFF;
  color: #000; }

.contentText, .information {
  width: 95%;
  margin: 1em auto; }

.textTitle, .textPage {
  float: right;
  color: #666;
  padding: 0 0.5em; }

.prev {
  display: block;
  position: fixed;
  top: 50%;
  z-index: 20;
  opacity: 0.8;
  color: #666;
  outline: medium none;
  font-family: FontAwesome;
  font-size: 4em;
  font-style: normal;
  font-weight: normal;
  text-shadow: 3px 3px 2px #000;
  left: 2%; }
  .prev::before {
    content: "\f104"; }

.next {
  display: block;
  position: fixed;
  top: 50%;
  z-index: 20;
  opacity: 0.8;
  color: #666;
  outline: medium none;
  font-family: FontAwesome;
  font-size: 4em;
  font-style: normal;
  font-weight: normal;
  text-shadow: 3px 3px 2px #000;
  right: 2%; }
  .next::before {
    content: "\f105"; }

/* Smartphone ================================================ */
@media screen and (max-width: 479px) {
  .greyTemplate, .blackTemplate {
    padding-top: 4.5em; } }
/* end Smartphone ============================================= */
/* Tablet portrait ============================================ */
@media screen and (min-width: 480px) and (max-width: 800px) {
  .greyTemplate, .blackTemplate {
    padding-top: 5em; } }
/* end Tablet portrait ========================================= */
/* Tablet landscape ============================================ */
@media screen and (min-width: 801px) {
  .greyTemplate, .blackTemplate {
    padding-top: 2em; } }
/* end Tablet landscape ============================================ */
/* END VIEW ====================================== */
