

@font-face {
	font-family: 'Junicode';
	src: url('../fonts/Junicode.woff') format('woff');
	font-weight: normal;
	font-style: normal; }

@font-face {
	font-family: 'Junicode-bold';
	src: url('../fonts/Junicode-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal; }

@font-face {
	font-family: 'Junicode-italic';
	src: url('../fonts/Junicode-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic; }

::selection {
	color: white;
	background: #4e443c; /*outline:green dotted thick*/ }

::-moz-selection {
	color: white;
	background: #4e443c; /*outline:green dotted thick*/ }

hr {
	height: 1px;
	visibility: hidden;
	margin-bottom: -1px; }

#text_frame {
	background: white;
	margin-top: -30px;
	max-width: 600px;
	padding-left: 10px;
	margin: 10px auto;
	text-align: left;
	line-height: 28px;
	font-size: 19px; }

.right {
	position: absolute;
	float: right; }

.add_elem { display: none; }

/*
H1 {text-align: center}
H2 {margin-left: 0.5cm}
H2.center {text-align: center}
H3 {margin-left: 0.5cm; font-style: italic}
H3.center {text-align: center}
H4 {margin-left: 0.5cm}
P {margin-left: 0.5cm; margin-right: 0.5cm; text-indent: 0.5cm; text-align:
 justify}
P.center {margin-left: 0.5cm; margin-right: 0.5cm; text-indent: 0.5cm;
 text-align: center}
P.right {margin-left: 0.5cm; margin-right: 0.5cm; text-indent: 0.5cm;
 text-align: right}
P.list {text-indent: 0cm; margin-right: 1cm; text-align: justify}
P.footnote {margin-left: 0.5cm; margin-right: 0.5cm; text-align: justify;
 font-size: 80%}
P.noindent {margin-left: 0.5cm; margin-right: 0.5cm; text-align: justify;
 text-indent: 0cm}
BLOCKQUOTE {margin-left: 1cm; text-align: justify}
BLOCKQUOTE.sans {font-family: Verdana, sans-serif; margin-left: 1cm; text-align:
 justify}
BLOCKQUOTE.mono {font-family: "Courier New", sans-serif; margin-left: 1cm; text-align:
 justify}
SUP {font-size: 80%}
DIV.left {text-align: left}
DIV.right {text-align: right}
DIV.center {text-align: center}
DT {margin-left: 0.5cm; margin-right: 0.5cm; text-indent: 0.5cm; text-align:
 left}
DD {margin-left: 1.0cm; margin-right: 0.5cm; text-align: justify}
UL {margin-left: 0.5cm}
HR.fat {size: 5; width: 80%; align: center}
TR {valign: top}*/
/*SPAN.abbr {color: purple}*/

/**EDIZIONE DIPLOMATICA**/
DIV.facs-zone{
    margin-bottom: 5px; 
}

DIV.facs-center, SPAN.facs-center {
	/*margin-left: 0.5cm;
	margin-right: 0.5cm;
	text-indent: 0.5cm;
	text-align: center;
	display: block; 
	*/
    text-align: center;
    width: 92%;
    display: inline-table;
    background:#FFF;
}

DIV.facs-right, SPAN.facs-right {
	/*margin-left: 0.5cm;
	margin-right: 0.5cm;
	text-indent: 0.5cm;
	text-align: right;
	display: block; 
    */
    text-align: right;
    width: 92%;
    display: inline-table;
    background:#FFF;
}

DIV.facs-left{
    width: 92%;
    display: inline-table;
}

DIV.facs-attachment{
    border: 1px solid black;
    padding: 5px 0px 0px 10px;
}

SPAN.facs-lineN {
	color: grey;
	font-size: 0.8em; 
	}

SPAN.facs-subst { 
	text-decoration: underline; 
}

SPAN.facs-del {
	background-color: red;
	text-decoration: line-through; 
}

SPAN.facs-add { 
	background-color: rgba(0,128,0, 0.8); 
}

SPAN.facs-orig SPAN.facs-sup {
    line-height: 20px;
	vertical-align: 20%; 
}

SPAN.facs-orig SPAN.facs-under {
    line-height: 20px;
	vertical-align: -20%; 
}

SPAN.facs-damage { 
	background-color: rgba(193,193,193, 0.7); 
}

span.facs-choice_popup { 
	display: inline-table;
    /*white-space: nowrap;*/
}

span.facs-reg:before {
	content: url("../images/popup_before.png");
	left: 15%;
	position: absolute;
	top: -13px; }

span.facs-reg {
	font-size: 80%;
	position: absolute;
	line-height: 16px;
	display: none;
	background: #e5dac4;
	border: 2.5px solid black;
	border-radius: 3px;
	box-shadow: 2px 2px 2px #7e7067;
	padding: 0.4%;
	margin-top: 30px; }

span.facs-reg span{
	background: transparent;
 }
	
span.facs-choice_popup:hover span.facs-reg,
span.facs-choice_popup.hover span.facs-reg {
	display: inline;
	min-width: 20px;
	text-align: center; 
}

span.facs-choice_popup span.facs-orig { 
	#color: #999966;
	color: #69513a; /*background-color: rgba(255,255,204,0.8);*/ 
}

span.facs-choice_popup:hover span.facs-orig,
span.facs-choice_popup.hover span.facs-orig {
	color: #561c0a;
	text-decoration: underline; 
}

/*SPAN.expan {font-style: italic}
SPAN.n {color: gray}*/
SPAN.facs-red { 
	color: red; 
}

SPAN.facs-hi-7init {
	font-size: 200%;
	font-weight: bold; 
}

SPAN.facs-hi-init3_1 {
	font-size: 180%;
	font-weight: bold; 
}

SPAN.facs-hi-cap { 
	text-transform: uppercase; 
}

SPAN.facs-hi-double { 
	font-size: 120%; 
}


/**EDIZIONE INTERPRETATIVA**/

DIV.dipl-zone{
    margin-bottom: 5px; 
}


DIV.dipl-center, SPAN.dipl-center {
	/*margin-left: 0.5cm;
	margin-right: 0.5cm;
	text-indent: 0.5cm;
	text-align: center;
	display: block;
	*/
	/*CDP*/
	text-align: center;
    width: 92%;
    display: inline-table;
    background:#FFF;
}

DIV.dipl-right, SPAN.dipl-right {
	/*margin-left: 0.5cm;
	margin-right: 0.5cm;
	text-indent: 0.5cm;
	text-align: right;
	display: block;
	*/
	/*CDP*/
	text-align: right;
    width: 92%;
    display: inline-table;
    background:#FFF; 
}

DIV.dipl-left, SPAN.dipl-left{
    width: 92%;
    display: inline-table;
}

DIV.dipl-attachment{
    border: 1px solid black;
    padding: 5px 0px 0px 10px;
}

SPAN.dipl-lineN {
	color: grey;
	font-size: 0.8em; 
}

SPAN.dipl-ex { 
	font-style: italic; 
}

span.dipl-choice_popup, span.dipl-choice_popup_corr{ 
    display: inline-table;
    /*white-space: nowrap;*/
}

span.dipl-choice_popup span.dipl-orig:before {
	content: url("../images/popup_before.png");
	left: 15%;
	position: absolute;
	top: -13px;
}

span.dipl-choice_popup_corr span.dipl-corr:before {
	content: url("../images/popup_before_corr.png");
	left: 15%;
	position: absolute;
	top: -13px; 
}

span.dipl-choice_popup span.dipl-orig {
	font-size: 80%;
	position: absolute;
	line-height: 16px;
	display: none;
	background: #e5dac4;
	border: 2.5px solid black;
	border-radius: 3px;
	box-shadow: 2px 2px 2px #7e7067;
	padding: 0.4%;
	margin-top: 30px; 
}

span.dipl-choice_popup_corr span.dipl-corr {
	font-size: 80%;
	position: absolute;
	line-height: 16px;
	display: none;
	background: #f99069;
	border: 2.5px solid black;
	border-radius: 3px;
	box-shadow: 2px 2px 2px #7e7067;
	padding: 0.4%;
	margin-top: 30px; 
}

span.dipl-choice_popup:hover span.dipl-orig, span.dipl-choice_popup_corr:hover span.dipl-corr,
span.dipl-choice_popup.hover span.dipl-orig, span.dipl-choice_popup_corr.hover span.dipl-corr{
	display: inline;
	min-width: 20px;
	text-align: center; 
}

span.dipl-choice_popup:hover span.dipl-reg, span.dipl-choice_popup_corr:hover span.dipl-sic,
span.dipl-choice_popup.hover span.dipl-reg, span.dipl-choice_popup_corr.hover span.dipl-sic{ 
	text-decoration: underline; 
}

span.dipl-choice_popup span.dipl-reg { 
	color: #69513a; /*background-color: rgba(255,255,204,0.8);*/ 
}

span.dipl-choice_popup_corr span.dipl-sic { 
	color: #934d4d; /*background-color: rgba(255,255,204,0.8);*/ 
}

span.dipl-choice_popup span.dipl-reg:hover, span.dipl-choice_popup_corr span.dipl-sic:hover,
span.dipl-choice_popup span.dipl-reg.hover, span.dipl-choice_popup_corr span.dipl-sic.hover{ 
	color: #561c0a; /*background-color: rgba(255,255,204,0.8);*/ 
}

span.dipl-choice_popup SPAN.dipl-sup {
    line-height: 20px;
	vertical-align: 20%; 
}

span.dipl-choice_popup SPAN.dipl-under {
    line-height: 20px;
	vertical-align: -20%; 
}

SPAN.dipl-corr-resp { 
	font-weight: bold; 
}

SPAN.dipl-red { 
	color: red; 
}

SPAN.dipl-hi-7init { f
	ont-size: 140% 
}

SPAN.dipl-hi-init3_1 { 
	font-size: 120%; /*font-weight: bold;*/ 
}

SPAN.dipl-hi-cap { 
	text-transform: uppercase; 
}

SPAN.dipl-hi-double { 
	font-size: 120%; 
}

SPAN.dipl-ex { 
	font-style: italic; 
}

