<span class="namedEntityRef namedEntityRef-{{ ::vm.entityType }}"
	ng-class="::{'fakeEntity': !vm.realNamedEntity,
				 'highlighted': vm.initHighlight }" title="{{ 'LISTS.ENTITY_TYPE_'+vm.entityType | uppercase | translate }}"
	ng-click="vm.goToEntityInList($event)" ng-transclude></span>

<evt-named-entity 
	ng-if="!vm.detailsInPopup && vm.active" 
	data-location='mainText'
	data-entity-id="{{::vm.entityId}}" data-entity-type="{{::vm.entityType}}"></evt-named-entity>

<!-- <span class="namedEntityRef__details" ng-if="vm.active">
	<span class="namedEntityRef__details-before"></span>
	<evt-named-entity data-entity-id="{{::vm.entityId}}" data-entity-type="{{::vm.entityType}}"></evt-named-entity>
</span> -->