<div
    class="version-apparatus-entry"
    ng-class="{ 'noTools' : (scopeViewMode !== 'collation' && scopeViewMode !== 'readingTxt' && scopeViewMode !== 'versions') && !vm.isPinAvailable()}">
    <div
        class="version-apparatus-entry_main-content">
        
        <div
            class="version-apparatus-entry_tools"
            ng-if="(scopeViewMode === 'collation' || scopeViewMode === 'readingTxt' || scopeViewMode === 'versions')">
            <!--|| vm.isPinAvailable() ADD HERE-->
            <!--button-switch 
                title="Remove Pin"
                ng-if="vm.isPinAvailable() && vm.type === 'pinned'"
                data-label=""
                data-icon="remove"
                data-type="pinReading"
                ng-click="vm.togglePin()"></button-switch>
            <button-switch 
                title="Toggle Pin"
                ng-if="vm.isPinAvailable() && vm.type === 'default'"
                data-label=""
                data-icon="pin"
                data-type="pinReading"
                ng-class="{'active' : vm.isPinned()}"
                ng-click="vm.togglePin()"></button-switch-->
            <button-switch 
                title="{{ 'BUTTONS.ALIGN_VERSION_READINGS' | translate }}"
                ng-if="scopeViewMode === 'collation' || scopeViewMode === 'versions'"
                data-label=""
                data-icon="v-align"
                data-type="alignReadings"
                ng-click="vm.alignReadings()"></button-switch>
        </div>
        <div
            class="versions-lemmas">
            <span
                ng-repeat="version in ::vm.content.versions">
                <!--TODO: change to evt-ref-->
                <evt-version-ref
                    data-target="{{::version.value}}"
                    data-type="version"
                    data-el-id="{{vm.currentVer}}"
                    class="version-label"></evt-version-ref>
                <span
                    class="version-lem"
                    compile="version.lem"></span>
            </span>
        </div>
    </div>
    <div
        class="version-apparatus-entry_other-content"
        ng-if="vm.tabs._indexes.length > 0">
        <div
            class="version-apparatus-entry_other-content_headers"
            ng-class="{ 'closed' : vm._subContentOpened === ''}">
            <span ng-repeat="tab in ::vm.tabs._indexes"
                ng-click="vm.toggleSubContent(tab)"
                ng-class="{ 'active' : vm._subContentOpened == tab }">
                {{ vm.tabs[tab].label | translate }}
            </span>
        </div>
        <div
            class="version-apparatus-entry_other-content_panels"
            ng-class="{ 'closed' : vm._subContentOpened === ''}">
            <div
                class="version-apparatus-entry_other-content_panel"
                ng-repeat="tab in ::vm.tabs._indexes"
                ng-class="{ 'active' : vm._subContentOpened == tab}"
                ng-switch="::tab">
                <div ng-switch-when="criticalNote"
                    compile="vm.content.note">
                </div>
                <div ng-switch-when="readings">
                    <div
                        ng-repeat="version in ::vm.content.versions"
                        ng-if="::vm.content._readings">
                        <span compile="version.id"></span>
                        <span
                            ng-if="::version.significantReadings.length > 0"
                            class="significant-readings_label"> {{ 'VERSIONS.SIGNIFICANT_VARIANTS' | translate}} </span>
                        <ul ng-if="::version.significantReadings.length > 0">
                            <li ng-repeat="reading in ::version.significantReadings"
                                compile="reading.content"></li>
                        </ul>
                        <span
                            ng-if="::version.notSignificantReadings.length > 0"
                            class="not-significant-readings_label"> {{ 'VERSIONS.ORTHOGRAPHIC_VARIANTS' | translate}} </span>
                        <ul ng-if="::version.notSignificantReadings.length > 0">
                            <li ng-repeat="reading in ::version.notSignificantReadings"
                                compile="reading.content"></li>
                        </ul>
                    </div>
                </div>
                <div ng-switch-when="moreInfo">
                    <!--BEGIN MORE INFO-->
                    <span
                        class="app_generic-info"
                        ng-if="(vm.content.attributes._keys.length > 1 || vm.content.attributes._keys.length === 1 && vm.content.attributes._keys.indexOf('xml:id') < 0)">
                        {{ 'VERSIONS.METADATA_FOR_APP_ENTRY' | translate}}
                    </span>
                    <ul ng-if="(vm.content.attributes._keys.length > 1 || vm.content.attributes._keys.length === 1 && vm.content.attributes._keys.indexOf('xml:id') < 0)">
                        <li ng-repeat="attr in ::vm.content.attributes._keys"
                            ng-if="::attr !== 'xml:id'">
                            <span class="moreInfo-label">{{::attr}}</span> {{::vm.content.attributes.values[attr]}}
                        </li>
                    </ul>
                    <span class="moreInfo-metadataTitle">{{ 'VERSIONS.MORE_INFO_ABOUT_READING' | translate}}</span>
                    <ul>
                        <li 
                            class="app_version"
                            ng-repeat="version in ::vm.content.versions"
                            ng-if="::version.attributes._keys.length > 0  && version.attributes._keys.indexOf('xml:id') < 0">
                            <span>
                                {{ 'VERSIONS.METADATA_FOR' | translate}} 
                                <em 
                                    compile="version.id"></em> 
                            </span>
                            <ul>
                                <li ng-repeat="attr in ::version.attributes._keys"
                                    ng-if="::attr !== 'xml:id'">
                                    <span class="moreInfo-label">{{::attr}}</span> {{::version.attributes.values[attr]}}
                                </li>
                            </ul>
                            <span
                                ng-if="::version.significantReadings.length > 0"
                                ng-repeat-start="reading in ::version.significantReadings">{{ 'VERSIONS.METADATA_FOR_SIGNIFICANT_READING' | translate}}:
                                <em compile="reading.content"></em>
                            </span>
                            <ul ng-repeat-end
                                ng-if="::version.significantReadings.length > 0">
                                <li ng-repeat="attr in ::reading.attributes._keys"
                                    ng-if="::attr !== 'xml:id'">
                                    <span class="moreInfo-label">{{::attr}}</span> {{::reading.attributes.values[attr]}}
                                </li>
                            </ul>
                            <span
                                ng-if="::version.notSignificantReadings.length > 0"
                                ng-repeat-start="reading in ::version.notSignificantReadings">{{ 'VERSIONS.METADATA_FOR_ORTHOGRAPHIC_READING' | translate}}:
                                <em compile="reading.content"></em>
                            </span>
                            <ul ng-repeat-end
                                ng-if="::version.notSignificantReadings.length > 0">
                                <li ng-repeat="attr in ::reading.attributes._keys"
                                    ng-if="::attr !== 'xml:id'">
                                    <span class="moreInfo-label">{{::attr}}</span> {{::reading.attributes.values[attr]}}
                                </li>
                            </ul>
                      </li>
                  </ul>
                  <!--END MORE INFO-->
                </div>
                <div ng-switch-when="xmlSource">
                    <pre>{{ ::vm.content._xmlSource | prettyXml }}</pre>
                </div>
                <div ng-switch-default
                    compile="vm.content[tab]">
                </div>
            </div>
        </div>
    </div>
</div>