<div class="analogues-apparatus-entry"
     ng-class="{ 'selected' : vm.isSelect() && vm.currentViewMode == 'readingTxt',
                 'over' : vm.currentViewMode === 'readingTxt' && vm.over}"
     ng-mouseover="vm.toggleOverAnaloguesEntries($event)"
     ng-mouseout="vm.toggleOverAnaloguesEntries($event)"
     ng-click="vm.callbackClick($event)">
    
    <div class="analogues-apparatus-entry_main-content">
        <div
            class="analogues-apparatus-entry_tools">
            <button-switch 
                title="{{ 'BUTTONS.ALIGN_ANALOGUES' | translate }} "
                ng-if="vm.currentViewMode !== 'imgTxt' && vm.currentViewMode !== 'srcTxt'"
                data-label=""
                data-icon="v-align"
                data-type="alignReadings"
                ng-click="vm.alignAnalogues()"></button-switch>
        </div>
        <sup
            class="iconbis-evt_analogue">
        </sup>
        <span class="analogues-apparatus-entry_main-content_header" compile="vm.header"></span>
        
    </div>
    
    <div class="analogues-apparatus-entry_main-content_list">
        <span class="analogues-apparatus-entry_main-content_list-label"> {{'ANALOGUES.PARALLEL_PASSAGES_IN' | translate}} </span>
        <ul ng-class="{ 'pointer' : (vm.over || vm.selected) && vm.sources.length > 1}">
            <li
                ng-repeat="source in ::vm.sources"
                class="source-id"
                ng-class="{ 'selected' : vm.selected && vm.sources.length > 1 && source.id == vm._activeSource,
                            'over'   : (vm.over || vm.selected) && vm.sources.length > 1 && source.id == vm._overSource}"
                ng-mouseover="vm.toggleOverSource($event, source.id)"
                ng-mouseout="vm.toggleOverSource($event, source.id)"
                ng-click="vm.toggleSource(source.id)"
                compile="source.abbr">
            </li>
        </ul>
    </div>

    <div class="analogues-apparatus-entry_other-content"
         ng-if="vm.tabs._indexes.length > 0">
        <div class="analogues-apparatus-entry_other-content_headers">
            <span class="analogues-apparatus-entry_tabLabel" ng-repeat="tab in ::vm.tabs._indexes"
                  ng-click="vm.toggleSubContent(tab)"
                  ng-class="{'active' : vm._subContentOpened == tab }">
                {{ vm.tabs[tab].label | translate }}
            </span>
        </div>
        <div class="analogues-apparatus-entry_other-content_panels"
             ng-class="{'closed': vm._subContentOpened === ''}">
            <div class="analogues-apparatus-entry_other-content_panel"
                 ng-repeat="tab in ::vm.tabs._indexes"
                 ng-class="{'active' : vm._subContentOpened == tab}"
                 ng-switch="::tab">
                 <div ng-switch-when="text"
                      compile="vm.srcList[vm._activeSource].text">

                 </div>
                 <div ng-switch-when="biblRef"
                      ng-if="::vm.srcList[vm._activeSource].bibl !== ''"
                      compile="vm.srcList[vm._activeSource].bibl">
                </div>
                <!--div ng-switch-when="moreInfo">
                    TODO
                </div-->
                <div ng-switch-when="xmlSource">
                     <span class="xml-title"> {{ 'ANALOGUES.XML_SOURCE_FOR' | translate}} {{ 'ANALOGUES.ANALOGUE' | translate}} </span>
                     <pre>{{ ::vm.xml | prettyXml}}</pre>
                     <span class="xml-title">
                         {{ 'ANALOGUES.XML_SOURCE_FOR' | translate}} 
                         <span compile="vm.getActiveSourceAbbr(vm._activeSource)">
                     </span>
                     <pre>{{ ::vm.srcList[vm._activeSource]._xmlSource | prettyXml }}</pre>
                </div>
                <div
                    ng-switch-default
                    ng-if="::vm.srcList[vm._activeSource].bibl !== ''"
                    compile="vm.srcList[vm._activeSource].bibl"></div>
            </div>
        </div>
    </div>
</div>