/* ************************* */

/* EVT 2.0 CUSTOM STYLESHEET */

/* ***************************************************************** */

/*                                                                   */

/* Add here your CSS to customize the style of the elements          */

/* If you'll not see any changes, try adding !important to the rule  */

/*                                                                   */

/* For generic TEI elements, use the tagName as class                */

/* e.g. <del/> => .del{ # your style goes here # }                   */

/*                                                                   */

/* ***************************************************************** */

.highlight {
   /* opacity: 0.4; */
   /* filter: alpha(opacity=40);*/
   /*outline: 10px auto red; */
   /* #0A7EbE; */
   /*background-color: greenyellow;*/
   border: 1px solid #4c2f2f;
   background-color: #c67261;
   opacity: 0.4;
   filter: alpha(opacity=40);
   /* For IE8 and earlier */
}

.nohighlight {
   display: none;
}

/* regola per la demo in arabo */

/*#mainContentToTranform { */

/*     direction: rtl; */

/* }*/
