<div class="download">
{{ 'DOWNLOAD.DOCUMENT' | translate }}:
<select
  ng-model="vm.currentDocIndex">
  <option
    ng-repeat="file in vm.files track by $index"
    value="{{$index}}">
    {{file.title}}</option>
</select>
{{ 'DOWNLOAD.FORMAT' | translate }}:
<select
  ng-model="vm.currentFormat">
  <option
    ng-repeat="(format, url) in vm.files[vm.currentDocIndex].formats"
    value="{{format}}">
    {{format}}</option>
</select>
<a
  href="{{vm.files[vm.currentDocIndex].formats[vm.currentFormat]}}"
  download="{{vm.files[vm.currentDocIndex].title}}">
  {{ 'DOWNLOAD.DOWNLOAD' | translate }}</a>
</div>