<div class="evt-tabs-container {{ ::vm.orientation }}">
    <div 
        class="evt-tabs-container_headers"
        ng-class="{'closed': vm.subContentOpened === ''}">
        
        <span 
            class="evt-tabs-container_header"
            ng-repeat="tab in ::vm.tabs._indexes"
            ng-click="vm.toggleSubContent(tab)"
            ng-class="{'active' : vm.subContentOpened === tab }">
            <i ng-if="::vm.tabs[tab].icon" class="fa {{::vm.tabs[tab].icon}} evt-tabs-container_header-icon"></i>
            {{ ::vm.tabs[tab].label | translate }}
            {{DIALOGS._BOOKMARK | translate}}
        </span>
    </div>
    <div 
        class="evt-tabs-container_panels"
        ng-class="{'closed': vm.subContentOpened === ''}">
        
        <div class="evt-tabs-container_panel"
            ng-repeat="tab in vm.tabs._indexes"
            ng-class="{'active' : vm.subContentOpened === tab,
                        'noscroll': vm.tabs[tab].scrollDisabled }"
            compile="vm.tabs[tab].content">
        </div>
    </div>
</div>