<div
    class="sources-apparatus-entry"
    ng-class="{ 'selected' : vm.isSelect() && vm.currentViewMode == 'readingTxt',
                'over' : vm.currentViewMode === 'readingTxt' && vm.over}"
    ng-mouseover="vm.toggleOverSourcesEntries($event)"
    ng-mouseout="vm.toggleOverSourcesEntries($event)"
    ng-click="vm.callbackClick($event)">
    
    <div class="sources-apparatus-entry_main-content"
        ng-if="vm.currentViewMode !== 'srcTxt'">
        <sup
            class="iconbis-evt_quote-left">
        </sup>
        <span class="sources-apparatus-entry_main-content_header" compile="vm.head"></span>
        <div class="sources-apparatus-entry_tools">
            <button-switch
                title="Align Quotes"
                ng-if="vm.currentViewMode !== 'imgTxt' && vm.currentViewMode !== 'srcTxt'"
                data-label=""
                data-icon="v-align"
                data-type="alignReadings"
                ng-click="vm.alignQuotes()"></button-switch>
        </div>
    </div>
    
    <div class="sources-apparatus-entry_main-content_list">
        <span class="sources-apparatus-entry_main-content_list-label">Quoted Sources</span>
        <ul
            ng-class="{ 'pointer' : (vm.over || vm.selected) && vm.sources.length > 1}">
            <li
                ng-repeat-start="source in vm.sources"
                class="source-id"
                ng-class="{ 'selected' : vm.selected && vm.sources.length > 1 && source.id == vm._activeSource,
                            'over'   : (vm.over || vm.selected) && vm.sources.length > 1 && source.id == vm._overSource}"
                ng-mouseover="vm.toggleOverSource($event, source.id)"
                ng-mouseout="vm.toggleOverSource($event, source.id)"
                ng-click="vm.toggleSource(source.id)"
                compile="source.abbr">
            </li>
            <span class="compareLabel"
                ng-if="vm.currentViewMode === 'srcTxt' && vm.isSourceTextAvailable(source.id)"
                ng-repeat-end>
                <evt-source-ref
                    data-source-id="{{source.id}}">
                    Compare texts
                </evt-source-ref>
            </span>
        </ul>
    </div>
    <div class="sources-apparatus-entry_other-content"
         ng-if="vm.tabs._indexes.length > 0 && vm.currentViewMode !== 'srcTxt'">
        <div
            class="sources-apparatus-entry_other-content_headers"
            ng-class="{'closed' : vm._subContentOpened === ''}">
            <span ng-repeat="tab in vm.tabs._indexes"
                  ng-click="vm.toggleSubContent(tab)"
                  ng-class="{'active' : vm._subContentOpened == tab }">
                {{ vm.tabs[tab].label}}
            </span>
        </div>
        <div class="sources-apparatus-entry_other-content_panels"
             ng-class="{'closed': vm._subContentOpened === ''}">
            <div class="sources-apparatus-entry_other-content_panel"
                 ng-repeat="tab in vm.tabs._indexes"
                 ng-class="{'active' : vm._subContentOpened == tab}"
                 ng-switch="tab">
                 <div ng-switch-when="text">
                      <span
                        ng-if="vm.src_list[vm._activeSource].text != ''"
                        compile="vm.src_list[vm._activeSource].text"></span>
                      <span
                        ng-if="vm.src_list[vm._activeSource].url != ''"
                        compile="vm.src_list[vm._activeSource].url"></span>
                 </div>
                 <div ng-switch-when="biblRef"
                      ng-if="vm.src_list[vm._activeSource].bibl !== ''"
                      compile="vm.src_list[vm._activeSource].bibl">
                </div>
                <div ng-switch-when="moreInfo">

                </div>
                <div ng-switch-when="xmlSource">
                     XML Source for Quote
                     <pre>{{ vm.xml | prettyXml}}</pre>
                     XML Source for <span compile="vm.getActiveSourceAbbr(vm._activeSource)"></span>
                     <pre>{{ vm.src_list[vm._activeSource]._xmlSource | prettyXml }}</pre>
                     <div ng-if=""></div>
                </div>
                <div
                    ng-switch-default
                    ng-if="vm.src_list[vm._activeSource].bibl !== ''"
                    compile="vm.src_list[vm._activeSource].bibl"></div>
            </div>
        </div>
    </div>
</div>