<!DOCTYPE HTML>
<html class="no-js">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	</meta>
	<title>EVT Viewer</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" type="text/css" href="fonts/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="config/custom-style.css">
</head>

<body ng-app="evtviewer" ng-controller="InterfaceCtrl" ng-keydown="handleKeydownEvent($event)" ng-click="handleGenericClick($event)" 
	style="display: none;"><!-- // display:none => Workaround per evitare glitch pre caricamento app angular -->
	<!--[if lt IE 7]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
	<header>
		<img class="logo" ng-if="getProperty('logoUrl') !== ''" ng-src="{{getProperty('logoUrl')}}" />
		{{ getProperty('indexTitle') }}
		<a class="webSiteLink" ng-if="getProperty('webSite') !== ''" href="{{getWebSite()}}" target="_blank">
			<i class="fa fa-external-link"></i>
		</a>
		<div class="globalMenu">
			<button-switch title="TOC.HEADER" data-icon="list-alt" data-type="openToc">
			</button-switch>
			<div class="viewModeMenu">
				<button-switch title="VIEW_MODES.{{::mode.label}}" class="mode-view" data-label=""
					data-icon="{{::mode.icon}}" data-value="{{::mode.viewMode}}" data-type="changeViewMode"
					ng-repeat="mode in getAvailableViewModes() track by $index" ng-if="mode.visible">
				</button-switch>
			</div>
			<button-switch title="BUTTONS.MENU" data-icon="menu" data-type="mainMenu">
			</button-switch>
			<div class="mainMenu" ng-if="getState('mainMenu') === true">
				<ul>
					<li>
						<span ng-click="openGlobalDialogInfo()">
							<i class="icon icon-evt_info-alt"></i>
							{{'MAIN_MENU.PROJECT_INFO' | translate}}</span>
					</li>
					<li ng-if="getProperty('namedEntitiesLists')">
						<span ng-click="openGlobalDialogLists()">
							<i class="icon icon-evt_list"></i>
							{{'MAIN_MENU.OPEN_LISTS' | translate}}</span>
					</li>
					<li>
						<span ng-click="generateBookmark()">
							<i class="icon icon-evt_bookmark"></i>
							{{'MAIN_MENU.GENERATE_BOOKMARK' | translate}}</span>
					</li>
					<li ng-if="getProperty('enableXMLdownload')">
						<span ng-click="downloadXML()">
							<i class="icon fa fa-download"></i>
							{{'MAIN_MENU.DOWNLOAD_XML' | translate}}</span>
					</li>
				</ul>
				<hr />
				<ul>
					<li>
						<span>
							<i class="icon fa fa-language"></i>
							{{'MAIN_MENU.LANGUAGES' | translate}}
							<img ng-repeat="langKey in getAvailableLanguages()" ng-if="langKey && langKey !== ''"
								ng-src="images/{{langKey}}.png"
								ng-class="{ 'active': langKey === getCurrentLanguage() }" class="flag"
								ng-click="setLanguage(langKey)"
								title="{{ 'LANGUAGES.'+langKey | uppercase | translate }}"
								alt="{{ ::langKey | uppercase}}">
						</span>
					</li>
					<li class="inactive">
						<span>
							<i class="icon fa fa-keyboard-o"></i>
							{{ 'MAIN_MENU.KEYBOARD_SHORT_CUTS' | translate }}</span>
					</li>
					<li>
						<span>
							<!-- TODO: ng-click="aboutEVT()" -->
							<a href="http://evt.labcd.unipi.it/" target="_blank"
								title="{{ 'MAIN_MENU.GO_TO_EVT_WEB_PAGE' | translate }}">
								<i class="icon fa fa-copyright"></i>
								{{ 'MAIN_MENU.ABOUT_EVT' | translate }}
							</a>
						</span>
					</li>
				</ul>
			</div>
		</div>
	</header>
	<div id="global-container-ext" ng-show="!isLoading()" ng-class="{'navbar-opened': isNavBarOpened()}">
		<section class="secondary-container" ng-show="getSecondaryContentOpened() !== ''">
			<evt-dialog data-type="toc" data-title="TOC.HEADER">
				<evt-tabs-container ng-if="getSecondaryContentOpened() === 'toc'" data-type="toc"
					data-orientation="vertical">
				</evt-tabs-container>
			</evt-dialog>
			<evt-dialog data-type="entitiesList" data-title="DIALOGS.NAMED_ENTITIES"
				ng-if="getProperty('namedEntitiesLists')">
				<evt-tabs-container ng-if="getSecondaryContentOpened() === 'entitiesList'" data-type="entitiesList"
					data-orientation="vertical">
				</evt-tabs-container>
			</evt-dialog>
			<evt-dialog data-type="globalInfo" data-title="DIALOGS.PROJECT_INFO">
				<evt-tabs-container ng-if="getSecondaryContentOpened() === 'globalInfo'" data-type="projectInfo"
					data-orientation="vertical">
				</evt-tabs-container>
			</evt-dialog>
			<evt-dialog data-type="witnessesList" data-title="DIALOGS.WITNESSES">
				<div compile="getWitnessesListFormatted()"></div>
			</evt-dialog>
			<evt-dialog data-type="bookmark" data-title="DIALOGS.BOOKMARK">
				<div compile="getBookmark()"></div>
			</evt-dialog>
		</section>
		<section id="global-container" ng-switch="getCurrentViewMode()" ng-if="!isLoading()">
			<!-- <div id="left-nav"><span><i class="fa fa-chevron-circle-left"></i></span></div> -->
			<!-- 3DHOP -->
			<section id="main-container" class="viewMode" ng-switch-when="tdhop">
				<box data-type="tdhop" id="mainTdhop">
					<!--div tdhop data-canvas="draw-canvas" style="height: 100%"></div-->
				</box>
				<box data-type="text" data-edition="{{getCurrentEdition()}}" id="mainText">
				</box>
				<!--
                    <box data-type="generic" id="generic">
                        <div>Eventuale testo affiancato</div>
                    </box>-->
			</section>
			<!-- READING TEXT -->
			<section id="main-container" class="viewMode" ng-switch-when="readingTxt">
				<box data-type="text" data-edition="{{getCurrentEdition()}}" id="mainText" ng-class="{'centered': !isPinnedAppBoardOpened(),
									'half-centered': isPinnedAppBoardOpened(),
									'half-left': isApparatusBoxOpen(),
									'smaller-left': isApparatusBoxOpen() && isPinnedAppBoardOpened() }"></box>
				<button-switch title="BUTTONS.SHOW_PINNED_ENTRIES" data-label="" data-icon="pin"
					data-type="togglePinned" ng-if="::isToolAvailable('toolPinAppEntries')" class="togglePinned_btn"
					ng-class="{'centered': !isPinnedAppBoardOpened() && !isApparatusBoxOpen(),
								'half-centered': isPinnedAppBoardOpened() && !isApparatusBoxOpen(),
								'left': isPinnedAppBoardOpened() && isApparatusBoxOpen(),
								'half-left': !isPinnedAppBoardOpened() && isApparatusBoxOpen()}">
				</button-switch>

				<box data-type="pinnedBoard" ng-if="!isLoading() && isPinnedAppBoardOpened()"
					ng-class="{ 'pin-centered': isPinnedAppBoardOpened() && isApparatusBoxOpen()}">
					<span ng-if="evtPinnedElements.getPinned().length <= 0" class="italic">
						{{ 'MESSAGES.PINNED_ELEMENTS_SHOWN_HERE' | translate }}
					</span>
					<div ng-if="evtPinnedElements.getVisibleTypes().length <= 0 && evtPinnedElements.getPinned().length > 0 && entry !== ''"
						ng-repeat="entry in evtPinnedElements.getPinned()">

						<evt-critical-apparatus-entry
							ng-if="::evtPinnedElements.getPinnedElementType(entry) === 'criticalApparatusEntry'"
							class="in_critical_apparatus active" ng-click="updateCurrentAppEntry(entry);"
							data-type="pinned" data-app-id="{{::entry}}"></evt-critical-apparatus-entry>

						<evt-named-entity
							ng-if="::evtPinnedElements.getPinnedElementType(entry).indexOf('namedEntity') >= 0"
							data-location="pinned" data-entity-id="{{::entry}}"></evt-named-entity>
					</div>

					<div ng-if="evtPinnedElements.getVisibleTypes().length > 0"
						ng-repeat="type in evtPinnedElements.getVisibleTypes()">
						<span
							class="pinnedTypeTitle">{{ ::type | camelToSpaces | underscoresToSpaces | capitalize  }}</span>
						<!-- TODO: Add translation -->
						<div ng-repeat="entry in evtPinnedElements.getPinnedByType(type)">
							<evt-critical-apparatus-entry ng-if="::type === 'criticalApparatusEntry'"
								class="in_critical_apparatus" ng-class="{'active': getCurrentAppEntry() === entry}"
								ng-click="updateCurrentAppEntry(entry);" data-type="pinned" data-app-id="{{::entry}}">
							</evt-critical-apparatus-entry>

							<evt-named-entity ng-if="::type.indexOf('namedEntity') >= 0" data-location="pinned"
								data-entity-id="{{::entry}}"></evt-named-entity>
						</div>
					</div>
				</box>
				<box ng-if="isApparatusBoxOpen()" data-type="empty" id="empty"
					ng-class="{ 'smaller' : isPinnedAppBoardOpened() && isApparatusBoxOpen() }">
					<evt-apparatuses data-current-apparatus="{{vm.getCurrentApparatus()}}"></evt-apparatuses>
				</box>
			</section>

			<!-- VERSIONS -->
			<section id="main-container" class="viewMode" ng-switch-when="versions">
				<box data-type="text" id="mainText" ng-if="existCriticalText() && (getCurrentEdition() === 'critical')"
					data-edition="{{getCurrentEdition()}}"></box>

				<div class="compareVer_box" id="compareVer_box" ng-class="{'span9of18': (existCriticalText() && getCurrentVersions().length <= 1),
									'span18of18': !existCriticalText()}">
					<box data-type="version" data-version="{{version}}" ng-repeat="version in getCurrentVersions()">
					</box>
				</div>

				<button-switch ng-if="getAllVersionsNumber() > 2" title="BUTTONS.ADD_VERSION" data-label="Add Version"
					data-icon="add" data-type="addVer" class="compareVer_box--buttonAddVer inverted-color verSelector"
					ng-class="{'left75': (!existCriticalText() && getCurrentVersions().length == 1) || (existCriticalText() && getCurrentVersions().length == 0),
								'floatRight': (!existCriticalText() && getCurrentVersions().length > 1) || (existCriticalText() && getCurrentVersions().length > 0)}">
				</button-switch>

				<div ng-if="isVersionSelectorActive()" class="availableVersions-selector versionSelector"
					ng-class="{'left75': (!existCriticalText() && getCurrentVersions().length == 1) || (existCriticalText() && getCurrentVersions().length == 0)}">
					<span ng-click="addVersion(version)" ng-repeat="version in getAvailableVersions()"
						compile="getVersion(version)"></span>
				</div>
			</section>

			<!-- COLLAZIONE -->
			<section id="main-container" class="viewMode" ng-switch-when="collation">
				<box data-type="text" data-edition="{{getCurrentEdition()}}" id="mainText" ng-if="existCriticalText()">
				</box>
				<!-- <div
						compile="printCriticalApparatus()"
						style="position: absolute; background: rgb(255, 255, 255) none repeat scroll 0% 0%;"> -->

				<div class="compareWits_box" id="compareWits_box" ng-class="{'span9of18': (existCriticalText() && getCurrentWitnesses().length <= 1),
									'span18of18': !existCriticalText()}">
					<box data-type="witness" data-witness="{{witness}}" ng-if="witness"
						data-witpage="{{getCurrentWitnessPage(witness)}}" ng-repeat="witness in getCurrentWitnesses()">
					</box>
				</div>
				<button-switch title="BUTTONS.ADD_WITNESS" data-label="BUTTONS.ADD_WITNESS" data-icon="add"
					data-type="addWit" class="compareWits_box--buttonAddWit inverted-color witnessSelector"
					ng-class="{'left75': (!existCriticalText() && getCurrentWitnesses().length == 1) || (existCriticalText() && getCurrentWitnesses().length == 0),
										'floatRight': (!existCriticalText() && getCurrentWitnesses().length > 1) || (existCriticalText() && getCurrentWitnesses().length > 0)}">
				</button-switch>

				<div ng-if="isWitnessSelectorActive()" class="availableWitnesses-selector witnessSelector"
					ng-class="{'left75': (!existCriticalText() && getCurrentWitnesses().length == 1) || (existCriticalText() && getCurrentWitnesses().length == 0)}">
					<span ng-click="addWitness(witness)" ng-if="::witness"
						ng-repeat="witness in getAvailableWitnesses() track by $index">{{::getWitness(witness)}}</span>
				</div>
			</section>
			<!-- TXT TXT -->
			<section id="main-container" class="viewMode" ng-switch-when="txtTxt">
				<box data-type="text" data-edition="{{getCurrentEdition()}}" id="mainText1"></box>
				<box data-type="text" data-subtype="comparing" ng-show="getCurrentComparingEdition() !== undefined"
					data-edition="{{getCurrentComparingEdition()}}" id="mainText2"></box>
			</section>
			<!-- IMG TXT -->
			<section id="main-container" class="viewMode" ng-switch-when="imgTxt">
				<box data-type="image" id="mainImage"></box>
				<box data-type="text" data-edition="{{getCurrentEdition()}}" id="mainText"></box>
			</section>
			<!-- SRC TXT -->
			<section id="main-container" class="viewMode" ng-switch-when="srcTxt">
				<box data-type="text" data-edition="{{getCurrentEdition()}}" id="mainText"
					ng-show="existCriticalText()"></box>
				<box data-type="source" ng-if="getCurrentSourceText()" data-source={{getCurrentSourceText()}}
					id="srcText"></box>
			</section>
			<!-- LOADING... -->
			<section id="main-container" class="viewMode" ng-switch-default>
				<div class="loading"><i class="fa fa-spinner fa-pulse loader"></i></div>
			</section>
			<!-- <div id="right-nav"><span><i class="fa fa-chevron-circle-right"></i></span></div> -->
			<!-- INDEXING IN PROGRESS -->
			<section id="main-container" class="viewMode indexingInProgress" ng-show="getState('indexingInProgress')">
				<div class="loading"><i class="fa fa-spinner fa-pulse loader"></i></div>
			</section>
		</section>
		<section class="global-msg-container"
			ng-if="getErrorMsg() !== undefined && getErrorMsg().code === '404' && !isLoading()">
			<div class="global-msg">
				<h1>EVT Viewer</h1>
				<h2>{{ 'ERROR' | translate }} {{getErrorMsg().code}} - {{getErrorMsg().title | translate }}</h2>
				<p>{{ getErrorMsg().msg | translate }}</p>
				<p>{{ getErrorMsg().info | translate }}</p>
			</div>
		</section>
		<section class="popup-container thumb_cont" ng-if="isThumbNailsOpened()"
			ng-class="{'noNavBar': !isNavBarEnabled()}">
			<figure class="thumbnail thumb_single" data-value="{{ thumb.value }}" data-src="{{ thumb.image }}"
				ng-click="goToPageFromThumb(thumb)" ng-repeat="thumb in getThumbnails() track by $index"
				ng-class="{'active': getCurrentPage() === thumb.value}">
				<img class="thumb_single_img" ng-src="{{ thumb.image }}"
					onerror="this.setAttribute('src', 'images/empty-image.jpg')" />
				<figcaption>{{ thumb.label }}</figcaption>
			</figure>
		</section>
		<section class="popup-container viscoll_cont" ng-hide="!isVisCollOpened()"
			ng-class="{'noNavBar': !isNavBarEnabled()}">
			<div>
				<evt-viscoll></evt-viscoll>
			</div>
		</section>

		<button-switch ng-if="getProperty('enableNavBar') && !isThumbNailsOpened() && !isVisCollOpened()"
			ng-class="{'navBar-opener': isNavBarOpened(), 'navBar-closer': !isNavBarOpened()}"
			title="BUTTONS.TOGGLE_NAVBAR" data-icon="{{isNavBarOpened() ? 'hide-bar' : 'show-bar'}}" data-type="toggler"
			on-btn-clicked="toggleNavBar()"></button-switch>
		<evt-navbar ng-hide="!isNavBarOpened()"></evt-navbar>
	</div>

	<section class="global-loading-container" ng-show="isLoading()">
		<!-- LOADING... -->
		<div class="loading"><i class="fa fa-spinner fa-pulse loader"></i></div>
	</section>
	<evt-dialog data-id="errorMsg" data-type="error" data-title="ERROR"></evt-dialog>
	<footer>Footer</footer>
</body>

</html>