<span 
    class="reading"
    ng-click="vm.toggleSelectAppEntries($event); vm.toggleApparatus($event);"
    ng-mouseover="vm.toggleOverAppEntries($event);"
    ng-mouseout="vm.toggleOverAppEntries($event)"
    ng-class="{ 'active'   : (vm.active || vm.tooltipOver) && !$parent.vm.state.topBoxOpened,
                'selected' : (!$parent.vm.state.topBoxOpened && vm.apparatus.opened),
                'over'     : vm.over, 
                'invisible': !vm.fitFilters()}">
    <span 
        class="reading__text"
        ng-class="{'blurred': $parent.vm.state.topBoxOpened}"
        style="{{vm.backgroundColor()}}"
        ng-transclude></span>
    <evt-critical-apparatus-entry 
      ng-if="vm.apparatus._loaded"
      data-app-id="{{vm.appId}}"
      data-reading-id="{{vm.readingId}}"
      data-scope-wit="{{vm.scopeWit}}"
      ng-show="vm.isApparatusOpened()"
      ng-mouseover="vm.toggleTooltipHover($event, vm)"
      ng-mouseout="vm.toggleTooltipHover($event, vm)"></evt-critical-apparatus-entry>
</span>