<div
  class="critical-apparatus-entry"
  ng-mouseover="vm.toggleOverAppEntries($event);"
  ng-mouseout="vm.toggleOverAppEntries($event)"
  ng-click="vm.callbackClick($event)"
  ng-class="{'noTools': (scopeViewMode !== 'collation' && scopeViewMode !== 'readingTxt') && !vm.isPinAvailable(),
             'selected': vm.isSelected() && !vm.isInline() && scopeViewMode === 'readingTxt',
             'over': vm.currentViewMode === 'readingTxt' && vm.over}">
  <div class="critical-apparatus-entry_main-content">


    <div class="critical-apparatus-entry_tools"
      ng-if="::(scopeViewMode === 'collation' || scopeVieMode === 'readingTxt') || vm.isPinAvailable()">
      <button-switch
            title="BUTTONS.PIN_REMOVE"
            ng-if="::vm.isPinAvailable() && vm.type === 'pinned'"
            data-label=""
            data-icon="remove"
            data-type="pin-off"
            ng-click="vm.togglePin()"></button-switch>
      <button-switch
            title="BUTTONS.PIN_TOGGLE"
            ng-if="::vm.isPinAvailable() && vm.type === 'default'"
            data-label=""
            data-icon="pin"
            data-type="pin"
            ng-class="{'active' : vm.isPinned()}"
            ng-click="vm.togglePin()"></button-switch>
      <button-switch
            title="BUTTONS.ALIGN_READINGS"
            ng-if="::vm.type === 'default' && (scopeViewMode === 'collation' || !vm.showInlineCriticalApparatus())"
            data-label=""
            data-icon="v-align"
            data-type="alignReadings"
            ng-click="vm.alignReadings()"></button-switch>
    </div>
    <span class="apparatus_exponent"
            ng-if="::vm.showExponent"
            compile="vm.exponent"></span>

      <span
        class="app_lemma"
        ng-if="::vm.content.lemma.content !== ''"
        compile="::vm.content.lemma.content"></span>
    <div class="critical-apparatus-entry_main-content_list">
            <span
              class="app_reading"
              ng-if="::vm.witnessesGroups.length === 0"
              ng-repeat="reading in ::vm.content.significantReadings track by $index"
              compile="reading.content">
              </span>
              <ul
                class="app_reading_list"
                ng-if="::vm.witnessesGroups.length > 0">
                <li ng-repeat="group in ::vm.witnessesGroups"
                  ng-if="::group.significantText !== undefined">
                    <span
                      class="witGrp_name"
                      ng_if="::group.groupName !== '' && group.significantText !== undefined">{{group.groupName}}:</span>
                    <span
                      class="witGrp_content"
                      compile="group.significantText"></span>
                </li>
             </ul>
        </div>
  </div>
  <div class="critical-apparatus-entry_other-content"
       ng-if="::vm.tabs._indexes.length > 0">

      <div
        class="critical-apparatus-entry_other-content_headers"
        ng-class="{'closed': vm._subContentOpened === ''}">
          <span ng-repeat="tab in ::vm.tabs._indexes track by $index"
                ng-click="vm.toggleSubContent(tab)"
                ng-class="{'active' : vm._subContentOpened == tab }">
                {{ vm.tabs[tab].label | translate }}
          </span>
      </div>
      <div
        class="critical-apparatus-entry_other-content_panels"
        ng-class="{'closed': vm._subContentOpened === ''}">
          <div class="critical-apparatus-entry_other-content_panel"
                ng-repeat="tab in ::vm.tabs._indexes track by $index"
                ng-class="{'active' : vm._subContentOpened == tab}"
                ng-switch="::tab">
                <div ng-switch-when="notSignificantReadings">
                  <ul ng-if="::vm.witnessesGroups.length <= 0">
                      <li ng-repeat="reading in ::vm.content.notSignificantReadings track by $index"
                          compile="::reading.content"></li>
                  </ul>
                  <div
                    ng-if="::vm.witnessesGroups.length > 0"
                    ng-repeat="group in ::vm.witnessesGroups">
                    <span
                      class="critical-apparatus-entry_other-content_panel_orthographic_title"
                      ng-if="::group.notSignificantText !== undefined">
                      {{ 'CRITICAL_APPARATUS.ORTHOGRAPHIC_VARIANTS_FOR' | translate }} {{::group.groupName}}</span>
                    <span
                      class="critical-apparatus-entry_other-content_panel_orthographic_text"
                      ng-if="::group.notSignificantText !== undefined"
                      compile="group.notSignificantText"></span>
                  </div>
                </div>
                <div ng-switch-when="moreInfo">
                  <span class="app_lemma">
                    {{ 'CRITICAL_APPARATUS.METADATA_FOR_LEMMA' | translate }} "<em
                        ng-if="::vm.content.lemma.content !== ''"
                        compile="::vm.content.lemma.content"></em>"
                  </span>
                  <ul ng-if="::(vm.content.attributes._keys.length > 1 || vm.content.attributes._keys.length === 1 && vm.content.attributes._keys.indexOf('xml:id') < 0)">
                      <li ng-repeat="attr in ::vm.content.attributes._keys track by $index"
                          ng-if="::attr !== 'xml:id'">
                          <span class="moreInfo-label">{{ ::attr }}</span> {{ ::vm.content.attributes.values[attr] }}
                      </li>
                  </ul>
                  <ul ng-if="::(vm.content.attributes._keys.length <= 0 || vm.content.attributes._keys.length === 1 && vm.content.attributes._keys.indexOf('xml:id') > 0)">
                    <li><em>{{ 'CRITICAL_APPARATUS.NO_DATA' | translate }}</em></li></ul>

                  <span class="moreInfo-metadataTitle">{{ 'CRITICAL_APPARATUS.MORE_INFO' | translate }}</span>
                  <ul>
                      <li
                        class="app_lemma"
                        class="app_reading_content"
                        ng-if="::(vm.content.lemma.attributes._keys.length > 1 || vm.content.lemma.attributes._keys.length === 1 && vm.content.lemma.attributes._keys.indexOf('xml:id') < 0)">
                          <span>
                            {{ 'CRITICAL_APPARATUS.METADATA_FOR' | translate }}
                            <em
                                ng-if="::vm.content.lemma.content !== ''"
                                compile="::vm.content.lemma.content"></em>
                          </span>
                          <ul>
                            <li ng-repeat="attr in ::vm.content.lemma.attributes._keys track by $index"
                                ng-if="::attr !== 'xml:id'">
                                <span class="moreInfo-label">{{ ::attr }}</span> {{ ::vm.content.lemma.attributes.values[attr] }}
                            </li>
                          </ul>
                      </li>

                      <li
                        class="app_reading_content"
                        ng-repeat="reading in ::vm.content.significantReadings track by $index"
                        ng-if="::(reading.attributes._keys.length > 1 || reading.attributes._keys.length === 1 && reading.attributes._keys.indexOf('xml:id') < 0)">
                          <span>
                           {{ 'CRITICAL_APPARATUS.METADATA_FOR' | translate }}
                            <em
                                class="app_reading"
                                compile="::reading.content"></em>
                          </span>
                          <ul>
                            <li ng-repeat="attr in ::reading.attributes._keys track by $index"
                                ng-if="::attr !== 'xml:id'">
                                <span class="moreInfo-label">{{ ::attr }}</span> {{ ::reading.attributes.values[attr] }}
                            </li>
                          </ul>
                      </li>

                      <li
                        class="app_reading_content"
                        ng-repeat="reading in ::vm.content.notSignificantReadings track by $index"
                        ng-if="::(reading.attributes._keys.length > 1 || reading.attributes._keys.length === 1 && reading.attributes._keys.indexOf('xml:id') < 0)">
                          <span>
                            {{ 'CRITICAL_APPARATUS.METADATA_FOR' | translate }}
                            <em
                                class="app_reading"
                                compile="::reading.content"></em>
                          </span>
                          <ul>
                            <li ng-repeat="attr in reading.attributes._keys track by $index">
                                <span class="moreInfo-label">{{ ::attr }}</span> {{ ::reading.attributes.values[attr] }}
                            </li>
                          </ul>
                      </li>
                  </ul>
                </div>
                <div ng-switch-when="xmlSource">
                  <pre>{{ ::vm.content[tab] | prettyXml }}</pre>
                </div>
                <div ng-switch-default
                     compile="::vm.content[tab]">
                </div>
          </div>
      </div>
  </div>
</div>
