<div 
  class="critical-apparatus-entry"
  ng-mouseover="vm.toggleOverAppEntries($event);"
  ng-mouseout="vm.toggleOverAppEntries($event)"
  ng-class="{'noTools': scopeViewMode !== 'collation' && !vm.isPinAvailable()}">
  <div class="critical-apparatus-entry_main-content">
      <span 
        class="app_lemma"
        ng-if="vm.content.lemma.content !== ''"
        compile="vm.content.lemma.content"></span>      
    
    <div class="critical-apparatus-entry_tools"
      ng-if="scopeViewMode === 'collation' || vm.isPinAvailable()">
      <button-switch 
            title="Remove Pin"
            ng-if="vm.isPinAvailable() && vm.type === 'pinned'"
            data-label=""
            data-icon="remove"
            data-type="pinReading"
            ng-click="vm.togglePin()"></button-switch>
      <button-switch 
            title="Toggle Pin"
            ng-if="vm.isPinAvailable() && vm.type === 'default'"
            data-label=""
            data-icon="pin"
            data-type="pinReading"
            ng-class="{'active' : vm.isPinned()}"
            ng-click="vm.togglePin()"></button-switch>
      <button-switch 
            title="Align Readings"
            ng-if="vm.type === 'default' && scopeViewMode === 'collation'"
            data-label=""
            data-icon="v-align"
            data-type="alignReadings"
            ng-click="vm.alignReadings()"></button-switch>
    </div>
    <div class="critical-apparatus-entry_main_content_list">
            <span 
              class="app_reading"
              ng-if="vm.witnessesGroups.length === 0"
              ng-repeat="reading in vm.content.significantReadings" 
              compile="reading.content"></span>
              <ul 
                class="app_reading_list"
                ng-if="vm.witnessesGroups.length > 0">
                <li ng-repeat="group in vm.witnessesGroups">
                    <span ng_if="group.groupName !== '' && group.content !== undefined">{{group.groupName}}:</span>
                    <span compile="group.content"></span>
                </li>
             </ul>
        </div>
  </div>
  <div class="critical-apparatus-entry_other-content"
       ng-if="vm.tabs._indexes.length > 0">

      <div 
        class="critical-apparatus-entry_other-content_headers"
        ng-class="{'closed': vm._subContentOpened === ''}">
          <span ng-repeat="tab in vm.tabs._indexes"
                ng-click="vm.toggleSubContent(tab)"
                ng-class="{'active' : vm._subContentOpened == tab }">
                {{ vm.tabs[tab].label }}
          </span>
      </div>
      <div 
        class="critical-apparatus-entry_other-content_panels"
        ng-class="{'closed': vm._subContentOpened === ''}">
          <div class="critical-apparatus-entry_other-content_panel"
                ng-repeat="tab in vm.tabs._indexes"
                ng-class="{'active' : vm._subContentOpened == tab}"
                ng-switch="tab">
                <div ng-switch-when="notSignificantReadings">
                  <ul>
                      <li ng-repeat="reading in vm.content.notSignificantReadings" compile="reading.content"></li>
                  </ul>
                </div>
                <div ng-switch-when="moreInfo">
                  <span class="app_lemma">
                    Metadata for lemma "<em 
                        ng-if="vm.content.lemma.content !== ''"
                        compile="vm.content.lemma.content"></em>"
                  </span>
                  <ul ng-if="(vm.content.attributes._keys.length > 1 || vm.content.attributes._keys.length === 1 && vm.content.attributes._keys.indexOf('xml:id') < 0)">
                      <li ng-repeat="attr in vm.content.attributes._keys"
                          ng-if="attr !== 'xml:id'">
                          <span class="moreInfo-label">{{attr}}</span> {{vm.content.attributes.values[attr]}}
                      </li>
                  </ul>
                  <ul ng-if="(vm.content.attributes._keys.length <= 0 || vm.content.attributes._keys.length === 1 && vm.content.attributes._keys.indexOf('xml:id') > 0)">
                    <li><em>No data available</em></li></ul>
                  
                  <span class="moreInfo-metadataTitle">More info about the apparatus entry</span>
                  <ul>
                      <li 
                        class="app_lemma"
                        class="app_reading_content"
                        ng-if="(vm.content.lemma.attributes._keys.length > 1 || vm.content.lemma.attributes._keys.length === 1 && vm.content.lemma.attributes._keys.indexOf('xml:id') < 0)">
                          <span>
                            Metadata for 
                            <em 
                                ng-if="vm.content.lemma.content !== ''"
                                compile="vm.content.lemma.content"></em> 
                          </span>
                          <ul>
                            <li ng-repeat="attr in vm.content.lemma.attributes._keys"
                                ng-if="attr !== 'xml:id'">
                                <span class="moreInfo-label">{{attr}}</span> {{vm.content.lemma.attributes.values[attr]}}
                            </li>
                          </ul>
                      </li>

                      <li 
                        class="app_reading_content"
                        ng-repeat="reading in vm.content.significantReadings"
                        ng-if="(reading.attributes._keys.length > 1 || reading.attributes._keys.length === 1 && reading.attributes._keys.indexOf('xml:id') < 0)">
                          <span>
                            Metadata for 
                            <em 
                                class="app_reading"
                                compile="reading.content"></em> 
                          </span>
                          <ul>
                            <li ng-repeat="attr in reading.attributes._keys"
                                ng-if="attr !== 'xml:id'">
                                <span class="moreInfo-label">{{attr}}</span> {{reading.attributes.values[attr]}}
                            </li>
                          </ul>
                      </li>

                      <li 
                        class="app_reading_content"
                        ng-repeat="reading in vm.content.notSignificantReadings"
                        ng-if="(reading.attributes._keys.length > 1 || reading.attributes._keys.length === 1 && reading.attributes._keys.indexOf('xml:id') < 0)">
                          <span>
                            Metadata for 
                            <em 
                                class="app_reading"
                                compile="reading.content"></em> 
                          </span>
                          <ul>
                            <li ng-repeat="attr in reading.attributes._keys">
                                <span class="moreInfo-label">{{attr}}</span> {{reading.attributes.values[attr]}}
                            </li>
                          </ul>
                      </li>
                  </ul>
                </div>
                <div ng-switch-when="xmlSource">
                  <pre>{{ vm.content[tab] | prettyXml }}</pre>
                </div>
                <div ng-switch-default
                     compile="vm.content[tab]">
                </div>
          </div>
      </div>
  </div>
</div>