<script type="text/javascript" src="src/visColl/SaxonJS.min.js"></script>
<section class="visCollWrapper">
	<div ng-repeat="svg in vm.svgs track by $index" class="visCollContainer">
		<div id="visCollValue" type="image/svg+xml" compile="svg.outerHTML" class="svg"></div>
		</div>
	<div ng-repeat="page in vm.pagesCollection" class="imageContainer">
		<img ng-src="images/immagini/singole/{{vm.pagesCollection[$index+1]}}.jpg"  type="image" class="viscollImage"></img>
		<!-- <img ng-src="images/{{vm.pagesCollection[$xml:id===svg.svgId]}}.jpg ng-hide="svg.svgId === ''></img> -->
	</div>
</section>