<script type="text/javascript" src="src/visColl/SaxonJS.min.js"></script>
<section class="visCollWrapper">
	<select>
		<option value="#" selected>Quires</option>
		<option ng-repeat="svg in vm.svgCollection.svgs track by $index" ng-hide="$last" value="[$index]"></option>
	</select>
	<div ng-repeat="svg in vm.svgCollection.svgs"> 
	<div id="visCollValue" type="image/svg+xml" 
	compile="vm.totSvg[$index].outerHTML" ng-hide="$last">
		{{vm.displayResult()}}</div>
	</div>
	<p>{{vm.conjoinToImage()}}</p>
	<p>{{vm.unit()}}</p>
</section>