<!--div id='tdhop' class='box-tdhop'-->
<div id="tdhop" class="tdhop" onmousedown="if (event.preventDefault) event.preventDefault()"><div id="tdhlg"></div>
	<div id="toolbar" style="position:absolute;">
		<img id="home" class="viewer3dhopBtn" ng-click="actionOnViewer('home')" title="Home" src="js-plugins/tdhop/skins/dark/home.png"/><br/>
		<!--ZOOM ng-click="actionOnViewer('zoomin')"-->
		<img id="zoomin" class="viewer3dhopBtn"  title="Zoom In" src="js-plugins/tdhop/skins/dark/zoomin.png"/><br/>
		<img id="zoomout" class="viewer3dhopBtn" ng-click="actionOnViewer('zoomout')" title="Zoom Out" src="js-plugins/tdhop/skins/dark/zoomout.png"/><br/>
		<!--ZOOM-->
      <!--LIGHT-->
      <img id="lighting_off" class="viewer3dhopBtn" ng-click="actionOnViewer('lighting_off')" title="Enable Lighting" src="js-plugins/tdhop/skins/dark/lighting_off.png" style="position:absolute; visibility:hidden;"/>
		<img id="lighting" class="viewer3dhopBtn" ng-click="actionOnViewer('lighting')" title="Disable Lighting"  src="js-plugins/tdhop/skins/dark/lighting.png"/><br/>
		<img id="light_on" class="viewer3dhopBtn" ng-click="actionOnViewer('light_on')" title="Disable Light Control" src="js-plugins/tdhop/skins/dark/lightcontrol_on.png" style="position:absolute; visibility:hidden;"/>
		<img id="light" class="viewer3dhopBtn" ng-click="actionOnViewer('light')" title="Enable Light Control"  src="js-plugins/tdhop/skins/dark/lightcontrol.png"/><br/>
      <!--LIGHT-->
      <img id="perspective" class="viewer3dhopBtn"  ng-click="actionOnViewer('perspective')" title="Perspective Camera"    src="js-plugins/tdhop/skins/dark/perspective.png"     style="position:absolute; visibility:hidden;"/>
      <img id="orthographic" class="viewer3dhopBtn"  ng-click="actionOnViewer('orthographic')" title="Orthographic Camera"   src="js-plugins/tdhop/skins/dark/orthographic.png"    /><br/>
      <!--COLOR-->
		<img id="color_on" class="viewer3dhopBtn" ng-click="actionOnViewer('color_on')" title="Model color" src="js-plugins/tdhop/skins/dark/color_on.png" style="position:absolute; visibility:hidden;"/>
		<img id="color" class="viewer3dhopBtn" ng-click="actionOnViewer('color')" title="Solid color" src="js-plugins/tdhop/skins/dark/color.png"/><br/>
		<!--COLOR-->
		<!--MEASURE-->
		<img id="measure_on" class="viewer3dhopBtn" ng-click="actionOnViewer('measure_on')" title="Disable Measure Tool" src="js-plugins/tdhop/skins/dark/measure_on.png" style="position:absolute; visibility:hidden;"/>
		<img id="measure" class="viewer3dhopBtn" ng-click="actionOnViewer('measure')" title="Enable Measure Tool" src="js-plugins/tdhop/skins/dark/measure.png"/><br/>
		<!--MEASURE-->
		<!--POINT PICKING-->
		<img id="pick_on" class="viewer3dhopBtn" ng-click="actionOnViewer('pick_on')" title="Disable PickPoint Mode" src="js-plugins/tdhop/skins/dark/pick_on.png" style="position:absolute; visibility:hidden;"/>
		<img id="pick" class="viewer3dhopBtn" ng-click="actionOnViewer('pick')" title="Enable PickPoint Mode" src="js-plugins/tdhop/skins/dark/pick.png"/><br/>
		<!--POINT PICKING-->
		<!--SECTIONS-->
		<img id="sections_on" class="viewer3dhopBtn" ng-click="actionOnViewer('sections_on')" title="Disable Plane Sections" src="js-plugins/tdhop/skins/dark/sections_on.png" style="position:absolute; visibility:hidden;"/>
		<img id="sections" class="viewer3dhopBtn" ng-click="actionOnViewer('sections')" title="Enable Plane Sections" src="js-plugins/tdhop/skins/dark/sections.png"/><br/>
		<!--SECTIONS-->
		<!--FULLSCREEN-->
		<img id="full_on" class="viewer3dhopBtn" ng-click="actionOnViewer('full_on')" title="Exit Full Screen" src="js-plugins/tdhop/skins/dark/full_on.png" style="position:absolute; visibility:hidden;"/>
		<img id="full"  ng-click="actionOnViewer('full')" title="Full Screen" src="js-plugins/tdhop/skins/dark/full.png"/>
   </div>
   <!--MEASURE-->
   <div id="measure-box" ng-click="onEndMeasure('measure-box')" class="output-box">Measured length<hr/><span id="measure-output" ng-click="onEndMeasure('measure-output')" class="output-text" onmousedown="event.stopPropagation()">0.0</span></div>
   <!--MEASURE-->

   <!--POINT PICKING-->
   <div id="pickpoint-box" ng-click="onEndPick('pickpoint-box')" class="output-box">XYZ picked point<hr/><span id="pickpoint-output" ng-click="onEndMeasure('pickpoint-output')" class="output-text" onmousedown="event.stopPropagation()">[ 0 , 0 , 0 ]</span></div>
   <!--POINT PICKING-->

   <!--SECTIONS-->
   <div id="sections-box" ng-click="sectiontoolInit" class="output-box">
      <table class="output-table" onmousedown="event.stopPropagation()">
      <tr><td>Plane</td><td>Position</td><td>Flip</td></tr>
      <tr>
         <td><img   id="xplane_on"    title="Disable X Axis Section" src="js-plugins/tdhop/skins/icons/sectionX_on.png" onclick="sectionxSwitch()" style="position:absolute; visibility:hidden; border:1px inset;"/>
            <img   id="xplane"       title="Enable X Axis Section"  src="js-plugins/tdhop/skins/icons/sectionX.png"  onclick="sectionxSwitch()"/><br/></td>
         <td><input id="xplaneSlider" class="output-input"  type="range"    title="Move X Axis Section Position"/></td>
         <td><input id="xplaneFlip"   class="output-input"  type="checkbox" title="Flip X Axis Section Direction"/></td></tr>
      <tr>
         <td><img   id="yplane_on"    title="Disable Y Axis Section" src="js-plugins/tdhop/skins/icons/sectionY_on.png" onclick="sectionySwitch()" style="position:absolute; visibility:hidden; border:1px inset;"/>
            <img   id="yplane"       title="Enable Y Axis Section"  src="js-plugins/tdhop/skins/icons/sectionY.png"  onclick="sectionySwitch()"/><br/></td>
         <td><input id="yplaneSlider" class="output-input"  type="range"    title="Move Y Axis Section Position"/></td>
         <td><input id="yplaneFlip"   class="output-input"  type="checkbox" title="Flip Y Axis Section Direction"/></td></tr>
      <tr>
         <td><img   id="zplane_on"    title="Disable Z Axis Section" src="js-plugins/tdhop/skins/icons/sectionZ_on.png" onclick="sectionzSwitch()" style="position:absolute; visibility:hidden; border:1px inset;"/>
            <img   id="zplane"       title="Enable Z Axis Section"  src="js-plugins/tdhop/skins/icons/sectionZ.png"  onclick="sectionzSwitch()"/><br/></td>
         <td><input id="zplaneSlider" class="output-input"  type="range"    title="Move Y Axis Section Position"/></td>
         <td><input id="zplaneFlip"   class="output-input"  type="checkbox" title="Flip Z Axis Section Direction"/></td></tr></table>
      <table class="output-table" onmousedown="event.stopPropagation()" style="text-align:right;">
      <tr>
      <td>Show planes<input id="showPlane" class="output-input" type="checkbox" title="Show Section Planes" style="bottom:-3px;"/></td>
      <td>Show edges<input  id="showBorder" class="output-input" type="checkbox" title="Show Section Edges" style="bottom:-3px;"/></td></tr></table>
   </div>
   <!--SECTIONS-->
   <canvas id="draw-canvas" style="background-image: url(js-plugins/tdhop/skins/backgrounds/light.jpg);"></canvas>
</div>
<!--/div-->
