/* ************************* */

/* EVT 2.0 CUSTOM STYLESHEET */

/* ***************************************************************** */

/*                                                                   */

/* Add here your CSS to customize the style of the elements          */

/* If you'll not see any changes, try adding !important to the rule  */

/*                                                                   */

/* For generic TEI elements, use the tagName as class                */

/* e.g. <del/> => .del{ # your style goes here # }                   */

/*                                                                   */

/* ***************************************************************** */

.highlight {
   /* opacity: 0.4; */
   /* filter: alpha(opacity=40);*/
   /*outline: 10px auto red; */
   /* #0A7EbE; */
   /*background-color: greenyellow;*/
   border: 1px solid #4c2f2f;
   background-color: #c67261;
   opacity: 0.4;
   filter: alpha(opacity=40);
   /* For IE8 and earlier */
}

.selectedHighlight {
   filter: alpha(opacity=50);
   /*outline: 10px auto red;*/
   /* #0A7EbE; */
   /*background-color: greenyellow;*/
   border: 1px solid #4c2f2f;
   background-color: #9c4837;
   opacity: 0.5;
}

.nohighlight {
   display: none;
}

div.hotspot {
   filter: alpha(opacity=50);
   /*outline: 10px auto red;*/
   /* #0A7EbE; */
   /*background-color: greenyellow;*/
   border: 1px solid #4c2f2f;
   background-color: #9c4837;
   opacity: 0.5;
}
div.hotspot:hover {
    cursor: help;

 }

a.hotspot {
   width: 30px;
   height: 30px;
}

img.hotspot {
   width: 30px !important;
   height: 30px !important;
   display: block !important;
}

div.hotspot-dida {
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #4E443C;
    border-radius: 2px;
    padding: 0;
    text-align: left;
}

div.hotspot-dida-title {
    height: 20px;
    color: #bebaba;
    cursor: move;
    margin: 0;
    text-align: center;
    width: 100%;
    background-color: #4E443C;
}

div.hotspot-dida-body {
    border-top: 2px solid #4E443C;
    font-size: 16px;
    overflow-y: scroll;
    text-align: justify;
    padding: 2px;
}


div#osd-img * img {
    display: block !important;
}
/* regola per la demo in arabo */

/*#mainContentToTranform { */

/*     direction: rtl; */

/* }*/

/* regole per rotulo */

span.buttonSwitch[title="Thumbnails"],
/*span.buttonSwitch[title="Information about this text"],*/
/*span.buttonSwitch[title="Informazioni su questo testo"],*/ 
span.buttonSwitch[title="Miniature"] {
   display: none;
}


.fa-times{
   float: right;
}


.fa-times:hover{
   cursor: pointer;
}
