<section class="box box-{{vm.type}}" data-position="left">
    <div class="box-menu" data-position="top">
        <evt-select 
            data-id="{{selector.id}}"
            data-type="{{selector.type}}"
            data-witness="{{selector.witness}}"
            ng-repeat="selector in vm.topMenuList.selectors">
        </evt-select>
        <button-switch 
            title="{{button.title}}"
            data-label="{{button.label}}"
            data-icon="{{button.icon}}"
            data-type="{{button.type}}"
            ng-repeat="button in vm.topMenuList.buttons">
        </button-switch>
    </div>
    <div class="box-body" id="box_body_{{vm.uid}}" compile="vm.content"></div>
    <div 
        class="box-bottom-box filters"
        ng-if="vm.type=='witness' || vm.state.edition=='critical'"
        ng-class="{'open': vm.state.filterBox}">
        
        <div class="filters__witnesses"
             ng-if="vm.state.edition=='critical'">
            <div>
                <input 
                    type="checkbox" 
                    value="" 
                    name="witness_any"
                    checked="checked"
                    ng-click="vm.toggleCriticalAppFilter('wit', '');"/>
                <label for="witness_any"> any</label>
            </div>
            <div ng-repeat="witness in vm.appFilters">
                <div ng-if="vm.appFilters[witness].type=='witness'">
                    <input 
                        type="checkbox" 
                        value="{{vm.appFilters[witness].id}}" 
                        name="{{vm.appFilters[witness].id}}" 
                        ng-click="vm.toggleCriticalAppFilter('wit', vm.appFilters[witness].id);" 
                        data-type="vm.appFilters[witness].type"/>
                    <label for="{{vm.appFilters[witness].id}}"> 
                        {{vm.appFilters[witness].id}} - {{vm.appFilters[witness].name }}
                    </label>
                </div>
                <div ng-if="vm.appFilters[witness].type=='group'">
                    <input 
                        type="checkbox" 
                        value="{{vm.appFilters[witness].id}}" 
                        name="{{vm.appFilters[witness].id}}" 
                        ng-click="vm.toggleCriticalAppFilter('wit', vm.appFilters[witness].id);"
                        data-type="vm.appFilters[witness].type"/>
                    <label for="{{vm.appFilters[witness].id}}"> 
                        {{vm.appFilters[witness].id}} - {{vm.appFilters[witness].name }}
                    </label>
                    <div ng-repeat="subWitness in vm.appFilters[witness].content" style="margin-left:20px;">
                        <input 
                            type="checkbox" 
                            value="{{vm.appFilters[witness].content[subWitness].id}}" 
                            name="{{vm.appFilters[witness].content[subWitness].id}}" 
                            ng-click="vm.toggleCriticalAppFilter('wit', vm.appFilters[witness].content[subWitness].id);" 
                            data-type="vm.appFilters[witness].content[subWitness].type"
                            data-group="witness"/>
                        <label for="{{vm.appFilters[witness].content[subWitness].id}}"> 
                            {{vm.appFilters[witness].content[subWitness].id}} - {{vm.appFilters[witness].content[subWitness].name }}
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="filters__reading"
             ng-if="vm.type=='witness'"
             ng-repeat="filter in vm.appFilters">
            <div class="filters-section-title">{{filter.name}}</div>
            <div>
                <input 
                    type="checkbox" 
                    value="" 
                    name="{{filter.name}}_any"
                    ng-checked="vm.state.filters[filter.name] === undefined || vm.state.filters[filter.name].any" 
                    ng-model="vm.state.filters[filter.name].any"
                    ng-click="vm.clearFilter(filter.name);"
                    />
                <label for="{{filter.name}}_any"> any {{ vm.state.filters[filter.name].active }}</label>
            </div>
            <div ng-repeat="value in filter.values">
                <input 
                    type="checkbox" 
                    value="{{value}}" 
                    name="{{value}}"
                    ng-checked="vm.state.filters[filter.name].values[value].active !== undefined && vm.state.filters[filter.name].values[value].active"
                    ng-click="vm.toggleCriticalAppFilter(filter.name, value);"
                    />
                <label for="{{value}}"> {{value}}</label>
            </div>
        </div>
    </div>
    <div 
        class="box-menu" 
        data-position="bottom" >
        <button-switch 
            title="Filters"
            data-label="Filters"
            data-type="filterReading"
            ng-if="vm.type=='witness' || vm.state.edition=='critical'"
            ng-click="vm.toggleFilterBox()">
        </button-switch>
    </div>
</section>