<section class="box box-{{vm.type}}" data-position="left">
    <div class="box-menu" data-position="top">
        <evt-select 
            data-id="{{selector.id}}"
            data-type="{{selector.type}}"
            ng-repeat="selector in vm.topMenuList.selectors">
        </evt-select>
        <!--<selector data-id="Pages" ng-if="boxtitle==='image'"></selector>
        <selector data-id="Documents" ng-if="boxtitle==='text'"></selector>
        <selector data-id="EditionLevels" ng-if="boxtitle==='text'"></selector>-->
        <button-switch 
            title="{{button.title}}"
            data-label="{{button.label}}"
            ng-repeat="button in vm.topMenuList.buttons">
        </button-switch>
    </div>
    <div class="box-body" id="box_body_{{vm.uid}}" compile="vm.content"></div>
    <div 
        class="box-bottom-box filters"
        ng-if="vm.type=='witness' || vm.subtype=='critical'">
        <div class="filters__witnesses"
             ng-if="vm.subtype=='critical'">
            <div ng-repeat="filter in vm.appFilters">
                <input 
                    type="checkbox" 
                    value="{{filter.value}}" 
                    name="{{filter.value}}" 
                    ng-click="vm.toggleCriticalAppFilter('wit', filter.value);"
                    />
                <label for="{{filter.value}}"> {{filter.label}} - {{filter.title }}</label>
            </div>
        </div>

        <div class="filters__reading"
             ng-if="vm.type=='witness'"
             ng-repeat="filter in vm.appFilters">
            <div class="filters-section-title">{{filter.name}}</div>
            <div ng-repeat="value in filter.values">
                <input 
                    type="checkbox" 
                    value="{{value}}" 
                    name="{{value}}" 
                    ng-click="vm.toggleCriticalAppFilter(filter.name, value);"
                    />
                <label for="{{value}}"> {{value}}</label>
            </div>
        </div>
    </div>
    <div class="box-menu" data-position="bottom">
        <!-- <button-switch 
            title="Filters"
            data-label="Filters"
            ng-if="vm.type=='witness'">
        </button-switch> -->
    </div>
</section>